<h1>Listing userds</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userds.each do |userd| %>
  <tr>
    <td><%= link_to 'Show', userd %></td>
    <td><%= link_to 'Edit', edit_userd_path(userd) %></td>
    <td><%= link_to 'Destroy', userd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userd', new_userd_path %>
