<% items(@user).reverse_each do |item| %>
  <div class="item" id="<%= item_id(item) %>">

    <div class="item_image">
      <%= item_image(item) %>
    </div>

    <div class="item_quantity">
      <div class="quantity_number"><%= item_stock(item) %></div>
    </div>

    <div class="item_description">
      <div class="text">
        <%= description(item) %>
      </div>
    </div>

    <%# if id(@user) == id(current_user) %>
      <!-- <div class="item_options">
        <%#= link_to "editar producto",
          edit_user_item_path(current_user,item),
          :remote => true,
          :class => "btn btn-small disable" %>
      </div> -->
    <%# end %>

  </div>
<% end %>