= form_for [current_user,offer] do |form|
  .message-zone
    = form.text_area :message,
                     :placeholder => "Enter your initial message...",
                     :size => "10x5",
                     :maxlength => "200",
                     :class => "message",
                     :required => false

  = form.submit "Save", class: 'send-button'
