- content_for :navigation
  .menu_icon
    /= link_to friends_menu_icon,      
      /user_profile_path(current_user),
      /remote => true,                 
      /id => "link_profile"            
  .menu_icon
    /= link_to products_menu_icon,   
      /user_items_path(current_user),
      /remote => true,               
     /id => "link_items"            
  .menu_icon
    /= link_to negotiations_menu_icon,
      /user_alerts_path(current_user),
      /remote => true,                
      /id => "link_items"             
  .menu_icon
    /= link_to deals_menu_icon,      
      /user_deals_path(current_user),
     /remote => true,               
     / id => "link_items"            
