<% if (user_alerts.count != 0)%>
  <% user_alerts.each do |request| %>
    <div class="user_alert">
      <div class="profile_image">
        <%= request_image(request) %>            
      </div>
      <div class="description">
        <%= request_text(request) %>
      </div>
      <div class="options_menu">
        <%= link_to "Offer me!!",
            {:controller => "users",
            :action => "show",
            :id => request_user_id(request)},
            {:id => "alert_button",
            :class => "btn btn-small btn-danger hidden_container"}
        %>          
      </div>
    </div>    
  <% end %>
<% else %>
  <p>El usuario no tiene ninguna alerta actualmente</p>
<% end %>