.business_info{
  @extend %element;
  @include placement(position: "valor", float: "valor", zindex: "valor")
  @include fixing(top: "valor", right: "valor", bottom: "valor", left: "valor")
  @include displaying(display: "valor", overflow: "valor")
  @include dimensions(height: "valor", width: "valor")
  @include spacing(margin: "valor" "valor" "valor" "valor", padding: "valor" "valor" "valor" "valor")
  // @extend %expanded;
  // text-align: center;
  // float: left;
}

