.business-info-dashboard {
  float: left;

  color: $text-font-color;

  background-color: $white-bgcolor;
  text-align: center;

  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @extend %dashboard-component-title;
}
