.business-info-dashboard {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);

  float: left;
  background-color: $white-bgcolor;
  .info {
    @include box-sizing(border-box);

    width: 100%;
    padding: $business-info-dashboard-padding;
    text-align: $business-info-dashboard-text-align;

    font-weight: regular;
    font-size: $big-font-size;
    color: $grey-font-color;
  }
}
