.business_info {
}

.welcome_business_info {
  @extend .business_info;
}

.dashboard_business_info {
  @extend .business_info;

  @extend .element;
  display: block;
  padding: $ppal-element-margin;
  text-align: center;

  @extend %dashboard_component_title;
}
