.dashboard {
  @include box-shadow($dashboard-shadow);
  @include border-radius($dashboard-radius, $dashboard-radius);
  @include box-sizing(border-box);

  float: left;
  width: $dashboard-width;
  background-color: $dashboard-bgcolor;

  .container {
    @include box-sizing(border-box);

    float: left;
    width: 100%;
    padding: $element-padding;
  }
}


.bezel {
  @include border-radius(5px 5px 0px 0px);

  float: left;
  width: 100%;
  height: $top-container-bezel-height;
  background-color: $white-bgcolor;
}
