.dashboard {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  background-color: $white-bgcolor;
  background-color: $container-bgcolor;

  .bezel {
    background-color: $white-bgcolor;
  }
}
