.dashboard {
    @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
@include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);

  float: left;
  width: 25%;
  background-color: $container-bgcolor;
  .bezel {
    @include border-radius(5px 5px 0px 0px);

    float: left;
    height: $top-container-bezel-height;
    width: 100%;
    background-color: $white-bgcolor;
  }
  .container {
    @include box-sizing(border-box);

    float: left;
    width: 100%;
    padding: $element-padding;
  }
}

.dashboard-component-title {
  @include box-sizing(border-box);

  width: 100%;
  padding: 5px 0 0 0;
  text-align: center;

  @extend %white-big-font;
  @include box-sizing(border-box);

  float: left;
  height: 30px;
  width: 100%;
  background-color: $grey-bgcolor;
}
