.dashboard {
  @extend .element;
  overflow: auto;
  overflow-y: hidden;
  background-color: $container-bgcolor;
  width: 25%;

  .bezel {
    width: 100%;
    height: 30px;
    background-color: $white-bgcolor;
  }

  .container {
    float: left;
    overflow: auto;
    overflow-y: hidden;
    padding: $element-padding;

    //> .profile_card;
    //> .request_list;
    //> .dashboard_business_info;
  }
}
