.deal {
  @extend %element;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  margin: $ppal-element-margin;
  //_padding: ;


  // @extend %expanded;
  // @include placement(float: left);
  // @include displaying(display: relative, overflow: auto);
  // @include spacing(margin: "0px 0px 10px 0px");
}
