.expositor {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);

  float: right;
  overflow: visible;
  width: $expositor-width;
  background-color: $container-bgcolor;
}

.element-list {
  float: left;
  overflow: auto;
  padding: $element-padding - $expositor-element-margin;
}

nav.navigation {
  float: left;
  overflow: auto;
  height: $top-container-bezel-height;
  width: 100%;
  background-color: $white-bgcolor;
  li {
    @include box-sizing(border-box);

    float: left;
    height: 100%;
    padding-top: $expositor-navigation-lib-padding-top;
    font-size: $medium-font-size;
    font-weight: regular;
    color: $grey-font-color;

    border-right: $expositor-navigation-lib-border-right;
  }
}
