@import "variables";

.expositor{
  @extend %container;
  @include placement(float: right);
  @include displaying(overflow: auto);
  @include dimensions(width: "73.5%");
  @include spacing(padding: "10px");
}

// nav.navigation{}
