.good{
  @extend .element;

  .image{}

  .amount{}

  .name{}

  .controls{}
}


.preview{
  @include border-radius(5px, 5px);
  background-color: white;
  border: 1px solid rgb(170,170,170);
  width: 300px;
  height: 300px;
  img{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
}

.image_selection_area{
  width: 48%;
  float: left;
  div{
    float: left;
  }
}

.preview_box{
  float: left;
  width: 120px;
  height: 100px;
  margin-right: 8px;
  margin-bottom: 60px;
}

.add_image_container{
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 4px;
  img{
    float: left;
    width: 120px;
    height: 120px;
    background-color: white;
  }
}


.label.preview_label{
  @include box-sizing(border-box);
  float: left;
  margin-right: 3px;
  background-color: black;
  text-align: center;
  color: white;
  width: 25px;
  height: 25px;
  padding-top: 3px;
  z-index: 10;
  font-weight: bolder;
}

.filebutton{
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  input{
    float: left;
    width: 25px;
    height: 25px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
  }
}


#pan{
  overflow: hidden;
}


.preview_label{
  position: relative;
}
