@import "variables";

%good{
  @extend %element;
  @include placement(float: left);
  @include displaying(overflow: auto);
  @include spacing(margin: "0px 5px 0px 0px");

  .image{
    @extend %expanded;
    @include spacing(margin: "0px 0px 5px 0px");
  }

  .amount{
    @include dimensions(height: "25px", width: "80%");
    @extend %centered;
  }

  .name{
    @include dimensions(height: "25px", width: "80%");
    @extend %centered;
  }

  .controls{
    @include dimensions(height: "25px", width: "80%");
    @extend %centered;
  }
}


.item{
  @extend %good;
}

.product{
  @extend %good;
}

.cash{
  @extend %good;
}
