.good {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0 -1px 2px);
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  float: left;
  background-color: $white-bgcolor;
}


.item {
  @extend .good;
  margin: $item-margin;
  padding: $item-padding;
  width: $item-image-width;
}

.good-image {
  @include box-sizing(border-box);
  float: left;
  overflow: auto;
}

@mixin product($width) {
  .product {
    @include box-sizing(border-box);
    float: left;
    margin: $product-margin;
    background-color: $white-bgcolor;
    width: $width - 10px;
    max-width: $width - 10px;
  }
}
