%good {
  @extend %element;
  margin: $good-bottom-margin;
  width: auto;

  .image {
    width: 100%;
  }

  .amount {
    width: 100%;
    height: $good-data-heigth;
  }

  .name {
    width: 100%;
    height: $good-data-heigth;
  }

  .controls {
    width: 100%;
    height: $good-data-heigth;
  }
}


.item {@extend %good;}

.product {@extend %good;}

.cash {@extend %good;}

.item_form{
  margin-top: 5px;
  overflow: auto;
}
