.good {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);

  float: left;
  background-color: $white-bgcolor;
}


.item {
  @extend .good;

  width: $item-image-width;
  margin: $item-margin;
  padding: $item-padding;
  .image {
    @include box-sizing(border-box);

    float: left;
    overflow: auto;
    img {
      @include border-radius(5px 5px 0px 0px);
      @include box-sizing(border-box);

      height: $item-image-size;
      width: $item-image-size;
      border: $item-image-border;
    }
  }
}

@mixin product($width) {
  .product {
    @include box-sizing(border-box);

    float: left;
    width: $width - 10px;
    max-width: $width - 10px;
    margin: $product-margin;
    background-color: $white-bgcolor;
    .image-big {
      @include box-sizing(border-box);

      float: left;
      overflow: auto;
      img {
        @include border-radius(5px 5px 0px 0px);
        @include box-sizing(border-box);

        height: 155px;
        width: 155px;
        border: $product-image-border;
      }
    }
    .image-small {
      @include box-sizing(border-box);

      float: left;
      overflow: auto;
      img {
        @include border-radius(5px 5px 0px 0px);
        @include box-sizing(border-box);

        height: 60px;
        width: 60px;
        border: $product-image-border;
      }
    }
  }
}
