.good {
  @extend .element;

  margin: $good-bottom-margin;
  width: auto;
  color: $text-font-color;
}

.item {
  @extend .good;

 .image {
    width: 100%;
  }

  .name {
    width: 100%;
    height: $good-data-heigth;
  }

  .controls {
    width: 100%;
    height: $good-data-heigth;
  }
}

.product {
  @extend .good;

  .name {
    width: 100%;
    height: $good-data-heigth;
  }
}

.composer_product {
  @extend .product;

  .image { //completar
    width: 100%;
  }
}

.receiver_product {
  @extend .product;

  .image { //completar
    width: 100%;
  }
}

// .selectable_product {
//   @extend .product;

//   .image { //completar
//     width: 100%;
//   }
// }

.cash {
  @extend .good;

  .amount {
    width: 100%;
    height: $good-data-heigth;
  }
}

.composer_cash {
  @extend .cash;

  .image { //completar
    width: 100%;
  }
}

.receiver_cash {
  @extend .cash;

  .image { //completar
    width: 100%;
  }
}

// .selectable_cash {
//   @extend .cash;

//   .image { //completar
//     width: 100%;
//   }
// }
