%good {
  @extend %element;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  //_margin: ;
  //_padding: ;


  // @include placement(float: left);
  // @include displaying(overflow: auto);
  // @include spacing(margin: "0px 5px 0px 0px");

  // .image {
  //   @extend %expanded;
  //   @include spacing(margin: "0px 0px 5px 0px");
  // }

  // .amount {
  //   @include dimensions(height: "25px", width: "80%");
  //   @extend %centered;
  // }

  // .name {
  //   @include dimensions(height: "25px", width: "80%");
  //   @extend %centered;
  // }

  // .controls {
  //   @include dimensions(height: "25px", width: "80%");
  //   @extend %centered;
  // }
}


.item {
  @extend %good;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  //_margin: ;
  //_padding: ;

}

.product {
  @extend %good;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  //_margin: ;
  //_padding: ;
}

.cash {
  @extend %good;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  //_margin: ;
  //_padding: ;
}
