%good {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);

  float: left;
  background-color: $white-bgcolor;
}


.item {
  @extend %good;

  width: $item-image-width;
  margin: 0 10px 10px 0;
  padding: 5px;
  .image {
    @extend %default-image-container;
    @include upper-rounded-corners-image(155px);
  }
  .name {
    @extend %text-container;
    @extend %grey-big-font;
  }
  .controls {
    float: left;
    width: 100%;
  }
}

.product{
  @extend %good;

  width: $item-image-width;
  margin: 0 10px 10px 0;
  padding: 5px;

  .image-big {
    @extend %default-image-container;
    @include upper-rounded-corners-image(155px);
  }
  .image-small {
    @extend %default-image-container;
    @include upper-rounded-corners-image(60px);
  }
  .name {
    @extend %text-container;
    @extend %grey-big-font;
  }
}
