%good {
  color: $grey-font-color;

  background-color: $white-bgcolor;

  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
}


.item {
  float: left;

  width: $item-image-width;

  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 5px;

  @extend %good;
  .image {
    float: left;

    width: 100%;

    @include box-sizing(border-box);
    img {
      height: 100%;
      width: 100%;

      border: 1px solid #bbb;

      @include box-sizing(border-box);
    }
  }
  .name {
    float: left;

    overflow: none;

    width: 100%;
    max-height: 40px;

    margin: 0 0 0 0;
    padding: 8px;

    @include box-sizing(border-box);
    .text {
      float: left;

      overflow: none;

      width: 100%;

      font-size: 11px;

      text-align: center;
    }
  }
}
