.login {
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0 -1px 2px);
  display: block;
  float: none;
  background-color: $white-bgcolor;
  margin: $margin-auto;
  color: $grey-font-color;
  font-size: $medium-font-size;
  font-weight: regular;
}
