.offer {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);

  float: left;
  width: $offer-width;
  margin: $expositor-element-margin;
  background-color: $white-bgcolor;

  .message-zone{
    float: left;
    width: 100%;
    overflow: auto;
    background-color: $grey-bgcolor;

    .message {
      @include box-sizing(border-box);

      min-height: $offer-message-min-height;

      float: left;
      width: 100%;

      padding: $centered-text-padding;
      text-align: $offer-message-text-align;

      font-weight: regular;
      font-size: $medium-font-size;
      color: $grey-font-color;

      background: $offer-controls-background;
    }

  }

}
