.offer {
  @extend %element;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  margin: $ppal-element-margin;
  //_padding: ;


  // @include placement(position: relative, float: left);
  // @include displaying(overflow: auto);
  // @include dimensions(width: "300px");
  // @include spacing(margin: "0px 5px 5px 0px", padding: "valor" "valor" "valor" "valor");

  .title {
    padding: $title-padding;
    // @include spacing(margin: "0px", padding: "5px");
    // @extend %expanded;
  }

  .message {
    padding: $text-box-padding;
    // @include dimensions(height: "25px", width: "80%");
    // @extend %centered;
  }

  .controls {
    padding: $button-box-padding;
    // @include dimensions(height: "25px", width: "80%");
    // @extend %centered;
  }
}
