.offer{
  @extend %element;
  @include placement(position: relative, float: left);
  @include displaying(overflow: auto);
  @include dimensions(width: "300px");
  @include spacing(margin: "0px 5px 5px 0px", padding: "valor" "valor" "valor" "valor");

  .title{
    @include spacing(margin: "0px", padding: "5px");
    @extend %expanded;
  }

  .message{
    @include dimensions(height: "25px", width: "80%");
    @extend %centered;
  }

  .controls{
    @include dimensions(height: "25px", width: "80%");
    @extend %centered;
  }
}
