.offer {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);

  float: left;
  width: 285px;
  margin: $expositor-element-margin;
  background-color: $white-bgcolor;

  .title {
    overflow: none;
    height: 25px;

    background-color: rgb(243,243,243);
    border-bottom: 1px solid $grey-border-color;

    @include centered-text-container(5px 0px 0px 0px);
    @extend %grey-medium-font;

  }

  .message {
    @include left-aligned-text-container(100%);
    @extend %grey-medium-font;
  }

  .controls {
    float: left;
  }

}
