.offer {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
  @include border-radius(5px, 5px);

  float: left;
  width: 285px;
  margin: $expositor-element-margin;
  background-color: $white-bgcolor;

  .title {
    float: left;
    overflow: none;
    height: 25px;

    background-color: rgb(243,243,243);
    border-bottom: 1px solid $grey-border-color;

    @include centered-text-container(5px 0px 0px 0px);

    font-weight: regular;
    font-size: $medium-font-size;
    color: $grey-font-color;
  }

  .message-zone{
    float: left;
    width: 100%;
    overflow: auto;
    background-color: $grey-bgcolor;

    .message {
      min-height: 50px;
      @include left-aligned-text-container(100%);

      font-weight: regular;
      font-size: $medium-font-size;
      color: $grey-font-color;

      background: transparent;
    }

    .controls {
      float: left;
      width: 100%;
      padding: 5px;
      @include box-sizing(border-box);

      background: transparent;
    }

  }

}
