%offer {
  .offer {
    @extend .element;
    width: 300px;
    margin: $ppal-element-margin;

    .title {
      padding: $title-padding;
      width: 100%;
    }

    @extend %proposal;
    //> .offer_avatar;

    .message {
      padding: $text-box-padding;
    }

    .controls {
      padding: $button-box-padding;
    }
  }
}
