.omnibar {
  @extend %element;
  box-shadow: none;
  background-color: transparent;
  border: 0px;
  width: 100%;
  display: inline;
  padding: $container-padding;

  div, nav{
    float: left;
    display: inline;
  }

  .avatar{
    padding-top: 5px;
    width: 15%;
  }

  .logo {
    width: 5%;
    margin-right: $omnibar-components-margin;
  }

  .navigation_controls{
    padding-top: 5px;
    text-align: center;
    width: 40%;
    margin-right: $omnibar-components-margin;
  }

  .search{
    background-color: transparent;
    margin-top: 10px;
    width: 20%;
    text-align: right;
  }

  .inline_logout{
    float: right;
    padding-top: 10px;
    margin-right: 0px;
    width: 5%;
    text-align: right;
  }

}


