.omnibar {
  @extend %element;
  box-shadow: none;
  background-color: transparent;
  border: 0px;
  width: 100%;
  display: inline;
  padding: $container-padding;

  div, nav{
    float: left;
    display: inline;
  }

  .avatar{
    width: 15%;
  }

  .logo {
    width: 5%;
    margin-right: $omnibar-components-margin;
  }

  .navigation_controls{
    text-align: center;
    width: 30%;
    margin-right: $omnibar-components-margin;
  }

  .search{
    width: 20%;
  }

  .inline_logout{
    width: 5%;
  }

}


