.omnibar {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  width: 100%;
  padding: $container-padding;
  background-color: transparent;
  .navigation-controls {
    float: left;
    width: 35%;
    text-align: center;
  }
}
