@import "variables";

.omnibar{
  @extend %container;
  @extend %expanded;
  @include placement(float: left);
  @include fixing(top: 0, left: 0);
  @include displaying(display: inline, overflow: auto);
  @include spacing(margin: "0px 0px 10px 0px", padding: "5px 10px");
}

// .logo{
// }

// .navigation_controls{
//   float: left;
// }
