.profile-card {
  @include border-radius($profile-card-border-radius, $profile-card-border-radius);
  @include box-sizing(border-box);
  @include box-shadow($profile-card-box-shadow);
  display: block;
  float: left;
  margin: $profile-card-margin;
  background-color: $profile-card-bgcolor;
  width: 100%;
}

.user-card {
  @include box-sizing(border-box);
  float: left;
  padding: $element-padding;
  width: 100%;
}

.make-offer-control {
  @include box-sizing(border-box);
  position: relative;
  top: 0;
  width: 100%;
  overflow: auto;
}
