.profile-card {
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  @extend %grey-shadow;

  float: left;
  display: block;
  width: 100%;
  margin: $ppal-element-margin;
  background-color: $white-bgcolor;
  .head-image {
    img {
      @include border-radius(5px 5px 0px 0px);

      display: block;
      width: 100%;
    }
  }
}

.user-card {
  @include box-sizing(border-box);

  float: left;
  width: 100%;
  padding: $element-padding;
}



.make-offer-control {
  @include box-sizing(border-box);
  @extend %warning-button;

  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
}
