.profile-card {
  float: left;

  display: block;

  width: 100%;

  margin: $ppal-element-margin;

  background-color: $white-bgcolor;

  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  @extend %grey-shadow;
  .head-image {
    img {
      display: block;

      width: 100%;

      @include border-radius(5px 5px 0px 0px);
    }
  }
}

.user-card {
  float: left;

  width: 100%;

  padding: $element-padding;

  @include box-sizing(border-box);
}



.make-offer-control {
  float: left;

  overflow: auto;

  width: 100%;

  @include box-sizing(border-box);

  @extend %warning-button;

}
