.profile-card {
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);

  float: left;
  display: block;
  width: 100%;
  margin: $profile-card-margin;
  background-color: $profile-card-bgcolor;
  .head-image {
    img {
      @include border-radius($profile-card-head-image-radius);

      display: block;
      width: 100%;
    }
  }
}

.user-card {
  @include box-sizing(border-box);

  float: left;
  width: 100%;
  padding: $element-padding;
}



.make-offer-control {
  @include box-sizing(border-box);

  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
}
