.profile_card {
  @extend %element;
  display: block;
  margin: $ppal-element-margin;

  div{
    margin: $profile-card-element-margin;
  }
}

//.head_image {}

//.user_card {}

//.requester {}

//.make_offer_control {}
