.request-list {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @extend %dashboard-component-title;

  float: left;

  width: 100%;

  margin: $ppal-element-margin;

  background-color: $white-bgcolor;
}
