.request {
  float: $request-flotation;

  width: $request-width;

  margin-top: $request-margin;
  padding: $request-padding;

  @include box-sizing(border-box);

  border-bottom: $request-border-bottom;
  .text {
    float: left;

    width: 80%;

    padding: 0 5px 0 5px;

    @extend %grey-medium-font;
    @include box-sizing(border-box);
  }
  .controls {
    float: right;

    width: 100%;

    padding-right: 5px;

    font-size: $small-font-size;
    color: blue;

    text-align: right;

    @include box-sizing(border-box);
  }
}
