.request {
  @include box-sizing(border-box);

  float: $request-flotation;
  width: $request-width;
  margin-top: $request-margin;
  padding: $request-padding;

  border-bottom: $request-border-bottom;
  .text {
    @include box-sizing(border-box);

    float: left;
    width: 100%;

    width: 80%;
    padding: 0 5px 0 5px;
    text-align: left;

    font-weight: regular;
    font-size: $medium-font-size;
    color: $grey-font-color;
  }
  .controls {
    @include box-sizing(border-box);

    float: right;
    width: 100%;
    padding-right: 5px;
    font-size: $small-font-size;
    color: blue;
    text-align: right;
  }
}
