.request {
  @include box-sizing(border-box);

  float: left;

  width: 100%;

  margin-top: 5px;
  padding: 0 5px 0 5px;

  border-bottom: 1px solid $grey-border-color;
  .text {
    @include box-sizing(border-box);

    float: left;

    width: 80%;

    padding: 0 5px 0 5px;

    font-size: $medium-font-size;
    color: $text-font-color;
  }
  .controls {
    @include box-sizing(border-box);

    float: right;

    width: 100%;

    padding-right: 5px;

    font-size: $small-font-size;
    color: blue;

    text-align: right;
  }
}
