.request_list {
  @extend %element;

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  margin: $ppal-element-margin;
  //_padding: ;


  // @extend %expanded;
  // @include placement(position: relative, float: left);
  // @include displaying(display: block, overflow: auto);
  // @include spacing(padding: "0px");
}

// .requests {}
