.request-list {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @extend %dashboard-component-title;

  float: $request-list-flotation;
  width: $request-list-width;
  margin: $ppal-element-margin;
  background-color: $white-bgcolor;
}
