%request {
  .request {
    @extend .element;
    padding: $message-box-padding;
    border: none;
    border-bottom: 1px solid $grey-border-color;
    border-radius: 0px;
    overflow: hidden;

    //> .request_card_avatar;

    .text {
      float: left;
      color: $text-font-color;
      font-size: $medium-font;
    }

    .controls {
      width: 100%;
      float: left;
      padding-right: $additional-control-padding;
      color: $text-font-color;
      font-size: $small-font;
      a {float: right; margin-right: 5px;}
    }
  }
}
