.request_list {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  width: 100%;
  position: relative;
  float: left;
  overflow: auto;
  background-color: $white-bgcolor;
  display: block;
  margin: $ppal-element-margin;

  @extend %dashboard_component_title;
  //> .request;
}
