div class="media #{yield_content :media_class}"
  img class="media-image #{yield_content :media_image_class}" src= (yield_content :img_url)
  div class="media-body #{yield_content :media_body_class}"
    = yield_content :body
