/ - content_for :face
/   - if data.face_hash[:shape] == 'rounded'
/     = rounded_image_tag(data.face_hash[:public_id], data.face_hash[:width], data.face_hash[:height])
/   - else
/     = squared_image_tag(data.face_hash[:public_id], data.face_hash[:width], data.face_hash[:height])

/ - content_for :data
/   - data.data_array.each do |data|
/     div
/       = data
