.l_panel
  padding: 10px 10px 0px 10px
  margin-bottom: 10px
  float: left

.l_panel_top_fixed
  @extend .l_panel
  top: 0px

.l_panel_bottom_fixed
  @extend .l_panel
  margin-bottom: 0px

.l_component
  margin-bottom: 10px

.l_component_inline
  @extend .l_component
  margin-right: 10px

.l_component_centered
  @extend .l_component

