//Basic view structure panels
.lPanel
  @include box-sizing(border-box)
  overflow: auto
  padding: 10px 20px 0px 20px
  margin-bottom: 10px
  float: left
  position: relative

.lPanel_top
  @extend .lPanel
  top: 0px

.lPanel_bottom
  @extend .lPanel
  margin-bottom: 0px

.lPanel_centered
  position: relative
  margin: auto
  overflow: auto
  top: 0
  left: 0
  bottom: 0
  right: 0


//Main information containers
.lContainer
  margin-bottom: 10px

.lContainerSon
  float: left
