//Paneles que componen la estructura básica de una vista
.lPanel
  
  padding: 10px 10px 0px 10px
  margin-bottom: 10px
  float: left

.lPanel_top
  @extend .lPanel
  top: 0px

.lPanel_bottom
  @extend .lPanel
  margin-bottom: 0px


//Contenedores principales de información
.lContainer
  margin-bottom: 10px

.lContainer_inline
  @extend .lContainer
  margin-right: 10px

.lContainer_centered
  @extend .lContainer


