%element{
  // @include placement(position: "valor", float: "valor", zindex: "valor")
  // @include fixing(top: "valor", right: "valor", bottom: "valor", left: "valor")
  // @include displaying(display: "valor", overflow: "valor")
  // @include dimensions(height: "valor", width: "valor")
  // @include spacing(margin: "valor" "valor" "valor" "valor", padding: "valor" "valor" "valor" "valor")
  // @include box-shadow(rgba(0,0,0,0.40) 0px 1px 2px);
  // @include border-radius(5px, 5px);
  // border: 1px solid rgb(220,220,220);
  // background-color: rgba(236,240,241,0.5);
}
