body {
  @include box-sizing(border-box);
  display: $body-display;
  overflow: $body-overflow;
  overflow-y: $body-overflow-y;
  float: $body-float;
  width: $body-width;
  background-color: $body-background-color;
  margin: $body-margin;
  padding: $body-padding;
  line-height: $body-line-height;
  font-family: $body-font-family;
}

.main {
  @include box-sizing(border-box);
  overflow: $main-overflow;
  float: $main-float;
  width: $main-width;
  padding: $main-padding;
}

nav {
  height: auto;
}

li {
  @include inline-block;
}


a {
  @include unstyled-link;
  height: 100%;
  padding: $nav-link-padding;
}

.active-nav {
  background-color: $active-nav-background-color;

  a {
    color: $active-nav-color;
    font-size: $active-nav-font-size;
    font-weight: $active-nav-font-weight;
  }
}

// .progress_bar {
//   height: 50px;
//   width: 0;
//   background: red;
// }

textarea {
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  height: auto;
  font-family: $body-font-family;
  resize: none;
}

textarea:focus {
  outline: none !important;
}

input {
  @include border-radius(5px, 5px);
  font-family: $body-font-family;
}

// .hidden {
//   visibility: hidden;
// }
