body {
  @include box-sizing(border-box);

  float: left;

  display: block;
  overflow: auto;
  overflow-y: scroll;

  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Roboto';
  font-size: $default-font-size;
  font-weight: normal;
  line-height: 18px;
  color: white;

  background-color: $body-bgcolor;
}

.main {
  @include box-sizing(border-box);

  float: left;

  overflow: auto;

  width: 100%;

  padding: $container-padding;
}


nav {
  height: auto;

  li {
    display: inline-block;

    a{
      padding: 0 10px;
      height: 100%;
    }
  }
}

.active_nav {
  background-color: $nav-selected;
  a {
    color: $white-font-text;
  }
}

a {
  @include unstyled-link;
}

// input {
//   @include border-radius(5px, 5px);
// }

// .progress_bar {
//   height: 50px;
//   width: 0;

//   background: red;
// }

textarea {
  float: left;

  height: auto;
  width: 100%;

  resize: none;
}

textarea:focus {
  outline: none !important;
}

// .hidden {
//   visibility: hidden;
// }

// //> .welcome_business_info;
