body
  padding: 0px 10px 0px 10px
  display: block
  overflow: auto
  width: 100%
  float: left
  margin: 0px
  padding: 0px
  background-color: rgb(100,152,173)
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll
  color: white
  font-size: 15px
  font-family: Verdana, Arial, Helvetica, sans-serif
  line-height: 18px


nav
  height: 100%
  color: black
  li
    display: inline-block
    height: 100%
    padding: 0px 10px

.active_nav
  background-color: rgb(100,152,173)


a
  @include unstyled-link
  display: block
  height: 100%


input
  @include border-radius(5px, 5px)

.progress_bar
  height: 50px
  width: 0px
  background: red

textarea
  width: 100%
  resize: none
