body{
  @include box-sizing(border-box);
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  float: left;
  background-color: $body-bgcolor;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  color: white;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: normal;
  line-height: 18px;
}

.main{
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  padding: 10px;
}


nav{
  height: 100%;
  color: black;
  li{
    display: inline-block;
    height: 100%;
    padding: 0px 10px;
  }
}


.active_nav{
  background-color: rgb(100,152,173);
}


a{
  //@include unstyled-link;
  display: block;
  height: 100%;
}


input{
  @include border-radius(5px, 5px);
}

.progress_bar{
  height: 50px;
  width: 0px;
  background: red;
}

textarea{
  width: 100%;
  resize: none;
}

.hidden{
  visibility: hidden;
}
