body {
  @include box-sizing(border-box);

  float: $body-float;
  display: $body-display;
  overflow: $body-overflow;
  overflow-y: $body-overflow-y;
  width: $body-width;
  margin: $body-margin;
  padding: $body-padding;
  font-family: $body-font-family;
  line-height: $body-line-height;
  background-color: $body-background-color;
}

.main {
  @include box-sizing(border-box);

  float: $main-float;
  overflow: $main-overflow;
  width: $main-width;
  padding: $main-padding;
}


nav {
  height: auto;
}



li {
  display: inline-block;
}



a {
  @include unstyled-link;

  height: 100%;
  padding: $nav-link-padding;
}



.active_nav {
  background-color: $active_nav-background-color;
  a {
    font-size: $active_nav-font-size;
    font-weight: $active_nav-font-weight;
    color: $active_nav-color;
  }
}


// .progress_bar {
//   height: 50px;
//   width: 0;

//   background: red;
// }

textarea {
  float: left;
  height: auto;
  width: 100%;
  resize: none;
  font-family: $body-font-family;
}


textarea:focus {
  outline: none !important;
}


input{
  font-family: $body-font-family;
  @include border-radius(5px, 5px);
}

// .hidden {
//   visibility: hidden;
// }

// //> .welcome_business_info;
