body{
  @include box-sizing(border-box);
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  float: left;
  background-color: $body-bgcolor;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  color: white;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: normal;
  line-height: 18px;
}

.main{
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: 100%;
  padding: $container-padding;
}

nav{
  height: 100%;
  color: black;
  li{
    display: inline-block;
    height: 100%;
    padding: 0px 10px;
  }
}

.active_nav{
  background-color: $nav-selected;
  a{color: $white-font-text;}
}

a{
  //@include unstyled-link;
  display: block;
  height: 100%;
  @include unstyled-link;
}

input{
  @include border-radius(5px, 5px);
}

.progress_bar{
  height: 50px;
  width: 0px;
  background: red;
}

textarea{
  float: left;
  width: 100%;
  height: auto;
  resize: none;
}

textarea:focus {
    outline: none !important;
    border:1px solid blue;
}

.hidden{
  visibility: hidden;
}

//> .welcome_business_info;
