body {
  @include box-sizing(border-box);
  display: $body-display;
  float: $body-float;
  margin: $body-margin;
  background-color: $body-background-color;
  padding: $body-padding;
  width: $body-width;
  overflow: $body-overflow;
  line-height: $body-line-height;
  font-family: $body-font-family;

  overflow-y: $body-overflow-y;
}

.main {
  @include box-sizing(border-box);
  float: $main-float;
  padding: $main-padding;
  width: $main-width;
  overflow: $main-overflow;
}


nav {
  height: auto;
}



li {
  display: inline-block;
}



a {
  @include unstyled-link;
  padding: $nav-link-padding;
  height: 100%;
}



.active_nav {
  background-color: $active-nav-background-color;
  a {
    color: $active-nav-color;
    font-size: $active-nav-font-size;
    font-weight: $active-nav-font-weight;
  }
}


// .progress_bar {
//   height: 50px;
//   width: 0;

//   background: red;
// }

textarea {
  float: left;
  width: 100%;
  height: auto;
  font-family: $body-font-family;

  resize: none;
}


textarea:focus {
  outline: none !important;
}


input {
  @include border-radius(5px, 5px);
  font-family: $body-font-family;
}

// .hidden {
//   visibility: hidden;
// }

// //> .welcome_business_info;
