// body{

  //PLACEMENT
  //_position: ;
  //_float: ;
  //_z-index: ;

  //FIXING
  //_top: ;
  //_right: ;
  //_bottom: ;
  //_left: ;

  //DISPLAYING
  //_display: ;
  //_overflow: ;

  //DIMENSIONS
  //_height: ;
  //_width: ;

  //SPACING
  //_margin: ;
  //_padding: ;

//   padding: 0px 10px 0px 10px;
//   display: block;
//   overflow: auto;
//   width: 100%;
//   float: left;
//   margin: 0px;
//   padding: 0px;
//   background-color: rgb(100,152,173);
//   overflow: -moz-scrollbars-vertical;
//   overflow-y: scroll;
//   color: white;
//   font-size: 15px;
//   font-family: "Roboto";
//   font-size: 12;
//   font-weight: normal;
//   line-height: 18px;
// }

// .main{
//   @extend %expanded;
// }


// nav{
//   height: 100%;
//   color: black;
//   li{
//     display: inline-block;
//     height: 100%;
//     padding: 0px 10px;
//   }
// }


// .active_nav{
//   background-color: rgb(100,152,173);
// }


// a{
//   @include unstyled-link;
//   display: block;
//   height: 100%;
// }


// input{
//   @include border-radius(5px, 5px);
// }

// .progress_bar{
//   height: 50px;
//   width: 0px;
//   background: red;
// }

// textarea{
//   width: 100%;
//   resize: none;
// }

// .hidden{
//   visibility: hidden;
// }

div{
  position: relative;
  float: left;
  overflow: auto;
}
