body {
  @include box-sizing(border-box);

  float: left;

  display: block;
  overflow: vertical;
  overflow-y: scroll;

  width: 100%;
  max-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: 'Roboto';
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;

  background-color: $body-bgcolor;
  color: white;
}

// .main {
//   @include box-sizing(border-box);

//   float: left;

//   overflow: auto;

//   width: 100%;

//   padding: $container-padding;
// }

// nav {
//   height: 100%;

//   color: black;
//   li {
//     display: inline-block;

//     height: 100%;

//     padding: 0 10px;
//   }
// }

// .active_nav {
//   background-color: $nav-selected;
//   a {
//     color: $white-font-text;
//   }
// }

// a {
//   @include unstyled-link;
//   //@include unstyled-link;

//   display: block;

//   height: 100%;
// }

// input {
//   @include border-radius(5px, 5px);
// }

// .progress_bar {
//   height: 50px;
//   width: 0;

//   background: red;
// }

// textarea {
//   float: left;

//   height: auto;
//   width: 100%;

//   resize: none;
// }

// textarea:focus {
//   border: 1px solid blue;

//   outline: none !important;
// }

// .hidden {
//   visibility: hidden;
// }

// //> .welcome_business_info;
