.button {
  input {
    @include bold-font($big-font-size, $white-font-color);
    @include border-radius(5px, 5px);

    float: left;
    height: $button-height;
    width: 100%;
    border: none;
  }
}

.warning-button {
  @extend .button;
  input {
    background-color: $red-button-bgcolor;
  }
}

.control-button {
  @extend .button;
  input {
    background-color: $grey-button-bgcolor;
  }
}

.send-button {
  @extend .button;
  input {
    float: right;
    height: 20px;
    width: auto;
    margin-top: 4px;
    background-color: $blue-button-bgcolor;
  }
}
