%button {
  @include border-radius(5px, 5px);
  float: left;
  width: 100%;
  height: $button-height;
  border: 0;
  color: $white-font-color;
  font-family: $body-font-family;
  font-size: $big-font-size;
  font-weight: bold;
}

.warning-button {
  @extend %button;
  background-color: $red-button-bgcolor;
}

.save-button {
  @extend %button;
  @include border-radius(0, 0);
  background-color: $green-button-bgcolor;
}

.control-button {
  @extend %button;
  background-color: $grey-button-bgcolor;
}

.send-button {
  @extend %button;
  float: right;
  width: auto;
  height: $send-button-height;
  background-color: $blue-button-bgcolor;
  margin-top: $send-button-margin-top;
}

.leave_negotiation_control {
  //
}

.proposal_controls {
  //
}


.send_message_control {
  //
}
