.button {
  @include border-radius(5px, 5px);

  float: left;
  height: $button-height;
  width: 100%;
  border: none;
  font-size: $big-font-size;
  font-weight: bold;
  color: $white-font-color;
}

.warning-button {
  @extend .button;

  background-color: $red-button-bgcolor;
}

.control-button {
  @extend .button;

  background-color: $grey-button-bgcolor;
}

.send-button {
  @extend .button;

  float: right;
  height: $send-button-height;
  width: auto;
  margin-top: $send-button-margin-top;
  background-color: $blue-button-bgcolor;
}
