%body-font {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

%grey-small-font {
  font-size: $small-font-size;
  color: $grey-font-color;

  @extend %body-font;
}

%grey-medium-font {
  font-size: $medium-font-size;
  color: $grey-font-color;

  @extend %body-font;
}

%grey-medium-bold-font {
  font-weight: bold;

  @extend %grey-medium-font;
}

%grey-big-font {
  font-size: $big-font-size;
  color: $grey-font-color;

  @extend %body-font;
}

%black-big-font {
  font-size: $big-font-size;
  color: $black-font-color;

  @extend %body-font;
}

%white-medium-font {
  font-size: $medium-font-size;
  color: $white-font-color;

  @extend %body-font;
}

%white-medium-bold-font {
  font-weight: bold;

  @extend %white-medium-font;
}

%white-big-font {
  font-size: $big-font-size;
  color: $white-font-color;

  @extend %body-font;
}
