%body-font{
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

%grey-small-font{
  @extend %body-font;
  font-size: $small-font-size;
  color: $grey-font-color;
}

%grey-medium-font{
  @extend %body-font;
  font-size: $medium-font-size;
  color: $grey-font-color;
}

%grey-medium-bold-font{
  @extend %grey-medium-font;
  font-weight: bold;
}

%grey-big-font{
  @extend %body-font;
  font-size: $big-font-size;
  color: $grey-font-color;
}

%black-big-font{
  @extend %body-font;
  font-size: $big-font-size;
  color: $black-font-color;
}

%white-medium-font{
  @extend %body-font;
  font-size: $medium-font-size;
  color: $white-font-color;
}

%white-medium-bold-font{
  @extend %white-medium-font;
  font-weight: bold;
}

%white-big-font{
  @extend %body-font;
  font-size: $big-font-size;
  color: $white-font-color;
}

