.font {
  font-family: $body-font-family;
  line-height: $body-line-height;
}

@mixin regular-font($size, $color) {
  @extend .font;

  font-weight: regular;
  font-size: $size;
  color: $color;
}

@mixin regular-font($size, $color) {
  @extend .font;

  font-weight: bold;
  font-size: $size;
  color: $color;
}
