.logo-image {
  float: left;
  width: $logo-image-width;
  height: $logo-image-height;
}

.icon-image {
  width: $icon-image-width;
  height: $icon-image-height;
}

.omnibar-user-image {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $omnibar-user-image-width;
  height: $omnibar-user-image-height;
}

.profile-card-composition-image {
  @include border-radius($profile-card-head-image-radius);
  display: block;
  width: 100%;
}

.profile-card-user-image {
  @include box-sizing(border-box);
  @include border-radius(50%, 50%);
  width: 100%;
  height: 100%;
  border: $profile-card-user-image-border;
}

.selector-user-image {
  @include border-radius(50%, 50%);
  width: $message-user-image-width;
  height: $message-user-image-height;
  border: 1px solid #000;
}

.request-user-image {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $request-user-image-height;
  height: $request-user-image-height;
}

.offer-user-image {
  @include border-radius(50%, 50%);
  width: 100%;
  height: 100%;
  border: $offer-user-image-border;
}

.negotiation-user-image {
  @include border-radius(50%, 50%);
  width: $negotiation-user-image-width;
  height: $negotiation-user-image-height;
}

.deal-user-image {
  @include border-radius(50%, 50%);
  width: $deal-user-image-width;
  height: $deal-user-image-height;
}

.message-user-image {
  @include border-radius(50%, 50%);
  width: $message-user-image-width;
  height: $message-user-image-height;
}

.previewer-model-image {
  width: $previewer-ppal-image-size;
  height: $previewer-ppal-image-size;
}

.showcase-choice-image {
  width: $showcase-snapshot-image-size;
  height: $showcase-snapshot-image-size;
}

.showcase-display-image {
  width: $showcase-ppal-image-size;
  height: $showcase-ppal-image-size;
}

%good-image {
  @include box-sizing(border-box);
  @include border-radius(5px);
  float: left;
  border: $good-image-border;
}

%good-image-big {
  @extend %good-image;
  width: $good-image-big-width;
  height: $good-image-big-height;
}

%good-image-small {
  @extend %good-image;
  width: $good-image-small-width;
  height: $good-image-small-height;
}

.item-selector-image {
  @extend %good-image-big;
}

.item-showcase-image {
  @extend %good-image-big;
}

.product-composer-image {
  @extend %good-image-big;
}

.product-receiver-image {
  @extend %good-image-small;
}

.cash-selector-image {
  @extend %good-image-big;
}

.cash-composer-image {
  @extend %good-image-big;
}

.cash-receiver-image {
  @extend %good-image-small;
}
