@mixin rounded-image($size) {
  img {
    @include border-radius(50%, 50%);

    height: $size;
    width: $size;
  }
}
@mixin squared-image($size) {
  img {
    height: $size;
    width: $size;
  }
}

@mixin upper-rounded-corners-image($width, $height: null) {
  @include border-radius(5px 5px 0px 0px);

  width: $width;
  @if $height {
    height: $height;
  }
  @else {
    height: $width;
  }
}

@mixin full-rounded-corners-image($width, $height: null) {
  @include border-radius(5px);

  width: $width;
  @if $height {
    height: $height;
  }
  @else {
    height: $width;
  }
}
