.logo-image {
  height: 40px;
  width: 150px;
}

.omnibar-user-image {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  height: $omnibar-avatar-image-size;
  width: $omnibar-avatar-image-size;
}

.request-user-image {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  height: $request-avatar-size;
  width: $request-avatar-size;
}

.icon-image {
  height: 35px;
  width: 35px;
}

.composer-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0px 0px);

  float: left;
  overflow: auto;
  height: 155px;
  width: 155px;
  border: $product-image-border;
}

.receiver-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0px 0px);

  float: left;
  overflow: auto;
  height: 60px;
  width: 60px;
  border: $product-image-border;
}

.profile-card-composition-image {
  @include border-radius($profile-card-head-image-radius);

  display: block;
  width: 100%;
}

.profile-card-user-image {
  @include box-sizing(border-box);
  @include border-radius(50%, 50%);

  height: 100%;
  width: 100%;
  border: 1px solid $grey-border-color;
}
