.logo-image {
  float: left;
  height: 40px;
  width: 150px;
}

.omnibar-user-image {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  height: $omnibar-avatar-image-size;
  width: $omnibar-avatar-image-size;
}

.request-user-image {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  height: $request-avatar-size;
  width: $request-avatar-size;
}

.icon-image {
  height: 35px;
  width: 35px;
}

.composer-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0px 0px);

  float: left;
  overflow: auto;
  height: 155px;
  width: 155px;
  border: $product-image-border;
}

.receiver-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0px 0px);

  float: left;
  overflow: auto;
  height: 60px;
  width: 60px;
  border: $product-image-border;
}

.profile-card-composition-image {
  @include border-radius($profile-card-head-image-radius);

  display: block;
  width: 100%;
}

.profile-card-user-image {
  @include box-sizing(border-box);
  @include border-radius(50%, 50%);

  height: 100%;
  width: 100%;
  border: 1px solid $grey-border-color;
}

.negotiation-user-image {
  @include border-radius(50%, 50%);

  height: 64px;
  width: 64px;
}

.deal-user-image {
  @include border-radius(50%, 50%);

  height: 64px;
  width: 64px;
}

.message-user-image {
  @include border-radius(50%, 50%);

  height: 40px;
  width: 40px;
}

.offer-user-image {
  @include box-sizing(border-box);
  @include border-radius(50%, 50%);

  height: 100%;
  width: 100%;
  border: 1px solid $grey-border-color;
}

.good-image {
  @include border-radius(5px 5px 0px 0px);
  @include box-sizing(border-box);

  height: $item-image-size;
  width: $item-image-size;
  border: $item-image-border;
}

.factory-model-image {
  height: 300px;
  width: 300px;
}

.factory-snapshot-image {
  height: 80px;
  width: 80px;
}

.showcase-choice-image {
  height: 120px;
  width: 120px;
}

.showcase-display-image {
  height: 500px;
  width: 500px;
}
