.logo-image {
  height: 40px;
  width: 150px;
}

.omnibar-user-image {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  height: $omnibar-avatar-image-size;
  width: $omnibar-avatar-image-size;
}
