@mixin bordered-rounded-image($size) {
  img {
    @include box-sizing(border-box);
    @include border-radius(50%, 50%);
    border: 1px solid $grey-border-color;
    height: $size;
    width: $size;
  }
}

@mixin squared-image($size) {
  img {
    height: $size;
    width: $size;
  }
}

@mixin upper-rounded-corners-image($width, $height: null) {
  img {
    @include border-radius(5px 5px 0px 0px);
    @include box-sizing(border-box);
    border: 1px solid $grey-border-color;

    width: $width;
    @if $height {
      height: $height;
    }
    @else {
      height: $width;
    }
  }
}

@mixin full-rounded-corners-image($width, $height: null) {
  img {
    @include border-radius(5px);
    @include box-sizing(border-box);
    border: 1px solid $grey-border-color;

    width: $width;
    @if $height {
      height: $height;
    }
    @else {
      height: $width;
    }
  }
}
