%default-image-container {
  @include box-sizing(border-box);
  float: left;
  overflow: auto;
  //padding: ;
}

@mixin clip-image-container($size) {
  position: relative;
  top: -($size)*0.75;

  height: $size;
  width: $size;

  margin: 0 auto;
  padding: 6px;

  background-color: $white-bgcolor;

  @include box-sizing(border-box);
  @include border-radius($size/2, $size/2);
}
