.logo-image {
  float: left;
  width: $logo-image-width;
  height: $logo-image-height;
}

.omnibar-user-image {
  @include box-sizing(border-box);
  float: left;
  width: $omnibar-user-image-width;
  height: $omnibar-user-image-height;
  overflow: auto;
}

.request-user-image {
  @include box-sizing(border-box);
  float: left;
  width: $request-user-image-height;
  height: $request-user-image-height;
  overflow: auto;
}

.icon-image {
  width: $icon-image-width;
  height: $icon-image-height;
}

.composer-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0 0);
  float: left;
  border: $composer-good-image-border;
  width: $composer-good-image-width;
  height: $composer-good-image-height;
  overflow: auto;
}

.receiver-good-image {
  @include box-sizing(border-box);
  @include border-radius(5px 5px 0 0);
  float: left;
  border: $receiver-good-image-border;
  width: $receiver-good-image-width;
  height: $receiver-good-image-height;
  overflow: auto;
}

.profile-card-composition-image {
  @include border-radius($profile-card-head-image-radius);
  display: block;
  width: 100%;
}

.profile-card-user-image {
  @include box-sizing(border-box);
  @include border-radius(50%, 50%);
  border: $profile-card-user-image-border;
  width: 100%;
  height: 100%;
}

.negotiation-user-image {
  @include border-radius(50%, 50%);
  width: $negotiation-user-image-width;
  height: $negotiation-user-image-height;
}

.deal-user-image {
  @include border-radius(50%, 50%);
  width: $deal-user-image-width;
  height: $deal-user-image-height;
}

.message-user-image {
  @include border-radius(50%, 50%);
  width: $message-user-image-width;
  height: $message-user-image-height;
}

.offer-user-image {
  border: $offer-user-image-border;
  width: 100%;
  height: 100%;
}

.good-image {
  border: $item-image-border;
  width: $item-image-size;
  height: $item-image-size;
}

.factory-model-image {
  width: $factory-model-image-width;
  height: $factory-model-image-height;
}

.factory-snapshot-image {
  width: $factory-snapshot-image-width;
  height: $factory-snapshot-image-height;
}

.showcase-choice-image {
  width: $showcase-choice-image-width;
  height: $showcase-choice-image-height;
}

.showcase-display-image {
  width: $showcase-display-image-width;
  height: $showcase-display-image-height;
}
