@mixin upper-rounded-corners-image($width, $height: null) {
  img {
    @include border-radius(5px 5px 0px 0px);
    @include box-sizing(border-box);

    width: $width;
    border: 1px solid $grey-border-color;
    @if $height {
      height: $height;
    }
    @else {
      height: $width;
    }
  }
}

@mixin full-rounded-corners-image($width, $height: null) {
  img {
    @include border-radius(5px);
    @include box-sizing(border-box);

    width: $width;
    border: 1px solid $grey-border-color;
    @if $height {
      height: $height;
    }
    @else {
      height: $width;
    }
  }
}
