.user-data {
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  padding: $user-data-padding;
  text-align: $user-data-text-align;
  color: $user-data-color;
  font-size: $user-data-font-size;
  font-weight: $user-data-font-weight;
}

.user-nick {
  @include box-sizing(border-box);
  width: 100%;
  padding: $user-nick-padding;
  text-align: $user-nick-text-align;
  color: $user-nick-color;
  font-size: $user-nick-font-size;
  font-weight: $user-nick-font-weight;
}

.user-location {
  @include box-sizing(border-box);
  width: 100%;
  padding: $user-location-padding;
  text-align: $user-location-text-align;
  color: $user-location-color;
  font-size: $user-location-font-size;
  font-weight: $user-location-font-weight;
}

.message-text {
  @include box-sizing(border-box);
  float: left;
  padding: $message-text-padding;
  text-align: $message-text-text-align;
  color: $message-text-color;
  font-size: $message-text-font-size;
  font-weight: $message-text-font-weight;

  flex: auto;
}

.title {
  @include box-sizing(border-box);
  overflow: none;
  float: left;
  width: 100%;
  height: $title-height;
  background-color: $title-background-color;
  padding: $title-padding;
  text-align: $title-text-align;
  color: $title-color;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  //border-bottom:  $title-border-bottom;
}

.controls {
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  height: $request-controls-height;
  padding: $controls-padding;
  text-align: $controls-text-align;
  color: $controls-color;
  font-size: $controls-font-size;
  font-weight: $controls-font-weight;
  a {
    padding-left: 0;
    padding-right: 0;
  }
}

.timestamp {
  @include box-sizing(border-box);
  float: right;
  width: 100%;
  padding: $timestamp-padding;
  text-align: $timestamp-text-align;
  color: $timestamp-color;
  font-size: $timestamp-font-size;
  font-weight: $timestamp-font-weight;
}

.description {
  @include box-sizing(border-box);
  width: 100%;
  padding: $description-padding;
  text-align: $description-text-align;
  color: $description-color;
  font-size: $description-font-size;
  font-weight: $description-font-weight;
}

.good-data {
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  margin: $good-data-margin;
  color: $good-data-color;
  font-size: $good-data-font-size;
  font-weight: $good-data-font-weight;
}


.welcome-info {
  @include box-sizing(border-box);
  width: 100%;
  text-align: center;
  color: $welcome-info-color;
  font-size: $welcome-info-font-size;
  font-weight: $welcome-info-font-weight;
}
