@mixin left-aligned-text-container($width) {
  @include box-sizing(border-box);
  float:left;
  width: $width;
  padding: $left-aligned-text-container-padding;
  text-align: left;
}

@mixin centered-text-container($padding) {
  @include box-sizing(border-box);
  float:left;
  width: 100%;
  padding: $padding;
  text-align: center;
}
