.user-data{
  font-weight: regular;
  font-size: $medium-font-size;
  color: $white-font-color;

  @include box-sizing(border-box);

  float: left;
  width: 100%;

  padding: $centered-text-padding;
  text-align: left;
}

.user-nick{
  @include box-sizing(border-box);

  width: 100%;
  padding: $user-fullname-padding;
  text-align: center;

  font-weight: regular;
  font-size: $big-font-size;
  color: $black-font-color;
}

.user-location{
  @include box-sizing(border-box);

  width: 100%;
  padding: $user-location-padding;
  text-align: center;

  font-weight: regular;
  font-size: $big-font-size;
  color: $grey-font-color;
}

.message-text{
  @include box-sizing(border-box);

  width: 100%;
  padding: $centered-text-padding;
  text-align: left;

  font-weight: regular;
  font-size: $medium-font-size;
  color: $grey-font-color;
}

.title{
  @include box-sizing(border-box);
  float: left;

  overflow: none;
  height: $title-height;

  width: 100%;
  padding: $centered-text-padding;
  text-align: center;

  font-weight: bold;
  font-size: $big-font-size;
  color: $white-font-color;

  background-color: $title-background-color;
  border-bottom:  $title-border-bottom;
}

.controls{
  @include box-sizing(border-box);

  float: right;
  width: 100%;
  padding: $request-controls-padding;

  font-weight: regular;
  font-size: $small-font-size;
  color: $blue-font-color;

  font-size: $small-font-size;
  color: $blue-font-color;

  text-align: $request-controls-alignment;
}

.active_nav {
  background-color: $nav-selected;
  a {
    font-weight: bold;
    font-size: $medium-font-size;
    color: $white-font-color;
  }
}


.timestamp{
  @include box-sizing(border-box);

  float: right;
  width: 100%;
  padding: $request-controls-padding;

  font-weight: regular;
  font-size: $small-font-size;
  color: $blue-font-color;

  font-size: $small-font-size;
  color: $blue-font-color;

  text-align: right;
}


.description{

}

.good-name{
  @include box-sizing(border-box);

  float: left;
  width: 100%;

  font-weight: regular;
  font-size: $big-font-size;
  color: $grey-font-color;
}


.button-name{

}
