@mixin left-aligned-text-container($width) {
  float: left;

  width: $width;

  padding: 0 5px 0 5px;

  text-align: left;

  @include box-sizing(border-box);
}

@mixin centered-text-container($padding) {
  float: left;

  width: 100%;

  padding: $padding;

  text-align: center;

  @include box-sizing(border-box);
}
