.user-data{
  @include box-sizing(border-box);

  float: left;
  width: 100%;

  font-weight: $user-data-font-weight;
  font-size: $user-data-font-size;
  color: $user-data-color;

  padding: $user-data-padding;
  text-align: $user-data-text-align;
}

.user-nick{
  @include box-sizing(border-box);

  width: 100%;
  padding: $user-nick-padding;
  text-align: $user-nick-text-align;

  font-weight: $user-nick-font-weight;
  font-size: $user-nick-font-size;
  color: $user-nick-color;
}

.user-location{
  @include box-sizing(border-box);

  width: 100%;
  padding: $user-location-padding;
  text-align: $user-location-text-align;

  font-weight: $user-location-font-weight;
  font-size: $user-location-font-size;
  color: $user-location-color;
}

.message-text{
  @include box-sizing(border-box);

  width: 100%;
  padding: $message-text-padding;
  text-align: $message-text-text-align;

  font-weight: $message-text-font-weight;
  font-size: $message-text-font-size;
  color: $message-text-color;
}

.title{
  @include box-sizing(border-box);
  float: left;

  overflow: none;
  height: $title-height;

  width: 100%;
  padding: $title-padding;
  text-align: $title-text-align;

  font-weight: $title-font-weight;
  font-size: $title-font-size;
  color: $title-color;

  background-color: $title-background-color;
  //border-bottom:  $title-border-bottom;
}

.controls{
  @include box-sizing(border-box);

  float: right;
  width: 100%;
  padding: $controls-padding;

  font-weight: $controls-font-weight;
  font-size: $controls-font-size;
  color: $controls-color;

  text-align: $controls-text-align;
}

.active_nav {
  background-color: $active_nav-background-color;
  a {
    font-weight: $active_nav-font-weight;
    font-size: $active_nav-font-size;
    color: $active_nav-color;
  }
}


.timestamp{
  @include box-sizing(border-box);

  float: right;
  width: 100%;
  padding: $timestamp-padding;

  font-weight: $timestamp-font-weight;
  font-size: $timestamp-font-size;
  color: $timestamp-color;

  text-align: $timestamp-text-align;
}


.description{
  @include box-sizing(border-box);

  width: 100%;
  padding: $description-padding;
  text-align: $description-text-align;

  font-weight: $description-font-weight;
  font-size: $description-font-size;
  color: $description-color;
}

.good-name{
  @include box-sizing(border-box);

  float: left;
  width: 100%;

  font-weight: $good-name-font-weight;
  font-size: $good-name-font-size;
  color: $good-name-color;
}
