<div class="span9" id="content-side">
  <section class="row-fluid element_list">
    <%= render :partial => 'layouts/global_partials/navigation_bar' %>
    <aside class="row-fluid" id="ppal_container">
      <%= yield %>
    </aside>
  </section>
</div>