<div class="right_container" id="rightContainer">
  <section class="main_container" id="content-side">
    <%= render :partial => 'layouts/global_partials/navigation_bar' %>
    <aside class="main_container_elementList" id="ppal_container">
      <%= yield %>
    </aside>
  </section>  
</div>