<header class="main_container_header">
  <div class="main_container_header_menu">
     <nav>
      <div class="nav_element">
        <div class="icono_navegacion"></div>
          <%= link_to 'Ofertas', user_offers_path(@user) %>
      </div>
      <div class="nav_element">
        <div class="icono_navegacion"></div>
          <%= link_to 'Negociaciones', user_negotiations_path(@user) %>
      </div>
      <div class="nav_element">
        <div class="icono_navegacion"></div>
          <%= link_to 'Tratos', user_deals_path(@user) %>
      </div>
     </nav>
     <div class="main_container_header_search">
      <input type="search">
     </div>
  </div>
</header>