<header class="main_container_header">
  <div class="main_container_header_menu" id="navigation_bar">
     <nav>
      <%= link_to user_offers_path(@user), :remote => true, :id => "link_offers" do %>
        <div class="nav_element">Ofertas</div>
      <% end %>
      <%= link_to user_negotiations_path(@user), :remote => true, :id => "link_negotiations" do %>
        <div class="nav_element">Negociaciones</div>
      <% end %>
      <%= link_to user_deals_path(@user), :remote => true, :id => "link_deals" do %>
        <div class="nav_element">Tratos</div>
      <% end %>
     </nav>
        
       <% if user_logged_id == user_visited_id %>
        <div class="main_offer_button">    
          <%= link_to "Añadir un nuevo producto",
              new_user_thing_path(current_user),
              :remote => true %>
        </div>
       
     <% end %>
     <div class="main_container_header_search">
      <input type="search">
     </div>
  </div>
</header>