<% requests(@user).reverse_each do |request| %>
  <div class="request">
    <div class="profile_image">
      <%= request_image(request) %>
    </div>
    <div class="description">
      <%= request_text(request) %>
    </div>
    <% if can? :update, request %>
      <div class="options_menu hidden_container">
        <%= link_to 'delete',
                user_request_path(current_user,request_id(request)),
                :method => :delete,
                :confirm => "Are you sure?" %>
        <%= link_to "edit",
                {:controller => "requests",
                :action => "edit",
                :user_id => id(current_user),
                :id => request.id},
                {:remote => true,
                 :id => "edit_request_link"} %>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  activateRequestButtons();
</script>