<% user_visited_requests.each do |request| %>
  <div class="request">
    <div class="profile_image">      
      <%= request_image(request) %>
    </div>
    <div class="description">
      <%= request_text(request) %>      
    </div>
    <div class="options_menu hidden_container">
      <%= link_to 'delete',
              user_profile_path(@user),
              :remote => true,
              :id => "link_profile",
              :class =>"nav_element" %>      
    </div>    
  </div>
<% end %>