<div class="navbar" id="navigation_bar">
  <div class="navbar-inner">
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <div class="contentside_search_alert_bar">
        <div class="new_petitions_find_number">9</div>
        <div class="new-petitions_find_title">Peticiones Nuevas Encontradas</div>
      </div>
    </div>
  </div>
</div>