<div class="left_container" id="leftContainer">
  <section class="user_container" id="user-side">
    <div id="user_reputation_container"></div>
    <%= render partial: 'layouts/global_partials/user_data' %>
    <%= render partial: 'layouts/global_partials/user_requests' %> 
  </section>
</div>