<div class="span3" id="user-side">
  <section class="row-fluid user_container">
    <div class="navbar subnavigation" id="user_reputation_container">
		  <div class="navbar-inner">
		    <div class="container">		      
		    </div>
		  </div>
		</div>
    <%= render partial: 'layouts/global_partials/user_data' %>
    <%= render partial: 'layouts/global_partials/user_requests' %> 
  </section>
</div>