<section class="user_container" id="user-side">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
    </div>
  </div>
</div>

<aside class="user_container_alerts" id="user_alerts_list">

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>

    <!--<div class="options_menu">
      <%#= link_to "Offer me!!",
          {:controller => "users",
          :action => "show",
          :id => id(@user)},
          {:id => "alert_button",
          :class => "btn btn-small btn-danger hidden_container"}
      %>
    </div>-->
  </div>

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>

    <!--<div class="options_menu">
      <%#= link_to "Offer me!!",
          {:controller => "users",
          :action => "show",
          :id => id(@user)},
          {:id => "alert_button",
          :class => "btn btn-small btn-danger hidden_container"}
      %>
    </div>-->
  </div>

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>

    <!--<div class="options_menu">
      <%#= link_to "Offer me!!",
          {:controller => "users",
          :action => "show",
          :id => id(@user)},
          {:id => "alert_button",
          :class => "btn btn-small btn-danger hidden_container"}
      %>
    </div>-->
  </div>

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>

    <!--<div class="options_menu">
      <%#= link_to "Offer me!!",
          {:controller => "users",
          :action => "show",
          :id => id(@user)},
          {:id => "alert_button",
          :class => "btn btn-small btn-danger hidden_container"}
      %>
    </div>-->
  </div>

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>

    <!--<div class="options_menu">
      <%#= link_to "Offer me!!",
          {:controller => "users",
          :action => "show",
          :id => id(@user)},
          {:id => "alert_button",
          :class => "btn btn-small btn-danger hidden_container"}
      %>
    </div>-->
  </div>

</aside>