<aside class="user_container_requests" id="user_request_list">
  <aside class="requests_requestsList">
    <% if user_logged_id == user_visited_id %> 
      <%= render :partial => 
      'requests/partials/form' %>
    <% end %> 
    <% if (user_visited_requests.count != 0)%>
      <%= render :partial =>
      'layouts/global_partials/requests_list' %>
    <% else %>
      <p>El usuario no tiene ninguna peticion actualmente</p>
    <% end %>            
  </aside>
</aside>