<aside class="user_container_requests">
  <a href="newrequest.html">
    <%= button_tag "Nueva Peticion", :class => "add_offer_button",
    :id => "add_request_button" %>      
  </a>
  <aside class="requests_requestsList">
    <%= render :partial => 
    'layouts/global_partials/requests_list' %>            
  </aside>
</aside>