<aside class="user_container_requests" id="user_request_list">  
  <% if user_logged_id == user_visited_id %>
    <div class="btn-toolbar">
        <button class="btn btn-primary btn-success" type="button" id="new-request-button">Pide algo!!</button>
        <div class="requestWritingBox" id="request-writing-box">
          <%= render :partial => 'requests/partials/form' %>
        </div> 
    </div>       
  <% end %> 
  <aside class="requests_requestsList">
    <% if (user_visited_requests.count != 0)%>
      <%= render :partial =>
      'layouts/global_partials/requests_list' %>
    <% else %>
      <p>El usuario no tiene ninguna peticion actualmente</p>
    <% end %>            
  </aside>
</aside>