<div class="left_container" id="leftContainer">

   <% if (controller.sub_layout === "alerts") %>

    <section class="user_container" id="user-side">

      <%= render partial: 'layouts/global_partials/user_alerts' %>

    </section>

   <% else %>

    <section class="user_container" id="user-side">
      
      <nav class="nav_bar"></nav>

      <%= render partial: 'layouts/global_partials/user_data' %>
      <%= render partial: 'layouts/global_partials/user_requests' %>

    </section>

   <% end %>

</div>