.proposal-grid {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $proposal-grid-widht;
}

.goods-grid {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $goods-grid-widht;
}

.user_selector {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  padding: $user-selector-padding;
}

.good_previewer {

}
