.offer-form-body {
  float: left;
  overflow: none;
  padding: $offer-form-body-padding;
}

.proposal-grid {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $proposal-grid-width;
  height: $proposal-grid-height;
}

.goods-grid {
  position: relative;
  @include box-sizing(border-box);
  overflow: none;
  float: left;
  width: $goods-grid-width;
  height: $goods-grid-height;
}

.users_layer {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $user-selector-width;
  padding: $user-selector-padding;
}

.goods_layer {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $goods-layer-width;
  padding: $goods-layer-padding;
}

.good_previewer {
  position: absolute;
  top: 0;
  right: 0;
  @include box-sizing(border-box);
  overflow: auto;
  width: 10px;
  height: 100%;
  background-color: rgb(210,210,210);
  padding: $good-previewer-padding;
}

#slide-panel {
  @include transition-property(width);
  @include transition-duration(1s);
}

#slide-panel:hover {
  width: 100%;
}
