.offer-form-body {
  @include box-sizing(border-box);
  overflow: none;
  float: left;
  width: 100%;
  padding: $offer-form-body-padding;
}

.goods-grid {
  @include box-sizing(border-box);
  display: flex;
  flex-direction: column;
  overflow: none;
  float: left;
  position: relative;
  width: $goods-grid-width;
  height: $goods-grid-height;
  margin-left: 10px;
  padding: 5px 0;
}

.goods-layer {
  @include box-sizing(border-box);
  display: flex;
  flex: auto;
  flex-direction: row-reverse;
  overflow: auto;
  float: left;
  position: relative;
  width: $goods-layer-width;
}

.offer-form-message {
  @include box-sizing(border-box);
  float: $offer-form-message-float;
  width: $offer-form-message-width;
  height: $offer-form-message-height;
  padding: $offer-form-message-padding;
}

.users-layer {
  @include box-sizing(border-box);
  float: right;
  width: $user-selector-width;
  height: $user-selector-height;
}

.products-grid {
  @include box-sizing(border-box);
  flex: auto;
  overflow: auto;
}

.products-list {
  @include box-sizing(border-box);
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 100%;
}

.good-previewer {
  @include box-sizing(border-box);
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgb(210, 210, 210);
  padding: 0;
}

#slide-panel {
  @include transition-property(width);
  @include transition-duration(1s);
}

#slide-panel:hover {
  width: 100%;
}
