.proposal-grid {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $proposal-grid-widht;
}

.goods-grid {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $goods-grid-widht;
}

.users_layer {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $user-selector-width;
  padding: $user-selector-padding;
}

.goods_layer {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $goods-layer-width;
  padding: $goods-layer-padding;
}

.good_previewer {
  @include box-sizing(border-box);
  overflow: auto;
  float: right;
  width: 0;
  height: 100%;
  padding: $good-previewer-padding;
  background-color: #f00;
}

#slide-panel {
  @include transition-property(width);
  @include transition-duration(1s);
}

#slide-panel:hover {
  width: 100%;
}
