
<% content_for :content_side do %>

  <!-- Session Filter Sergio -->
  <span style="float:left; width: 100%; text-align: center"><p>Aqui vendra el inicio de sesion que pongamos</p></span>

  <span style="float:left; width: 100%; text-align: center;margin-bottom: 50px"><%= link_to "Entrar Sin Registrarse", user_offers_url(User.last) %></span>

<% end %>


<!-- 

<%# content_for :content_side do %>

  <div class="devise_content" id="devise_container">
    <div class="login_container_logo">
      logo
    </div>
    <div class="login_container_coverage">
      <div class="login_container">
        <div class="login_container_header">
          <div class="log_header_enter">
            <%#= link_to "Entra", new_session_path(resource_name) %>
          </div>
          <div class="log_header_reg">
            <%#= link_to "Registrate", new_registration_path(resource_name) %>
          </div>
        </div>
        <div class="login_user_fields">

          <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

            <div class="login_email_field">
              <%#= f.label :email, :class => "email_label" %>
              <%#= f.email_field :email %>
            </div>

            <div class="login_pass_field">
              <%#= f.label :password, :class => "pass_label"  %>
              <%#= f.password_field :password %>
            </div>

            <%# if devise_mapping.rememberable? -%>
              <div class="rememberme_selector">
                <%#= f.check_box :remember_me, :class => "remember_tic"  %>
                <%#= f.label :recordar, :class => "remember_label"  %>
              </div>
            <%# end -%>

            <div class="signin_button">
              <%#= f.submit "Sign in" %>
            </div>

          <%# end %>

          <%#= link_to "Forgot your password?", new_password_path(resource_name) %>
          <%#= link_to "sign up", new_user_registration_path %>

          <%# if (User.count > 0)%>
            <%# User.all.to_a.last(2).each do |user| %>
              <div class="usuarios_registrados" style="float:left; width:100%">
                <div>email: <%#= user.email %> </div>
              </div>
            <%# end %>
          <%# end %>

        </div>
      </div>
    </div>    
  </div>

  <%#= render "devise/shared/links" %>


<%# end %>

-->