<% @things.each do |thing| %>
  <div class="thing">
    <div class="thing_image">
      <%= image_tag(thing.main_image) %>
    </div>
    <div class="thing_description"><%= thing.description %></div>
    <%= link_to "editar", 
              edit_user_thing_path(current_user,thing.id)%>
  </div>  
<% end %>
  
