<% user_visited_items.reverse_each do |item| %>
  <div class="thing" id="<%= item_id(item) %>">

    <div class="thing_image">
      <%= item_image(item) %>
    </div>

    <div class="thing_quantity">
      <div class="quantity_number"><%= item_stock(item) %></div>
    </div>

    <div class="thing_description">
      <div class="text">
        <%= item_description(item) %>
      </div>
    </div>

    <%# if user_logged_id == user_visited_id %>
      <!-- <div class="thing_options">
        <%#= link_to "editar producto",
          edit_user_thing_path(current_user,thing),
          :remote => true,
          :class => "btn btn-small disable" %>
      </div> -->
    <%# end %>

  </div>
<% end %>