<div class="request">
  <div class="profile_image">
    <%= request_user_image(request) %>
  </div>

  <div class="description">
    <%= text(request)%>
  </div>

  <div class="options_menu hidden_container">
    <%= link_to 'delete',
            user_request_path(@user, id(request)),
            :method => :delete,
            :confirm => "Are you sure?" %>
    <%= link_to "edit",
            {:controller => "requests",
            :action => "edit",
            :user_id => id(@user),
            :id => id(request)},
            {:remote => true,
             :id => "edit_request_link"} %>
  </div>
</div>
