<div class="edit-request-form" id="edit-request-form">
  <%= form_for [@user, @request], :remote => true do |form| %>
    <div class="new_petition_content">

      <div class="petition_transparent_side">
        <div class="petition_user_image">
          <%= new_new_request_user_image(@user) %>
        </div>
      </div>

      <div class="petition_user_side">
        <div class="petition_title">Edit the Request</div>
      </div>

      <div class="petition_text_side">
        <div class="petition_text">
          <%= form.text_area :text, :placeholder => "Request Text", :size => "24x6" %>
        </div>
        <div class="petitions_buttons_side">
          <div class="send_button">
            <button class="offer_buttons_style">X</button>
            <%= form.submit "Add", :class => 'offer_buttons_style', :id => 'new-request-send-button' %>
            <div class="characters_left">89/150</div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>



