<section class="contentside" id="content-side">
  
  <%= yield :contentside_header %>
  
  <aside class="contentside_elementList" id="ppal_container">    
    <%= render @creations %><!--Helper que itera sobre _requests y los va renderizando uno a uno-->
  </aside>
  
</section>


