<section class="contentside" id="content-side">

  <%= render 'requests/subnavigation' %>

  <aside class="contentside_elementList" id="ppal_container">
    <%= render @requests %><!--Helper que itera sobre _requests y los va renderizando uno a uno-->
  </aside>

</section>