<div class="new-request-form" id="new-request-form">
  <%= form_for [@user, @request], :remote => true do |form| %>
    <div class="new_petition_content">

      <div class="petition_text_side">
        <div class="petition_text">
          <%= form.text_area :text, :placeholder => "Texto de la peticion", :size => "24x6" %>
        </div>
        <div class="petitions_buttons_side">
          <div class="send_button">
            <button>X</button>
            <%= form.submit "Añadir", :id => 'new-request-send-button' %>
            <div class="characters_left">89</div>
          </div>
        </div>
      </div>

      <div class="petition_user_side">
        <div class="petition_user_image">
          <%= main_image(@user) %>
        </div>
        <div class="petition_title">¿Cuál es tu petición?</div>
      </div>

    </div>
  <% end %>
</div>
