<% content_for :contentside_header do %>

  <header class="contentside_header">
    <div class="contentsideheader_menu">
       <nav>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
          <a href="offers.html">Ofertas</a>
        </div>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
          <a href="negotiations.html">Negociaciones</a>
        </div>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
          <a href="deals.html">Acuerdos</a>
        </div>
       </nav>
       <div class="contentsideheader_search">
        <input type="search">
       </div>
    </div>
  </header>

<% end %>

