<% content_for :contentside_header do %>

  <header class="contentside_header">
    <div class="contentsideheader_menu">
       <nav>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
            <%= link_to 'Ofertas', user_offers_path(@user) %>
        </div>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
            <%= link_to 'Negociaciones', user_negotiations_path(@user) %>
        </div>
        <div class="nav_element">
          <div class="icono_navegacion"></div>
            <%= link_to 'Tratos', user_deals_path(@user) %>
        </div>
       </nav>
       <div class="contentsideheader_search">
        <input type="search">
       </div>
    </div>
  </header>

<% end %>

