<%= form_for [current_user,@request] do |form| %>
  <div class="request">
    <div class="profile_image">      
      <%= user_visited_image %>
    </div>
    <div class="description">      
      <%= form.text_field :text,
       :class => 'input-large',
       :placeholder => "Texto de su nueva peticion",
       :maxlength => 135 %>      
    </div>   
    <input type="hidden" name="request[user_id]" value="<%= user_logged_id%>" /> 
  </div>  
<% end %>
