<%= form_for :request do |form| %>  

  <div class="new_request_title">
    <div class="icon">icono de nueva peticion</div>
    <div class="description">Nueva Petición</div>
  </div>
  <div class="new_offer_text">
    <%= text_area :request, :text %>
  </div>
  <div class="send_button">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  
<% end %>
