<%= form_for [current_user,@request] do |form| %>
  <div class="request">
    <div class="profile_image">      
      <%= user_visited_image %>
    </div>
    <div class="description">
      <%= text_field_tag 'text', nil, :class => 'request_bar' %>
    </div>
  </div>  
<% end %>
