<% user_requests.each do |request| %>
  <div class="request">
    <div class="profile_image">
      <% request_image(request) %>
    </div>
    <div class="description">
      <% request_text(request) %>     
    </div>
  </div>
<% end %>

<script>
  activateRequestButtons();
</script>
 