//TODO: darle una vuelta
.image_loader {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  width: $image-loader-width;
}

.image_descriptor {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  width: $image-descriptor-width;
}

.previews {
  @include box-sizing(border-box);

  float: left;
  overflow: auto;
  width: 100%;
}

.preview {
  overflow: auto;
  background-color: $preview-background-color;
  img {
    height: $item-preview-big;
    width: $item-preview-big;
    max-height: $item-preview-big;
    max-width: $item-preview-big;
    background-color: $white-bgcolor;
  }
}

.image_selection_area {
  float: left;
  width: $image-selection-area-width;
  div {
    float: left;
  }
}

.preview_box {
  float: left;
  height: $item-snapshoot;
  width: $item-snapshoot;
  margin: $preview-box-margin;
}

.add_image_container {
  float: left;
  overflow: hidden;
  height: $item-snapshoot;
  width: $item-snapshoot;
  margin: $add-image-container-margin;
  img {
    float: left;
    height: $item-snapshoot;
    width: $item-snapshoot;
    background-color: white;
  }
}


label.preview_label {
  @include box-sizing(border-box);

  float: left;
  z-index: 10;
  height: $preview-label-size;
  width: $preview-label-size;
  margin: $preview-label-margin;
  padding: $preview-label-padding;

  font-weight: bold;
  font-size: $medium-font-size;
  color: $white-font-color;

  background-color: $preview-label-background-color;
  text-align: $preview-alignment;
}


.filebutton {
  position: absolute;
  top: 0;
  left: 0;
  height: $preview-label-size;
  width: $preview-label-size;
  input {
    float: left;
    height: $preview-label-size;
    width: $preview-label-size;

    -ms-filter: 'alpha(opacity=0)';
        filter: alpha(opacity = 0);
    opacity: 0;
  }
}

#pan {
  overflow: hidden;
}

.preview_label {
  position: relative;
}
