.item-form-image-loader {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $image-loader-width;
}

.item-form-descriptor {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $image-descriptor-width;
}

.previews {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: 100%;
}

.preview {
  overflow: auto;
  background-color: $preview-background-color;

  img {
    width: $item-preview-big;
    max-width: $item-preview-big;
    height: $item-preview-big;
    max-height: $item-preview-big;
    background-color: $white-bgcolor;
  }
}

.image_selection_area {
  float: left;
  width: $image-selection-area-width;

  div {
    float: left;
  }
}

.preview_box {
  float: left;
  width: $preview-box-width;
  height: $preview-box-height;
  margin: $preview-box-margin;
}

.add_image_container {
  overflow: hidden;
  float: left;
  width: $add-image-container-width;
  height: $add-image-container-height;
  margin: $add-image-container-margin;

  img {
    float: left;
    width: $item-snapshoot;
    height: $item-snapshoot;
    background-color: #fff;
  }
}

label.preview_label {
  @include box-sizing(border-box);
  float: left;
  z-index: 10;
  width: $preview-label-size;
  height: $preview-label-size;
  background-color: $preview-label-background-color;
  margin: $preview-label-margin;
  padding: $preview-label-padding;
  text-align: $preview-alignment;
  color: $white-font-color;
  font-size: $medium-font-size;
  font-weight: bold;
}

.filebutton {
  position: absolute;
  top: 0;
  left: 0;
  width: $preview-label-size;
  height: $preview-label-size;

  input {
    @include opacity(0);
    float: left;
    width: $preview-label-size;
    height: $preview-label-size;
  }
}

#pan {
  overflow: hidden;
}

.preview_label {
  position: relative;
}
