//TODO: darle una vuelta
.image_loader {
  @include box-sizing(border-box);

  float: left;

  overflow: auto;

  width: 45%;
}

.image_descriptor {
  @include box-sizing(border-box);

  float: left;

  overflow: auto;

  width: 55%;
}

.previews {
  @include box-sizing(border-box);

  float: left;

  overflow: auto;

  width: 100%;
}

.preview {
  overflow: auto;

  background-color: transparent;
  img {
    height: $item-preview-big;
    width: $item-preview-big;
    max-height: $item-preview-big;
    max-width: $item-preview-big;

    background-color: $white-bgcolor;
  }
}

.image_selection_area {
  float: left;

  width: 48%;
  div {
    float: left;
  }
}

.preview_box {
  float: left;

  height: $item-snapshoot;
  width: $item-snapshoot;

  margin-right: 8px;
  margin-bottom: 60px;
}

.add_image_container {
  float: left;

  overflow: hidden;

  height: $item-snapshoot;
  width: $item-snapshoot;

  margin-bottom: 4px;
  img {
    float: left;

    height: $item-snapshoot;
    width: $item-snapshoot;

    background-color: white;
  }
}

label.preview_label {
  @include box-sizing(border-box);

  float: left;
  z-index: 10;

  height: 25px;
  width: 25px;

  margin-right: 3px;
  padding-top: 3px;

  font-weight: bolder;

  background-color: black;
  color: white;

  text-align: center;
}


.filebutton {
  position: absolute;

  top: 0;
  left: 0;

  height: 25px;
  width: 25px;
  input {
    float: left;

    height: 25px;
    width: 25px;

    -ms-filter: 'alpha(opacity=0)';
        filter: alpha(opacity = 0);
    opacity: 0;
  }
}

#pan {
  overflow: hidden;
}

.preview_label {
  position: relative;
}
