.item-form-body {
  @include box-sizing(border-box); 
  overflow: auto; 
  float: left;
  width: 100%;
  padding: $item-form-body-padding;
}

.item-image-uploader {
  @include box-sizing(border-box);
  float: left;
  overflow: auto;
  width: $image-uploader-width;
}

.item-form-descriptor {
  @include box-sizing(border-box);
  overflow: visible;
  float: left;
  width: $image-descriptor-width;
}


.preview {
  float: left;
  background-color: $preview-background-color;

  img {
    width: $item-preview-big;
    max-width: $item-preview-big;
    height: $item-preview-big;
    max-height: $item-preview-big;
    background-color: $white-bgcolor;
  }
}


.item-image-miniatures {
  @include box-sizing(border-box);
  margin: $item-image-miniatures-margin;
  overflow: auto;
  float: left;
  width: 100%;
}

.cropped-image-grid {
  float: left;
  overflow: visible;
  width: $cropped-image-grid-width;
  height: $cropped-image-grid-height + 30;
  margin: $cropped-image-grid-margin;
}


.cropped-image {
  overflow: hidden;
  float: left;
  width: $cropped-image-width;
  height: $cropped-image-height;
  margin: $cropped-image-margin;

  img {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}



label.cropped-image-button {
  @include box-sizing(border-box);
  float: left;
  z-index: 10;
  width: $cropped-image-button-size;
  height: $cropped-image-button-size;
  background-color: $cropped-image-button-background-color;
  margin: $cropped-image-button-margin;
  padding: $cropped-image-button-padding;
  text-align: $preview-alignment;
  color: $white-font-color;
  font-size: $medium-font-size;
  font-weight: bold;
}

.cropped-image-button-label {
  position: absolute;
  top: 0;
  left: 0;
  width: $cropped-image-button-size;
  height: $cropped-image-button-size;

  input {
    @include opacity(0);
    float: left;
    width: $cropped-image-button-size;
    height: $cropped-image-button-size;
  }
}

#pan {
  overflow: hidden;
}


