<aside class="user_container_alerts" id="user_alerts_list">

  <div class="user_alert">

    <div class="text"><%#= text(request) %>alerta</div>
    
  </div>

  <div class="user_alert">

    <div class="alert_text"><%#= text(request) %>alerta</div>
   
  </div>

  <div class="user_alert">

    <div class="alert_text"><%#= text(request) %>alerta</div>
    
  </div>

  <div class="user_alert">

    <div class="alert_text"><%#= text(request) %>alerta</div>
    
  </div>

  <div class="user_alert">

    <div class="alert_text"><%#= text(request) %>alerta</div>
   
  </div>

</aside>
