<% if (alerts(@user) != 0)%>
  <% alerts(@user).count.times do |request| %>
    <div class="request">
      <div class="profile_image">
        <% alert_user_image(@user) %>
      </div>
      <div class="description">
        petition text
        <%# text(request) %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="no_elements">
    <p>You haven't got any alert yet</p>
  </div>
<% end %>
