= form_for([current_user, Request.new]) do |request_form|
  = request_form.text_area :text,
                             :placeholder => "Write your request here...",
                             :size => "24x6",
                             :required => true,
                             :maxlength => "160"

  = request_form.submit "Save"
