/locals: deal
- content_for :composer_avatar
  = render partial: shared_partial('composer_avatar'),
           layout:  shared_layout('composer_avatar'),
           locals:  { composer: deal.composer }

- content_for :proposal
  = render partial: shared_partial('proposal_preview'),
           layout:  shared_layout('proposal'),
           locals:  { proposal: deal.proposal }

- content_for :conversation
  = render partial: shared_partial('conversation'),
           layout:  shared_layout('conversation'),
           locals:  { messages: deal.messages }
