.mBillboard
  @extend .mExpanded
  margin-bottom: 15px
  
.logSide
  width: 55%
  float: left
  nav  
    float: right

.searchSide
  width: 30%
  float: right
  div
    float: right

.mLoggedUser
  float: left

.search_bar
  margin-right: 5px

.loggin_options
  margin-left: 20px
  div
    margin-left: 10px
