//General modules
.mContainer
  @include box-shadow(rgba(0,0,0,0.40) 0px 1px 2px)
  @include border-radius(5px, 5px)
  border: 1px solid rgb(220,220,220)
  background-color: rgba(236,240,241,0.5)

.mContainerSon
  div
    margin-bottom: 5px
    margin-left: 5px

.mExpanded
  width: 100%

.mEndContainer
  @extend .mContainer
  background-color: white
  color: black


//Specific modules
.mLogin
  width: 500px

.mFooter
  @extend .mExpanded
  text-align: center

.mExpositor
  @extend .mContainer
  float: right
  width: 73.5%

.mProfile
  @extend .mContainer
  overflow: visible
  float: left
  width: 25%

.mUpperBar
  position: relative
  top: -10px
  left: -20px
  background-color: white
  margin-bottom: 10px
  height: 38px

.preview
  @include border-radius(5px, 5px)
  background-color: white
  border: 1px solid rgb(170,170,170)
  width: 300px
  height: 300px

.image_selection_area
  width: 48%
  float: left
  div
    float: left

.add_image_container
  position: relative
  float: left
  width: 31%
  height: 100px
  margin-right: 8px
  margin-bottom: 10px
  img
    position: absolute
    top: 0
    left: 0
    width: 98%
    height: 100%
    background-color: white

label
  .filebutton
    width: 25px
    height: 25px
    overflow: hidden
    position: relative
    background-color: white
    color: red

label
  span
    input
      z-index: 999
      line-height: 0
      position: absolute
      top: 0px
      left: 0px
      width: 25px
      height: 25px
      opacity: 0
      filter: alpha(opacity = 0)
      -ms-filter: "alpha(opacity=0)"

#pan
  overflow: hidden
