= content_for :proposal_composer_name

= content_for :proposal_composer_image

= content_for :composer_products

= content_for :receiver_products

= content_for :proposal_image_small
  .item-image-small
    = main_image(item)

= content_for :proposal_secondary_images

= content_for :proposal_buttons
