<% if (received_offers(@user).count != 0)%>
  <%= render @offers %>
<% else %>
  <div class="no_elements">
    <%= no_offers_image %>
    </div>
<% end %>


<script type="text/javascript">
    $(document).ready(function() {
        $('.honeycombs').honeycombs();
    });
</script>
