<% content_for :header do %>
  <%= render :partial => 'application/header' %>
<% end %>


<% content_for :user_side do %>
  <%= render :partial => 'application/user_container' %>
<% end %>


<% content_for :content_side do %>

<div class="right_container" id="rightContainer">

  <section class="main_container" id="content-side">

    <nav class="nav_bar" id="navigation_bar">
      <%= render :partial => 'application/navigation_bar' %>
    </nav>

    <aside class="main_container_elementList" id="ppal_container" offerWidth="286">
      <%= render :partial => "offers/offer_list" %>
    </aside>

  </section>

</div>


<% end %>
