<%= render 'offers/userside' %>

<section class="contentside" id="content-side">

  <%= render 'offers/subnavigation' %>

  <aside class="contentside_elementList" id="ppal_container">
    <%= render @offers %><!-- Helper que itera sobre _offers -->
  </aside>

</section>
