<% content_for :form_class do %>new-offer-form<% end %>
<% content_for :form_id do %>new-offer-form<% end %>

<%= render 'form' %>



<script type="text/javascript">
  //Lo primero es eliminar las modales que se hayan podido quedar perdidas
  $('#edit-offer-form').remove();
</script>
