<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>

<!-- Lo usaremos solo en caso de querer mostrar una oferta sola y no queramos utilizar los efectos de zoom que estan muy bien, Zoomooz.js o Zoombox.js -->