= content_for :item_form_title
  .new-item-title
    | Add a new item

= content_for :item_form_image
  .new-item-image#original_image_container
    = product_modal_item_main_image(@item)

= content_for :item_form_description
  .new-item-description
    .add-more-images
      .add_image_container#inputcontainer1
        = product_modal_item_first_image(@item)
        .input_container
          .input_text +
          = cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'1')"})
            input name="item[images][][public_id]" type="hidden" value=(yield :first_item_id) /
            input name="item[images][][main]" type="hidden" value="false" /
        .input_container style=("left: 60px;")
          .input_text.delete_image_selected -

      .add_image_container#inputcontainer2
        = product_modal_item_second_image(@item)
        .input_container
          .input_text +
          = cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'2')"})
            input name="item[images][][public_id]" type="hidden" value=(yield :second_item_id) /
            input name="item[images][][main]" type="hidden" value="false" /
        .input_container style=("left: 60px;")
          .input_text.delete_image_selected -

      .add_image_container#inputcontainer2
        = product_modal_item_third_image(@item)
        .input_container
          .input_text +
          = cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'3')"})
            input name="item[images][][public_id]" type="hidden" value=(yield :third_item_id) /
            input name="item[images][][main]" type="hidden" value="false" /
        .input_container style=("left: 60px;")
          .input_text.delete_image_selected -

    .title
      = form.text_area :name,              \
        placeholder => "Product name...", |:
        size => "4x1",                    |:
        required => true,                 |:
        maxlength => "20"                 |:

    .description
      = form.text_area :description,              \
        placeholder => "Product description...", |:
        size => "10x5",                          |:
        required => true,                        |:
        maxlength => "200"                       |:


= content_for :item_form_buttons
  .item-form-options
    .item_options
      = form.submit  "Save",          \
      id => 'new-item-send-button' |:


= content_for :first_item_id do
  | uploads/items/car_white
- content_for :second_item_id do
  | uploads/items/dog_white
- content_for :third_item_id do
  | uploads/items/house_dark


javascript:

  | $("#item_image_container").on('load', function (event) {
      | $(this).wheelzoom();
      | $(this).off( event );
  | });

  | $(".add_image_container").on('click','img', function (event) {
    | if($(this).attr('src') != ''){
      | var image = $(this).clone();
      | $('#original_image_container').find('img').replaceWith(image);
    | }
  | });

  | $(".input_container").on('click', '.delete_image_selected', function (event){
    | $(this).closest('.add_image_container').find(".hidden_image_input").remove();
    | $(this).closest('.add_image_container').find('img').remove();
    | $(this).closest('.add_image_container').prepend("");
  | });
