- content_for :main_image
  div.preview
    img src=""
  div#coodinates1
    <input type="hidden" size="4" id="name1" name="item[images][1][main]" value=""></label>
    <label>X <input type="text" size="4" id="x1" name="item[images][1][x]" value=""></label>
    <label>Y <input type="text" size="4" id="y1" name="item[images][1][y]" value=""></label>
    <label>H <input type="text" size="4" id="h" name="item[images][1][h]" value=""></label>
    <label>W <input type="text" size="4" id="w" name="item[images][1][w]" value=""></label>
  div#coodinates2
    <input type="hidden" size="4" id="name2" name="item[images][2][main]" value=""></label>
    <label>X <input type="text" size="4" id="x1" name="item[images][2][x]" value=""></label>
    <label>Y <input type="text" size="4" id="y1" name="item[images][2][y]" value=""></label>
    <label>H <input type="text" size="4" id="h" name="item[images][2][h]" value=""></label>
    <label>W <input type="text" size="4" id="w" name="item[images][2][w]" value=""></label>
  div#coodinates3
    <input type="hidden" size="4" id="name3" name="item[images][3][main]" value=""></label>
    <label>X <input type="text" size="4" id="x1" name="item[images][3][x]" value=""></label>
    <label>Y <input type="text" size="4" id="y1" name="item[images][3][y]" value=""></label>
    <label>H <input type="text" size="4" id="h" name="item[images][3][h]" value=""></label>
    <label>W <input type="text" size="4" id="w" name="item[images][3][w]" value=""></label>
  div.progress_bar


- content_for :item_preview
  = render partial: shared_partial('item_preview'),
           layout:  shared_layout('item_preview'),
           locals:  { form:form }


- content_for :send_button
  = form.submit "Save"
