<div class="item" id="<%= id(item) %>">
  <div class="debug_container"><%#= debug_info(item) %></div>

  <div class="item_image">
    <%= link_to products_wall_item_image(item),
      edit_user_item_path(@user,item),
      {:remote => true}
    %>
  </div>

  <div class="item_description">
    <div class="text">
      <%= name(item) %>
    </div>
  </div>

  <div class="item_options">
    <%= link_to "Delete product",
    user_item_path(@user,item),
    :method => :delete,
    :confirm => "Are you sure?",
    :class => "item_buttons_style"
    %>
  </div>
</div>
