<% if (items(@user).count == 0)%>
  <div class="no_elements_in_ppal">
    <div class="empty_text">
      <div class="text_explanation">Add here the products you want to sell, change...</div>
      <div class="button_empty">
        <%= link_to "ADD A PRODUCT",
          new_user_item_path(@user),
          {:remote => true, :role => "button", :class => "empty_button_style"}  %>
        </div>
    </div>
  </div>
<% else %>
  <!-- Item vacio para añadir un item -->
  <div class="item">
    <div class="item_image">
      <%= link_to add_item_image,
          new_user_item_path(@user),
          {:remote => true}
      %>
    </div>

    <div class="item_description">
      <div class="text">Add a Product</div>
    </div>
  </div>
  <!-- Fin del item vacio -->
<% end %>

