- if items(@user).size == 0
  .no_elements_in_ppal
    .empty_text
      .text_explanation Add here the products you want to sell, change...
      .button_empty
        = link_to "ADD A PRODUCT",                                             \
          new_user_item_path(@user),                                           \
          {:remote => true, :role => "button", :class => "empty_button_style"} \
- else
  .item
    .item_image
      = link_to add_item_image,    \
        new_user_item_path(@user), \
        {:remote => true}          \
    .item_description
      .text Add a Product

