
<div class="item_overview" id="show-item-modal">

  <div class="overview_image" id="overview_image"><%= item_image_big(item) %></div>

  <div class="overview_description">
    <div class="overview_description_title" id="overview_description_title">
      <%= name(item) %>
    </div>
    <div class="overview_description_text" id="overview_description_text">
      <%= description(item) %>
    </div>
  </div>
  <p>
    <%= link_to "Edit Product",
        edit_user_item_path(@user,item),
        :remote => true %>
  </p>
</div>
