<div class="item_overview" id="show-item-modal">
  <div class="overview_image" id="overview_image">
    <%= product_modal_item_main_image(item) %>
  </div>
  <div class="overview_description">
    <div class="overview_description_title" id="overview_description_title">
      <%= name(item) %>
    </div>
    <div class="overview_description_text" id="overview_description_text">
      <%= description(item) %>
    </div>
  </div>
</div>
