/ TODO: Rellenar (ira la modal de item donde se ven los datos del item al hacer click)
= render partial: shared_partial('item_preview'),
         layout:  shared_layout('item_preview')
/locals:  { user:user }
