<div class="item thumbnail" id="<%= id(@item) %>">
  <%#= item_inboard(@item) %>
  <div class="caption">
    <h5><%= name(@item) %></h5>
    <p><%= description(@item) %></p>
    <p>
      <%= link_to "editar producto",
          edit_user_item_path(current_user,@item),
          :remote => true %>
    </p>
  </div>
</div>