.avatar-omnibar {
  @include box-sizing(border-box);

  float: left;
  overflow: visible;
  width: 15%;
  .image {
    @extend %default-image-container;
    @include squared-image(40px);
  }
  .user-data {
    float: left;
    div {
      font-weight: regular;
      font-size: $medium-font-size;
      color: $white-font-color;

      @include left-aligned-text-container(100%);
    }
  }
}

.avatar-profile-card {
  height: 70px;
  .image {
    @include clip-image-container(92px);
    @include bordered-rounded-image(100%);
  }
  .user-data {
    @include box-sizing(border-box);

    position: relative;
    top: -70px;
    overflow: auto;
    margin: 0 auto;
    .full-name {
      @include centered-text-container(0);

      font-weight: regular;
      font-size: $big-font-size;
      color: $black-font-color;
    }
    .location {
      @include centered-text-container(0);

      font-weight: regular;
      font-size: $big-font-size;
      color: $grey-font-color;
    }
  }
}


.avatar-request {
  @include box-sizing(border-box);

  float: left;
  overflow: visible;
  .image {
    @extend %default-image-container;
    @include squared-image(40px);
  }
}


.avatar-offer {
  float: left;
  width: 100%;
  height: 0px;
  .image {
    @include offer-avatar-container(48px);
    @include bordered-rounded-image(100%);
  }
  .full-name {
    @include box-sizing(border-box);
    @include centered-text-container(0);

    font-weight: regular;
    font-size: $big-font-size;
    color: $black-font-color;

    position: relative;
    top: -50px;
    overflow: auto;
    margin: 0 auto;
  }
}
