// .avatar {
//   @extend %grey-shadow;
//   @include border-radius(5px, 5px);
//   position: relative;
//   float: left;
//   overflow: auto;
//   background-color: $white-bgcolor;
//   margin-right: $omnibar-components-margin;
// }

.omnibar_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
}

.profile_card_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
  @include box-sizing(border-box);

  .image {
    @include border-radius(43px, 43px);
    background-color: white;
    text-align: center;

    img{
      position: relative;
      top: 7px;
      width: 70px;
      height: 70px;
      @include border-radius(35px, 35px);
      border: 1px solid $grey-border-color;
    }
  }

  .user_data {
    .full_name{
      text-align: center;
      color: $title-font-color;
    }

    .location {
      text-align: center;
      color: $text-font-color;
    }
  }
}

.request_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
}

.offer_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
  margin-right: ;
}

.negotiation_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
}

.deal_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);

  background-color: $white-bgcolor;
}

.message_avatar {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  background-color: $white-bgcolor;
}
