.avatar-omnibar {
  @include box-sizing(border-box);
  overflow: visible;
  float: left;
  width: $avatar-omnibar-width;
}

.avatar-omnibar-data-side {
  float: left;
}

.avatar-profile-card {
  height: $avatar-profile-card-height;
}

.avatar-profile-data-side {
  @include box-sizing(border-box);
  overflow: auto;
  position: relative;
  top: -($avatar-profile-card-height);
  margin: $margin-auto;
}

.profile-avatar-image-wrapper {
  @include box-sizing(border-box);
  @include border-radius($profile-card-image-size/2, $profile-card-image-size/2);
  position: relative;
  top: -($profile-card-image-size)*.75;
  width: $profile-card-image-size;
  height: $profile-card-image-size;
  background-color: $white-bgcolor;
  margin: $margin-auto;
  padding: $avatar-profile-card-image-padding;
}


.avatar-request {
  @include box-sizing(border-box);
  overflow: visible;
  float: left;
  width: $request-avatar-size;
  min-width: $request-avatar-size;
  height: $request-avatar-size;
  min-height: $request-avatar-size;
}


.avatar-offer {
  float: left;
  width: 100%;
  height: 0;
}

.offer-avatar-image-wrapper {
  @include box-sizing(border-box);
  @include border-radius($offer-avatar-image-size/2, $offer-avatar-image-size/2);
  position: relative;
  top: -($offer-avatar-image-size)*.55;
  width: $offer-avatar-image-size;
  height: $offer-avatar-image-size;
  background-color: $white-bgcolor;
  margin: $margin-auto;
}

.avatar-negotiation {
  //
}

.avatar-negotiation-data-side {
  //
}

.avatar-deal {
  //
}

.avatar-deal-data-side {
  //
}
