.avatar {
  float: left;
  margin-right: $omnibar-components-margin;
}

.image_omnibar{
  margin-right: $image-text-margin;
}

.full_name {
  margin: $data-margin;
}

.image {
  margin: $image-text-margin;
}

.friends {
  margin: $profile-card-icon-margin;
  padding-left: 5px;
  .icon {
    margin: $data-margin;
  }
  .number {}
}



.reputation {
  margin: $profile-card-icon-margin;
  padding-right: 5px;
  float: right;
  .icon {
    margin: $data-margin;
  }
  .value {}
}

.user_data {
  .first_name {
    margin: $data-margin;
  }
  .surnames {
    margin: $data-margin;
  }
  .nick {
    margin: $data-margin;
  }
  .location {
    margin: $data-margin;
  }
}
