.avatar-omnibar {
  float: left;

  overflow: visible;

  width: 15%;

  @include box-sizing(border-box);
  .image {
    float: left;

    // margin-right: 5px;
    @include squared-image(40px);
  }
  .user-data {
    float: left;
    div {
      @extend %white-medium-font;
      @include left-aligned-text-container(100%);
    }
  }
}

.avatar-profile-card {
  height: 70px;
  .image {
    position: relative;
    top: -70px;

    height: 92px;
    width: 92px;

    margin: 0 auto;
    padding: 6px;

    background-color: $white-bgcolor;

    @include box-sizing(border-box);
    @include border-radius(46px, 46px);
    img {
      height: 100%;
      width: 100%;

      border: 1px solid $grey-border-color;

      @include box-sizing(border-box);
      @include border-radius(50%, 50%);
    }
  }
  .user-data {
    position: relative;
    top: -70px;

    overflow: auto;

    margin: 0 auto;

    @include box-sizing(border-box);
    .full-name {
      @include centered-text-container(0);
      @extend %black-big-font;
    }
    .location {
      @include centered-text-container(0);
      @extend %grey-big-font;
    }
  }
}


.avatar-request {
  float: left;

  overflow: visible;

  @include box-sizing(border-box);
  .image {
    float: left;

    overflow: visible;
    img {
      display: block;

      height: $avatar-request-image-width;
      width: $avatar-request-image-width;
    }
  }
}


.avatar-offer {
  float: left;
  .full-name {
    //
  }
  .image {
    img {
      //
    }
  }
}
