.avatar-omnibar {
  float: left;

  @include box-sizing(border-box);

  width: 15%;

  overflow: visible;

  .image {
    float: left;
    margin-right: 5px;
    img {
      height: 40px;
      width: 40px;
    }
  }

  .user-data  {
    float: left;
    .first-name {}
    .surnames {}
  }
}












// .omnibar_avatar {
//   @extend %grey-shadow;
//   @include border-radius(5px, 5px);

//   background-color: $white-bgcolor;
// }

// .profile_card_avatar {
//   @extend %grey-shadow;
//   @include border-radius(5px, 5px);
//   @include box-sizing(border-box);

//   background-color: $white-bgcolor;
//   .image {
//     @include border-radius(43px, 43px);

//     background-color: white;

//     text-align: center;
//     img {
//       @include border-radius(35px, 35px);

//       position: relative;

//       top: 7px;

//       height: 70px;
//       width: 70px;

//       border: 1px solid $grey-border-color;
//     }
//   }
//   .user_data {
//     .full_name {
//       color: $title-font-color;

//       text-align: center;
//     }
//     .location {
//       color: $text-font-color;

//       text-align: center;
//     }
//   }
// }

// .request_avatar {
//   @extend %grey-shadow;
//   @include border-radius(5px, 5px);

//   background-color: $white-bgcolor;
// }
