.avatar{
  @extend %component;
  // width: 300px;
}

// .full_name{}

// .image{}

// .friends{
//   .icon{}
//   .number{}
// }

// .reputation{
//   .icon{}
//   .value{}
// }

// .user_data{
//   .first_name{}
//   .surnames{}
//   .nick{}
//   .location{}
// }
