.avatar-omnibar {
  @include box-sizing(border-box);

  float: left;
  overflow: visible;
  width: $avatar-omnibar-width;

  //>.omnibar-user-image

  .data-side {
    float: left;
  }
}

.avatar-profile-card {
  height: $avatar-profile-card-height;
  .image {
    @include box-sizing(border-box);

    @include border-radius($profile-card-image-size/2, $profile-card-image-size/2);

    position: relative;
    top: -($profile-card-image-size)*0.75;
    height: $profile-card-image-size;
    width: $profile-card-image-size;
    margin: $margin-auto;
    padding: $avatar-profile-card-image-padding;
    background-color: $white-bgcolor;

    img {
      @include box-sizing(border-box);
      @include border-radius(50%, 50%);

      height: 100%;
      width: 100%;
      border: 1px solid $grey-border-color;
    }
  }
  .data-side {
    @include box-sizing(border-box);

    position: relative;
    top: -($avatar-profile-card-height);
    overflow: auto;
    margin: $margin-auto;
  }
}


.avatar-request {
  @include box-sizing(border-box);

  float: left;
  overflow: visible;
  width: $request-avatar-size;
  height: $request-avatar-size;

  .image {
    @include box-sizing(border-box);

    float: left;
    overflow: auto;
    img {
      height: $request-avatar-size;
      width: $request-avatar-size;
    }
  }
}


.avatar-offer {
  float: left;
  width: 100%;
  height: 0px;
  .image {

    @include box-sizing(border-box);
    @include border-radius($offer-avatar-image-size/2, $offer-avatar-image-size/2);

    position: relative;
    top: -($offer-avatar-image-size)*0.55;
    height: $offer-avatar-image-size;
    width: $offer-avatar-image-size;
    margin: $margin-auto;
    background-color: $white-bgcolor;

    img {
      @include box-sizing(border-box);
      @include border-radius(50%, 50%);

      height: 100%;
      width: 100%;
      border: 1px solid $grey-border-color;
    }
  }

}
