.avatar{
  @extend .component;
  width: 300px;
  //TODO: estO ira fuera cuando el helper de cloudinary ponga las imagenes al tamaño correcto
  img{
    width: 50px;
    height: 50px;
  }
}



.full_name{}

.image{}

.friends{
  .icon{}
  .number{}
}

.reputation{
  .icon{}
  .value{}
}

.user_data{
  .first_name{}
  .surnames{}
  .nick{}
  .location{}
}
