.business-info-dashboard {
  @include box-shadow($bussines-info-shadow);
  @include border-radius($bussines-info-radius, $bussines-info-radius);
  float: left;
  background-color: $bussines-info-bgcolor;
}

.info {
  @include box-sizing(border-box);
  width: 100%;
  padding: $bussines-info-padding;
  text-align: $bussines-info-text-align;
  color: $bussines-info-font-color;
  font-size: $bussines-info-font-size;
  font-weight: $bussines-info-font-weight;
}
