.conversation{
  @extend %component;
  @include placement(position: relative, float: left);
  @include dimensions(height: "250px", width: "70%");
  @include spacing(margin: "valor" "valor" "valor" "valor", padding: "valor" "valor" "valor" "valor")
}

// .messages{}

// .message_input{}

// .send_message_control{}
