%good {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0 -1px 2px);
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);
  float: left;
  background-color: $white-bgcolor;
}

.item {
  @extend %good;
  width: $item-image-width;
  margin: $item-margin;
  padding: $item-padding;
}

.product {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: $product-size;
  max-width: $product-size;
  height: $product-size;
  max-height: $product-size;
  background-color: $product-bgcolor;
  margin: $product-margin;
}
