.inline-logout {
  @include box-sizing(border-box);

  float: right;
  width: $inline-logout-width;
  .icon {
    float: right;
    img {
      display: block;
      height: $inline-logout-icon-size;
      width: $inline-logout-icon-size;
    }
  }
}
