.inline-logout {
  @include box-sizing(border-box);
  float: right;
  width: $inline-logout-width;
}

.inline-logout-icon {
  float: right;
  img {
    display: block;
    width: $inline-logout-icon-size;
    height: $inline-logout-icon-size;
  }
}
