%inline_logout {
  .inline_logout {
    @extend .component;

    float: right;
    padding-top: 10px;
    margin-right: 0px;
    width: 5%;
    text-align: right;
    box-shadow: none;
    height: 30px;
    overflow: hidden;
    background-color: transparent;

    .icon {
      float: right;
      img { width: 25px;height: 25px; }
    }
  }
}
