.inline_logout {
  @extend %component;
  box-shadow: none;
  margin-right: 0px;
  height: 30px;
  overflow: hidden;
  background-color: transparent;
  .icon{
    float: right;
    img{width: 25px;height: 25px;}
  }
}
