.message {
  @extend %component;
  margin: $message-margin;
  padding: $text-box-padding;

  .avatar {
    margin: $image-text-margin;
  }

  .text {
    margin: $data-margin;
    padding-left: 5px;
  }

  // .timestamp {}
}

