.omnibar {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: 100%;
  background-color: $omnibar-bgcolor;
  padding: $container-padding;
}

.navigation-controls {
  float: left;
  width: $omnibar-navigation-width;
  text-align: $omnibar-navigation-alignment;
}
