.proposal {
  @include box-sizing(border-box);

  float: left;
  width: 100%;
  padding: $proposal-padding;
  background-color: $white-bgcolor;

  border-bottom: $proposal-border-bottom;
  .composer-goods {
    @include product($proposal-composer-good-size);

    float: left;
    overflow: auto;
    width: $proposal-composer-goods-side-size;
    .product {
      float: left;
    }
  }
  .receiver-goods {
    @include product($proposal-receiver-good-size);

    float: right;
    overflow: auto;
    width: $proposal-receiver-goods-side-size;
    .product {
      float: right;
    }
  }
}
