.proposal {
  @include box-sizing(border-box);
  overflow: auto;
  float: left;
  width: 100%;
  border-bottom: $proposal-border-bottom;
  background-color: $white-bgcolor;
  padding: $proposal-padding;
}

.composer-goods {
  @include product($proposal-composer-good-size);
  overflow: auto;
  float: left;
  width: $proposal-composer-goods-side-size;
  .product {
    float: left;
  }
}

.receiver-goods {
  @include product($proposal-receiver-good-size);
  overflow: auto;
  float: right;
  width: $proposal-receiver-goods-side-size;
  .product {
    float: right;
  }
}
