.requester {
  @include box-sizing(border-box);

  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  margin: $ppal-element-margin;

}

.requester-textarea {
  @include box-sizing(border-box);
  @include border-radius(5px, 5px);

  float: left;
  overflow: auto;
  width: 100%;
  min-height: $requester-textarea-min-height;
  border: $requester-textarea-border;
  font-size: $big-font-size;
  font-weight: regular;
  color: $black-font-color;
}

.countdown {
  @include box-sizing(border-box);

  float: left;
  overflow: visible;
  width: auto;
  margin: $requester-countdown-margin;
  color: $grey-font-color;
}
