.requester {
  @include box-sizing(border-box);

  float: left;

  overflow: auto;

  width: 100%;

  margin: $ppal-element-margin;
  form {
    @include box-sizing(border-box);

    float: left;

    overflow: auto;

    width: 100%;
  }
  textarea {
    @include box-sizing(border-box);
    @include border-radius(5px, 5px);

    float: left;

    overflow: auto;

    width: 100%;
    min-height: 38px;

    border: 2px solid $container-bgcolor;
  }
  .countdown {
    @include box-sizing(border-box);

    float: left;

    overflow: visible;

    width: auto;

    margin-top: 2px;

    color: $text-font-color;
  }
  input {
    @include border-radius(5px, 5px);

    float: right;

    height: 20px;

    margin-top: 4px;

    border: none;

    font-weight: bold;
    color: $white-font-text;

    background-color: $blue-button-bgcolor;
  }
}
