.requester {
  @include box-sizing(border-box);
  @extend %send-button;

  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  margin: $ppal-element-margin;
  form {
    @include box-sizing(border-box);

    float: left;
    overflow: auto;
    width: 100%;
  }
  textarea {
    @extend %black-big-font;
    @include box-sizing(border-box);
    @include border-radius(5px, 5px);

    float: left;
    overflow: auto;
    width: 100%;
    min-height: 38px;
    border: 2px solid $container-bgcolor;
  }
  .countdown {
    @include box-sizing(border-box);

    float: left;
    overflow: visible;
    width: auto;
    margin-top: 2px;
    color: $grey-font-color;
  }
}
