.requester {
  @extend %grey-shadow;
  @include border-radius(5px, 5px);
  @include box-sizing(border-box);

  border: none;
  box-shadow: none;

  background-color: $white-bgcolor;
  textarea {
    @include border-radius(5px, 5px);

    border: 2px solid $container-bgcolor;
  }
  .countdown {
    color: $text-font-color;
  }
  input {
    @include border-radius(5px, 5px);

    border: none;

    font-weight: bold;

    background-color: $blue-button-bgcolor;
    color: $white-font-text;
  }
}
