.requester {
  float: left;

  overflow: auto;

  width: 100%;

  margin: $ppal-element-margin;

  @include box-sizing(border-box);
  form {
    float: left;

    overflow: auto;

    width: 100%;

    @include box-sizing(border-box);
  }
  textarea {
    float: left;

    overflow: auto;

    width: 100%;
    min-height: 38px;

    border: 2px solid $container-bgcolor;
    @extend %black-big-font;

    @include box-sizing(border-box);
    @include border-radius(5px, 5px);
  }
  .countdown {
    float: left;

    overflow: visible;

    width: auto;

    margin-top: 2px;

    color: $grey-font-color;

    @include box-sizing(border-box);
  }
  input {
    float: right;

    height: 20px;

    margin-top: 4px;

    border: none;

    font-weight: bold;
    color: $white-font-color;

    background-color: $blue-button-bgcolor;

    @include border-radius(5px, 5px);
  }
}
