.request {
  @include box-sizing(border-box);
  float: $request-flotation;
  width: $request-width;
  border-bottom: $request-border-bottom;
  margin-top: $request-margin;
  padding: $request-padding;
}

.request-message-grid {
  display: flex;
  overflow: auto;
  float: left;
  width: 100%;
}
