%search {
  .search {
    @extend %component;

    margin-right: $omnibar-components-margin;
    background-color: transparent;
    margin-top: 10px;
    width: 15%;
    text-align: right;

    input {
      width: 100%;
      height: 100%;
    }
  }
}
