@mixin placement($position: null, $float: null, $zindex: null) {
  @if $position { position: $position; }
  @if $float { float: $float; } //usar el misin de compass
  @if $zindex:  { z-index: : $z-index;  }
}

@mixin fixing($top: null, $right: null, $bottom: null, $left: null){
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
}

@mixin displaying($display: null, $overflow: null){
  @if $display { display: $display; }
  @if $overflow { overflow: $overflow; }
}

@mixin dimensions($height: auto, $width: auto){
  @if $height { height: $height; }
  @if $width { width: $width; }
}

@mixin spacing($marginMap: ($top: null, $right: null, $bottom: null, $left: null), $paddingMap: ($top: null, $right: null, $bottom: null, $left: null)){
  @each $marginSide in $marginMap {
    @if map-get($marginMap, $marginSide) { margin-+$marginside: map-get($marginMap, $marginSide)+; }
  }
  @each $paddingSide in $paddingMap {
    @if map-get($paddingMap, $paddingSide) { padding-+$paddingside: map-get($paddingMap, $paddingSide)+; }
  }
}

@mixin centered{ //siempre se incluye el ultimo
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// @include placement(position: "valor", float: "valor", zindex: "valor")
// @include fixing(top: "valor", right: "valor", bottom: "valor", left: "valor")
// @include displaying(display: "valor", overflow: "valor")
// @include dimensions(height: "valor", width: "valor")
// @include spacing(margin: ($top: null, $right: null, $bottom: null, $left: null), padding: ($top: null, $right: null, $bottom: null, $left: null))

//  %top{
//    top: 0px;
// // }

// %bottom{
//   bottom: 0px;
// }

// %centered{
//   float: none;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// %expanded{
//   width: 100%;
// }

