$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
$margen80px: 80px;
$borde1px: 1px solid rgb(220,220,220);

//offer_variables
$bigImageDimension: 144px;
$smallImageDimension: 67px;
$productsLeftMargin: 15px;
$productRightMargin: 8px;
$productsTopMargin: 5px;
$productsBottomMargin: 8px;
$offerWidth: $bigImageDimension + $smallImageDimension + $productsLeftMargin + (2 * $productRightMargin) + 8px;
$trianglePosition: $offerWidth - 25px;
$profileImageLeftMargin: 6px;
$profileImageDimension: 50px;
$commentLeftMargin: 8px;
$commentPosition: $profileImageLeftMargin + $profileImageDimension + $commentLeftMargin;
$commentDistance: $profileImageLeftMargin + $profileImageDimension +$commentLeftMargin;
$commentWidth: $offerWidth - 27px - $commentDistance;
$quantityContainerProportion: ($offerWidth * 0.06);
$quantityContainerPosition: $offerWidth - $quantityContainerProportion;

//para ambos contenedores principales
$MCExtPadding: 1px;
$MCTopPadding: 10px;
$MCCenterMargin: 15px;

//user_container
$width250px: 250px;
$borde2px: 2px solid rgb(220,220,220);
$borde2pxblack: 2px solid black;
$width90pct: 90%;

//main_container
$mainContainerWidth: 75%;
$width72pct: 72%;
$width98pct: 98%;
$width265px: 265px;

//font-family
$verdana: Verdana, Arial, Helvetica, sans-serif;


//Inicio mixins Propiedades generales***************************
@mixin fixed_width($width,$minwidth,$maxwidth) {
  width: $width;
  min-width: $minwidth;
  max-width: $maxwidth;
}

@mixin fixed_height($height,$minheight,$maxheight) {
  height: $height;
  min-height: $minheight;
  max-height: $maxheight;
}

@mixin proportions($width,$height) {
  width: $width;
  height: $height;
}
//Fin mixins Propiedades generales***************************






//Inicio mixins Contenedores*********************************
@mixin rounded_border{
  @include border-radius(5px, 5px);
}

@mixin border_Element_into_container{
  @include box-shadow(rgb(170,170,170) 0px 1px 3px);
  @include rounded_border;
  border: $borde1px;
}

@mixin top_main_header_style{
  @include proportions(100%,38px);
  @include box-shadow(rgb(170,170,170) 0px 1px 3px);  
  margin-bottom:12px;
  border-bottom: $borde1px;
  background-color: white;
}

@mixin ppal_container_style{  
  width: 100%;
  background: rgba(140, 140, 140, 0.15);
  overflow: visible;  
}

@mixin container_into_PpalSide_style{
  @include center-horizontally($width90pct);
  @include border_Element_into_container;
  @include rounded_border;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  overflow: auto; 
}

@mixin element_into_ElementList_style{
  @include border_Element_into_container;
  overflow:auto;
  margin:0px 8px 5px 8px;
  background-color: white;
}
//Fin mixins Contenedores*****************************************





//Inicio mixins de Product****************************************

@mixin images_style{
  @include box-sizing(border-box);
  @include border-radius(5px, 5px);
  border: $borde1px;
  padding:2px;
  overflow: visible;

  .quantity_container{
    @include border-radius(5px, 5px);
    float: left;
    width:$quantityContainerProportion;
    height: $quantityContainerProportion;
    background-color: grey;
    color: white;
  }
}

.product_of_user_selected{
    @include fixed_width(480px,480px,480px);
    @include fixed_height(520px,520px,520px);
    position: absolute;
    top: 35px;
    left: 0px;
    overflow:none;
    background-color: white;

    .money{
      @include center-horizontally(200px);
      margin-top: 5px;

      textarea{
        @include proportions(60%,24px);
        float: left;
        overflow: hidden;
        border: $borde1px;
        background-color: white;
        color: #000000;
        font-size: 12px;
        resize: none;
      }

      button{
        @include proportions(25%,30px);
        float: left;
        margin-left: 2px;
      }
    }

    .product_container{
      @include fixed_width(470px,470px,470px);
      @include fixed_height(470px,470px,470px);
      margin:5px 0px 0px 0px;
      overflow: auto;

      .product{
        @include images_style;
        @include proportions(125px,125px);
        @include border-radius(5px, 5px);
        border: $borde1px;
        float: left;
        margin:5px 0px 0px 5px;
        overflow: none;

        .product_image{          
          overflow: auto;
          img{
            @include high-quality-image;
            @include proportions(123px,123px);
          }
        }
        .product_title{
          @include center-horizontally(126px);
          text-align: center;
        }
      }
    }
  }

//Fin mixins de Product****************************************




//Inicio mixins oferta**************************************

@mixin offer_header{

  .offer_header{
    @include proportions(100%,60px);
    overflow: hidden;
    margin-bottom: 5px;

    .triangle {
      @include relative($top:0px,$left:$trianglePosition);
      @include proportions(0px,0px);
      z-index: 1001;
      border:{
            top: 25px solid rgb(220,220,220);
            right: 0px solid transparent;
            left: 25px solid transparent;
      }

      img{
        @include proportions(12px,10px);
        @include absolute($top:-23px,$left:-13px);   
      }
    }

    .profile_image{
      @include images_style;
      @include relative($top:-20px,$left:$profileImageLeftMargin);
      @include proportions($profileImageDimension,$profileImageDimension);

      a{
        @include proportions(100%,100%); 

        img{
          @include high-quality-image;
          @include proportions(100%,100%);  
        }
      }
    }

    .description{
      @include relative($top:-74px,$left:$commentPosition);
      @include proportions($commentWidth,$profileImageDimension);
      overflow: hidden;
      font-size: 9px;
    }
  }
}

@mixin offer_products{
  .offer_things{
    float:left;
    overflow: visible;
    margin: $productsTopMargin 0px $productsBottomMargin $productsLeftMargin;

    .recieved{
      width: $bigImageDimension;
      float:left;
      overflow: hidden;
      margin: 0px $productRightMargin 0px 0px;

      .image_container{
        @include images_style;
        @include proportions($bigImageDimension,$bigImageDimension);
        float:left;
        margin:0px 0px 5px 0px;

        img{
          @include high-quality-image;
          @include proportions(100%,100%);
        }
      }      
     }

    .given{
      width: $smallImageDimension;
      float: right;
      overflow: hidden;
      margin: 0px $productRightMargin 0px 0px;

      .image_container{
        @include images_style;
        @include proportions($smallImageDimension,$smallImageDimension);
        float:left;
        margin:0px 0px 5px 0px;

        img{
          @include border-radius(5px, 5px);
          @include high-quality-image;
          @include proportions(100%,100%);          
        }
      }      
    }
  }
}

@mixin container_options{
  #options{    
    position: fixed;
    width: $offerWidth;
    overflow: visible;
    background-color:grey;
    z-index: 1000;
    display: none;

    .menu{
      @include float-children('a',left);
      @include box-sizing(border-box);
      border: $borde2px;
      display: inline;
      float:left;
      width: 100%;
      color: white;

      a{ 
        border-bottom: $borde2px;       
        @include unstyled-link;
        @include proportions(100%,20px);
      }
    }
  }
}

//Fin mixins oferta**************************************
