$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
$logoMarginLeft: 80px;
$bordeElementos: 1px solid rgb(220,220,220);

//user_container
$anchuraLadoUsuario: 250px;
$bordeLadoUsuario: 2px solid rgb(220,220,220);
  $anchuraZonasPrincipalesUsuario: 90%;

//main_container
$anchuraLadoContenidos: 72%;
  $anchuraListaContenidos: 98%;
    $anchuraOferta: 265px;