//WHIDTH VARIABLES
$avatar-image-width;
$nav-icon-width;
$inline-login-field-width;
$avatar-icon-width;
$item-image-width;

//HEIGHT VARIABLES
$omnibar-hijo-height;
$avatar-data-height;
$nav_icon_height;
$inline-login-hijo-height;
$bisel-height;
$avatar_image_height;
$avatar-hijo-height;
$avatar-icon-height;
$requester-hijo-height;
$item-image-width;
$element_button_height;

//MARGIN VARIABLES
$omnibar-components-margin;
$image-text-margin;
$ppal-element-margin;
$profile-card-element-margin;
$data-margin;
$profile-card-icon-margin;
$good-bottom-margin;
$message-margin;
$title-description-margin;

//PADDING VARIABLES
$container-padding;
$nav-icon-padding;
$inline-loggin-padding;
$button-box-padding;
$element-padding;
$text-box-padding;
$title-padding;
$component-padding;
$nav-link-padding;

//COLOR VARIABLES
$container-bgcolor: rgb(177,206,206);
$body-bgcolor: rgb(90,148,173);
$nav-selected: rgb(213,214,214);
$title-font-color: black;
$text-font-color: rgb(153,153,153);
$red-button-bgcolor: rgb(231,74,57);
$white-font-text: rgb(253,253,253);
$blue-button-bgcolor: rgb(58,157,223);
$grey-button-bgcolor: rgb(183,183,183);
$grey-border-color: rgb(137,137,137);
$white-bgcolor: rgb(253,253,253);
