//WIDTH VARIABLES
$inline-login-field-width: 100px;

//HEIGHT VARIABLES
$good-data-heigth: 25px;

//MARGIN VARIABLES
$omnibar-components-margin: 50px;
$image-text-margin: 5px;
$ppal-element-margin: 0px 0px 10px 0px;
$profile-card-element-margin: 0px 0px 5px 0px;
$data-margin: 5px;
$profile-card-icon-margin: 5px;
$good-bottom-margin: 5px;
$message-margin: 10px;
$title-description-margin: 5px;

//PADDING VARIABLES
$container-padding: 5px;
$nav-icon-padding: 0px;
$inline-loggin-padding: 0px;
$button-box-padding: 10px 5px;
$element-padding: 15px;
$text-box-padding: 15px;
$title-padding: 5px 5px;
$component-padding: 25px;
$nav-link-padding: 12px 5px;

//COLOR VARIABLES
$container-bgcolor: rgb(177,206,206);
$body-bgcolor: rgb(90,148,173);
$nav-selected: rgb(213,214,214);
$title-font-color: black;
$text-font-color: rgb(153,153,153);
$red-button-bgcolor: rgb(231,74,57);
$white-font-text: rgb(253,253,253);
$blue-button-bgcolor: rgb(58,157,223);
$grey-button-bgcolor: rgb(183,183,183);
$grey-border-color: rgb(137,137,137);
$white-bgcolor: rgb(253,253,253);

//TEXT VARIABLES
$small-font: 10px;
$medium-font: 12px;
$big-font: 14px;
