$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
$margen80px: 80px;
$borde1px: 1px solid rgb(220,220,220);

//user_container
$width250px: 250px;
$borde2px: 2px solid rgb(220,220,220);
$borde2pxblack: 2px solid black;
$width90pct: 90%;

//main_container
$width72pct: 72%;
$width98pct: 98%;
$width265px: 265px;

//font-family
$verdana: Verdana, Arial, Helvetica, sans-serif;


//my own mixins
@mixin fixed_width($width,$minwidth,$maxwidth) {
  width: $width;
  min-width: $minwidth;
  max-width: $maxwidth;
}

@mixin fixed_height($height,$minheight,$maxheight) {
  height: $height;
  min-height: $minheight;
  max-height: $maxheight;
}

@mixin proportions($width,$height) {
  width: $width;
  height: $height;
}

.product_of_user_selected{
    @include fixed_width(480px,480px,480px);
    @include fixed_height(520px,520px,520px);
    position: absolute;
    top: 35px;
    left: 0px;
    overflow:none;
    background-color: white;

    .money{
      @include center-horizontally(200px);
      margin-top: 5px;

      textarea{
        @include proportions(60%,24px);
        float: left;
        overflow: hidden;
        border: $borde1px;
        background-color: white;
        color: #000000;
        font-size: 12px;
        resize: none;
      }

      button{
        @include proportions(25%,30px);
        float: left;
        margin-left: 2px;
      }
    }

    .product_container{
      @include fixed_width(470px,470px,470px);
      @include fixed_height(470px,470px,470px);
      margin:5px 0px 0px 0px;
      overflow: auto;

      .product{
        @include proportions(125px,125px);
        @include border-radius(5px, 5px);
        border: $borde1px;
        float: left;
        margin:5px 0px 0px 5px;
        overflow: none;

        .product_image{
          overflow: auto;
          img{
            @include high-quality-image;
            @include proportions(123px,123px);
          }
        }
        .product_title{
          @include center-horizontally(126px);
          text-align: center;
        }
      }
    }
  }