$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
$margen80px: 80px;
$borde1px: 1px solid rgb(220,220,220);

//offer_variables
$bigImageDimension: 160px;
$smallImageDimension: 60px;
$bigImageQuantityPosition: $bigImageDimension - 10px;
$smallImageQuantityPosition: $smallImageDimension - 7px;
$smallBackgroundSize: 66px;
$bigBackgroundSize: 143px;
$productsLeftMargin: 20px;
$productRightMargin: 14px;
$productsTopMargin: 5px;
$productsBottomMargin: 0px;
$offerWidth: $bigImageDimension + $smallImageDimension + $productsLeftMargin + (2 * $productRightMargin) + 8px;
$trianglePosition: $offerWidth - ($offerWidth/2) - 8px;
$profileImageLeftMargin: 6px;
$profileImageDimension: 50px;
$itemWidth: $offerWidth;
$itemHeight: $offerWidth;
$commentLeftMargin: 8px;
$commentPosition: $profileImageLeftMargin + $profileImageDimension + $commentLeftMargin;
$commentDistance: $profileImageLeftMargin + $profileImageDimension +$commentLeftMargin;
$commentWidth: $offerWidth - 27px - $commentDistance;
$quantityContainerProportion: ($offerWidth * 0.05);
$quantityContainerPosition: $offerWidth - $quantityContainerProportion;

//para ambos contenedores principales
$MCExtPadding: 1px;
$MCTopPadding: 10px;
$MCCenterMargin: 15px;

//user_container
$width250px: 250px;
$borde2px: 2px solid rgb(220,220,220);
$borde2pxblack: 2px solid black;
$width90pct: 90%;

//main_container
$mainContainerWidth: 75%;
$width72pct: 72%;
$width98pct: 98%;
$width265px: 265px;

//font-family
$verdana: Verdana, Arial, Helvetica, sans-serif;


//Inicio mixins Propiedades generales***************************
@mixin fixed_width($width,$minwidth,$maxwidth) {
  width: $width;
  min-width: $minwidth;
  max-width: $maxwidth;
}

@mixin fixed_height($height,$minheight,$maxheight) {
  height: $height;
  min-height: $minheight;
  max-height: $maxheight;
}

@mixin proportions($width,$height) {
  width: $width;
  height: $height;
}
//Fin mixins Propiedades generales***************************






//Inicio mixins Contenedores*********************************
@mixin rounded_border{
  @include border-radius(5px, 5px);
}

@mixin border_Element_into_container{
  @include box-shadow(rgba(0,0,0,0.25) 0px 1px 2px);
  @include rounded_border;

}

@mixin top_main_header_style{
  @include proportions(100%,38px);
  @include box-shadow(rgb(170,170,170) 0px 1px 3px);
  margin-bottom:12px;
  border-bottom: $borde1px;
  background-color: white;
}

@mixin ppal_container_style{
  width: 100%;
  background: rgba(236,240,241,0.5);
  overflow: visible;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}

@mixin container_into_PpalSide_style{
  @include center-horizontally($width90pct);
  @include border_Element_into_container;
  @include rounded_border;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  overflow: auto;
}

@mixin element_into_ElementList_style{
  @include border_Element_into_container;
  overflow:auto;
  margin:0px 8px 5px 8px;
  background-color: white;
}
//Fin mixins Contenedores*****************************************





//Inicio mixins de Product****************************************

@mixin big_images_style{
  @include box-sizing(border-box);
  @include border-radius(2px, 2px);
  border: solid 1px rgb(210,210,210);
  overflow: visible;

  .quantity_container{
    @include border-radius(5px, 5px);
    position: relative;
    top: -$bigImageQuantityPosition;
    left: 0px;
    width:$quantityContainerProportion;
    height: $quantityContainerProportion;
    background-color: grey;
    color: white;
    visibility: hidden;
  }
}

@mixin small_images_style{
  @include box-sizing(border-box);
  @include border-radius(2px, 2px);
  border: solid 1px #dddddd;
  overflow: visible;

  .quantity_container{
    @include border-radius(5px, 5px);
    position: relative;
    top: -$smallImageQuantityPosition;
    left: 0px;
    width:$quantityContainerProportion;
    height: $quantityContainerProportion;
    background-color: grey;
    font-size: 10px;
    color: white;
    visibility: hidden;
  }
}

.artistic_layer_big{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: $bigImageDimension;
  background-repeat:no-repeat;
  opacity: 0.05;
  z-index: 100;
}

.artistic_layer_small{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: $smallImageDimension;
  background-repeat:no-repeat;
  opacity: 0.05;
  z-index: 100;
}

.product_of_user_selected{
    @include fixed_width(100%,100%,100%);
    @include fixed_height(100%,100%,100%);
    position: absolute;
    top: 35px;
    left: 0px;
    overflow:none;
    background-color: white;

    .money{
      @include center-horizontally(200px);
      margin-top: 5px;

      textarea{
        @include proportions(60%,24px);
        float: left;
        overflow: hidden;
        border: $borde1px;
        background-color: white;
        color: #000000;
        font-size: 12px;
        resize: none;
      }

      button{
        @include proportions(25%,30px);
        float: left;
        margin-left: 2px;
      }
    }

    .product_container{
      @include fixed_width(470px,470px,470px);
      @include fixed_height(470px,470px,470px);
      margin:5px 0px 0px 0px;
      overflow: auto;

      .product{
        @include big_images_style;
        @include proportions(125px,125px);
        @include border-radius(5px, 5px);
        border: $borde1px;
        float: left;
        margin:5px 0px 0px 5px;
        overflow: none;

        .product_image{
          overflow: auto;
          img{
            @include high-quality-image;
            @include proportions(123px,123px);
          }
        }
        .product_title{
          @include center-horizontally(126px);
          text-align: center;
        }
      }
    }
  }

//Fin mixins de Product****************************************




//Inicio mixins oferta**************************************

@mixin offer_header{
  .offer_header{
    @include proportions(100%,24px);
    float: left;
    background-color: rgb(243,243,243);
    overflow: none;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: rgb(41,128,185);
    padding-top: 5px;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 18px;
  }
}

@mixin offer_triangle{
  .offer_triangle{
    @include proportions(100%,15px);
    float: left;

    .triangle {
      @include relative($top:0px,$left:$trianglePosition);
      @include proportions(0px,0px);
      z-index: 1001;
      border:{
            top: 5px solid #bbbbbb;
            right: 10px solid transparent;
            left: 10px solid transparent;
      }
    }
  }
}


@mixin offer_products{
  .offer_items{
    float:left;
    overflow: visible;
    margin: $productsTopMargin 0px $productsBottomMargin $productsLeftMargin;
    padding-bottom: 35px;

    .recieved{
      width: $bigImageDimension;
      float:left;
      overflow: auto;
      margin: 0px $productRightMargin 0px 0px;

      .image_container{
        @include big_images_style;
        width: $bigImageDimension;
        margin:0px 0px 5px 0px;

        img{
          @include border-radius(2px, 2px);
          @include high-quality-image;
          @include proportions($bigImageDimension - 2,$bigImageDimension - 2);
          background-color: white;
        }

        .description{
          @include box-sizing(border-box);
          float: left;
          width: 100%;
          height: 30px;
          padding: 2px;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
        }
      }
     }

    .given{
      width: $smallImageDimension;
      float: right;
      overflow: auto;
      margin: 0px $productRightMargin 0px 0px;

      .image_container{
        @include small_images_style;
        @include proportions($smallImageDimension,$smallImageDimension);
        margin:0px 0px 5px 0px;
        position: relative;
        //background-image: url("/assets/images/pictureframe.png");
        //background-size: $smallBackgroundSize $smallBackgroundSize;
        //background-repeat:no-repeat;

        img{
          @include border-radius(2px, 2px);
          @include high-quality-image;
          @include proportions(100%,100%);
          background-color: white;
        }
      }
    }
  }
}

@mixin offer_info{
  .offer_info{
    float: left;
    width: 100%;
    height: auto;
    overflow: visible;
    background-color: #f3f3f3;
    border-top: 1px solid #dddddd;
    padding-bottom: 10px;

    .profile_image{
      @include center-horizontally(50px);
      @include proportions(52px,52px);
      @include border-radius(26px, 26px);
      background-color: #f3f3f3;
      position: relative;
      top:-28px;
      border: 1px solid #dddddd;

      img{
        @include high-quality-image;
        @include proportions(46px,46px);
        @include border-radius(23px, 23px);
        margin-left: 2px;
        margin-top: 2px;
        border: 1px solid #dddddd;
      }

      a{
        img{
          @include high-quality-image;
          @include proportions(46px,46px);
          @include border-radius(23px, 23px);
          margin-left: 2px;
          margin-top: 2px;
          border: 1px solid #dddddd;
        }
      }
    }

    .description{
      @include center-horizontally(100%);
      position: relative;
      top:-20px;
      left:0px;
      overflow: hidden;
      font-size: 9px;
      line-height: normal;

      .offer_message{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        color: #443f3f;
        padding: 0px 20px;

        textarea{
          @include box-sizing(border-box);
          border-style: none;
          border-color: transparent;
          background-color: transparent;
          width: 100%;
          resize: none;
        }
      }
    }

    .offer_buttons{
      @include center-horizontally(90%);
      @include box-sizing(border-box);
      height: auto;
      overflow: auto;

      .new_negotiation{
        margin-bottom: 0px;
        input{width: 100%;}
      }

      input{
        @include box-sizing(border-box);
        float: left;
        width: 65%;
      }

      button{
        @include box-sizing(border-box);
        float: right;
        width: 30%;
      }
    }

    .offer_date{
      float: left;
      @include proportions(100%,20px);
      font-size: 9px;
    }
  }
}

@mixin container_options{
  #options{
    position: fixed;
    width: $offerWidth;
    overflow: visible;
    background-color:grey;
    z-index: 1000;
    display: none;

    .menu{
      @include float-children('a',left);
      @include box-sizing(border-box);
      border: $borde2px;
      display: inline;
      float:left;
      width: 100%;
      color: white;

      a{
        border-bottom: $borde2px;
        @include unstyled-link;
        @include proportions(100%,20px);
      }
    }
  }
}

//Fin mixins oferta**************************************


//Inicio mixins request**************************************

@mixin request{
  .request{
    @include center-horizontally(100%);
    @include box-sizing(border-box);
    overflow: hidden;
    padding: 10px 6px 0px 6px;
    border-top: $borde1px;

    .profile_image{
      @include box-sizing(border-box);
      @include border-radius(5px, 5px);
      @include proportions(18%,40px);
      padding: 2px;
      float:left;
      border: $borde1px;

      img{
        @include high-quality-image;
        @include proportions(100%,100%);
      }
    }

    .description{
      @include proportions(80%,40px);
      float: right;
      font-size: 9px;
      line-height: normal;
      overflow: hidden;
    }

    .options_menu{
      @include center-horizontally(90%);
      top: -5px;
      height: 10px;
      float: left;
      font-size: 9px;

      a{
        float: right;
        margin-top: -12px;
        margin-left: 20px;
        color: #3355FF;
        font-weight: bold;
      }
    }

    &:hover{
      background-color: #EEEEEE;
    }

  }
}

//Fin mixins request**************************************

