$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
$margen80px: 80px;
$borde1px: 1px solid rgb(220,220,220);

//user_container
$width250px: 250px;
$borde2px: 2px solid rgb(220,220,220);
$width90pct: 90%;

//main_container
$width72pct: 72%;
$width98pct: 98%;
$width265px: 265px;

//font-family
$verdana: Verdana, Arial, Helvetica, sans-serif;


//my own mixins
@mixin fixed_width($width,$minwidth,$maxwidth) {
  width: $width;
  min-width: $minwidth;
  max-width: $maxwidth;
}

@mixin fixed_height($height,$minheight,$maxheight) {
  height: $height;
  min-height: $minheight;
  max-height: $maxheight;
}

@mixin proportions($width,$height) {
  width: $width;
  height: $height;
}