@import "variables";

.user_alert{
  @include box-sizing(border-box);
  @include border-radius(5px, 5px);
  float: left;
  background-color: white;
  overflow: auto;
  padding: 5px;
  margin-bottom: 3px;
  margin-right: 3px;
  border: $borde1px;

  .alert_text{
    @include box-sizing(border-box);
    float: left;
    text-align: center;
  }

  .options_menu{
    @include center-horizontally(100%);
    @include box-sizing(border-box);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    a{
      font-size: 20px;
    }
  }

  &:hover{
    border-color: #3388BB;
    background-color: #ececfb;
  }

}
