@import "variables";

.user_alert{
  @include center-horizontally(100%);
  @include box-sizing(border-box);
  @include border-radius(5px, 5px);
  background-color: white;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 15px;
  border: $borde1px;

  .profile_image{
    @include box-sizing(border-box);
    @include border-radius(5px, 5px);
    @include proportions(40px,40px);
    padding: 2px;
    float:left;
    margin:0px 5px 5px 0px;
    border: $borde1px;

    img{
      @include high-quality-image;
      @include proportions(100%,100%);
    }
  }

  .description{
    @include box-sizing(border-box);
    @include border-radius(5px, 5px);
    @include proportions(75%,40px);
    float: left;
    font-size: 10px;
    overflow: hidden;            
  }

  .options_menu{
    @include center-horizontally(15%);
    height: 20px;            
    float: right;
    font-size: 9px;
    a{
      float:right;
    }
  }

  &:hover{
    border-color: #3388BB;
    background-color: #ececfb;
  }
  
}
