//*************** Estilos para los botones************************//
//El generador que he utilizado esta en: http://css3button.net

@import 'stitch';
@import "variables";


button.add_offer_button {
  
  @include border-radius(8px, 8px);
  @include box-shadow(0px 1px 3px rgba(41,31,41,0.5),
    inset 0px 0px 2px rgba(255,255,255,1));

  margin: 10px 0px 0px 50px;
  padding: 4px 20px;
  border: 1px solid #325738;

  background: -moz-linear-gradient(top, #696369 0%,#696369);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#696369),
    to(#696369));
  color: #ffffff;
 
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.4);
  font-size: 14px;
  font-family: $verdana;

}
