//*************** Estilos para los botones************************//
//El generador que he utilizado esta en: http://css3button.net

@import 'stitch';
@import "variables";

.new_offer_button_style{
  @include border-radius(4px, 4px);
  padding: 8px 35px;
  height: 30px;
  border: solid 1px #dddddd;
  background-color: rgb(231,76,60);
  text-align: center;
}

.new_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(0,196,113);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}

.sign_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(46,154,219);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}

.cancel_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(231,76,60);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}

.offer_buttons_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  height: 30px;
  background-color: white;
  border: 1px solid #dddddd;
  color: #7f8c8c;
}

.item_buttons_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  padding-top: 5px;
  height: 30px;
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  color: #7f8c8c;
  text-align: center;
  text-decoration:none;
  font-weight: bold;
}

.empty_button_style{
  @include border-radius(5px, 5px);
  background-color: rgb(41,140,200);
  color: white;
  font-weight: bolder;
  font-size: 15px;
  border: solid 1px rgb(210,210,210);
  padding: 10px;
}

.new_request_invitation_button_style{
  @include border-radius(5px, 5px);
  background-color: #f3f3f3;
  color: #7f8c8c;
  font-weight: bolder;
  font-size: 15px;
  border: solid 1px rgb(210,210,210);
  padding: 10px;
}
