//*************** Estilos para los botones************************//
//El generador que he utilizado esta en: http://css3button.net

@import 'stitch';
@import "variables";

.new_offer_button_style{
  @include border-radius(4px, 4px);
  padding: 8px 18px 8px 18px;
  height: 30px;
  border: solid 1px #dddddd;
  background-color: rgb(231,76,60);
  text-align: center;
}

.new_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(0,196,113);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}

.sign_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(46,154,219);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}

.cancel_deal_button_style{
  @include border-radius(4px, 4px);
  @include box-sizing(border-box);
  float: left;
  width: 25%;
  padding: 2px 4px;
  margin-top: 10px;
  height: 25px;
  border: solid 1px #dddddd;
  background-color: rgb(231,76,60);
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}
