.deal{
  float: left;
  width: 350px;
  margin-right: 10px;
  overflow: auto;
  border: $borde1px;
  background-color: #eeeeee;

  .deal_header{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    height: 110px;
    margin-bottom: 10px;

    .deal_users{
      float: left;
      width: 100%;
      height: 80px;

      .deal_user{
        @include box-sizing(border-box);
        float: left;
        width: 33.3%;
        height: 100%;
        padding: 10px 0px 0px 0px;
        text-align: center;
        img{
          @include border-radius(5px);
          width: 50px;
          height: 50px;
        }
        .deal_user_name{
          float: left;
          width: 100%;
          height: 20px;
          text-align: center;
        }
      }
    }

    .deal_options{
      float: left;
      width: 100%;
      height: 30px;

      .deal_option{
        @include box-sizing(border-box);
        float: left;
        width: 33.3%;
        text-align: center;
        padding: 8px;

        .deal_button{
          @include border-radius(4px);
          border: 1px solid grey;
          background-color: #ffffff;
        }
      }
    }
  }


  .dialog_container{
    @include box-sizing(border-box);
    border-top: 2px solid #dddddd;
    float:left;
    overflow: hidden;
    width: 100%;

    .conversation{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      overflow-y: auto;
      padding: 8px 0px 6px 0px;
      background-color: rgb(243,243,243);

      .comment{
        @include box-sizing(border-box);
        float: left;
        width:100%;
        height: 50px;
        padding: 0px 5px;

        .comment_user_image{
          @include box-sizing(border-box);
          float: left;
          padding: 5px;

          img{
            @include border-radius(15px, 15px);
            @include proportions(30px,30px);
            @include high-quality-image;
          }
        }

        .comment_text{
          @include box-sizing(border-box);
          float: left;
          width:80%;
          height: 50px;
          padding: 2px 5px;
          color: #000000;
          text-align: left;
          font-size: 12px;
          word-break:break-all;
        }

        .comment_datetime{
          float: left;
          text-align: right;
          font-size: 6px;
          color: green;
        }
      }
    }

    .writting_box{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      height: 42px;
      overflow: auto;
      border:{
        top: $borde1px;
        left:none;
      }

      .user_writing{
        @include box-sizing(border-box);
        float:left;
        width: 15%;
        height: 40px;
        margin: 0px;
        padding: 5px 0px 0px 10px;
        img{
          @include border-radius(15px, 15px);
            @include proportions(30px,30px);
            @include high-quality-image;
        }
      }

      form{
        float:left;
        width: 85%;
        height: 40px;
        margin: 0px;

        .message{
          float: left;
          height: 100%;
          overflow: hidden;
          width: 100%;

          input{
            float: left;
            width: 98%;
            height: 100%;
            margin: 0px;
            border: none;
            padding: 0px;
            background-color: transparent;
          }
        }
      }
    }
  }




}