@import "variables";

.devise_content{
  @include box-sizing(border-box);
  background-color: rgb(100,152,173);
  //background-image: url("/assets/images/socialnetwork.png");
  //background-repeat:no-repeat;
  //background-attachment:fixed;
  //background-position:center;
  float: left;
  width: 100%;
  overflow: auto;
  visibility: visible;

  .login_container_logo{
    @include center-horizontally(50%);
    text-align: center;
    padding-top: 50px;
  }

  .login_container_coverage{
    @include center-horizontally(50%);
    background-color: rgba(140,192,213,0.3);
    margin-top: 20px;
    padding: 20px;
    width: 260px;
    height: 100%;

    .login_container{
      @include border-radius(2px);
      width: 100%;
      background-color: white;
      height: auto;
      overflow: auto;
      padding-bottom: 5px;

      .login_container_header{
        @include box-sizing(border-box);
        float: left;
        width: 100%;

        .log_header_enter{
          float: left;
          width: 50%;
          text-align: center;
          font-size: 16px;
          padding: 5px 0px;
          a{
            text-decoration:none;
          }
        }

        .log_header_reg{
          background-color: black;
          float: left;
          width: 50%;
          text-align: center;
          font-size: 16px;
          padding: 5px 0px;
          a{
            text-decoration:none;
          }
        }
      }

      .login_user_fields{
        float: left;
        margin-top: 5px;
        padding: 0px 15px;
        font-size: 9px;

        .login_email_field{
          float: left;
          width: 100%;
          .email_label{font-size: 10px;}

          input{
            float: left;
            width: 92%;
          }
        }
        .login_pass_field{
          float: left;
          width: 100%;
          .pass_label{font-size: 10px;}

          input{
            float: left;
            width: 92%;
          }
        }
        .rememberme_selector{
          float: left;
          width: 100%;
          @include box-sizing(border-box);

          .remember_tic{
            float: left;
            width: 6%;
          }
          .remember_label{
            float: left;
            width: 80%;
            padding-left: 3px;
            font-size: 10px;
          }

        }
        .signin_button{
          float: left;
          width: 100%;

          input{
            float: left;
            width: 98%;
          }
        }

      }


      .registration_user_fields{
        float: left;
        margin-top: 5px;
        padding: 0px 15px;
        font-size: 9px;

        .registration_email_field{
          float: left;
          width: 100%;
          .email_label{font-size: 10px;}

          input{
            float: left;
            width: 92%;
          }
        }
        .registration_pass_field{
          float: left;
          width: 100%;
          .pass_label{font-size: 10px;}

          input{
            float: left;
            width: 92%;
          }
        }

        .registration_confirm_pass_field{
          float: left;
          width: 100%;
          .pass_label{font-size: 10px;}

          input{
            float: left;
            width: 92%;
          }
        }

        .rememberme_selector{
          float: left;
          width: 100%;
          @include box-sizing(border-box);

          .remember_tic{
            float: left;
            width: 6%;
          }
          .remember_label{
            float: left;
            width: 80%;
            padding-left: 3px;
            font-size: 10px;
          }

        }
        .signup_button{
          float: left;
          width: 100%;
          margin-top: 5px;

          input{
            float: left;
            width: 98%;
          }
        }

      }



    }

  }

}