.friend{
  @include box-sizing(border-box);
  @include element_into_ElementList_style;
  float: left;
  width: 300px;

  .friend_description{
    @include box-sizing(border-box);
    float: left;
    width: 100%;

    .friend_image{
      @include box-sizing(border-box);
      float: left;
      width: 60px;
      height: 50px;
      padding: 5px 10px;
      img{
        @include proportions(40px,40px);
        @include border-radius(20px);
      }
    }

    .friend_data{
      @include box-sizing(border-box);
      float: left;
      width: 240px;
      height: 50px;
      padding: 5px 5px 0px 5px;

      .friend_completename{
        float: left;
        width: 100%;
        text-align: left;
        font:{
          size: 12px;
          weight: bold;
          family: verdana;
        }
      }
      .friend_address{
        float: left;
        width: 100%;
        text-align: left;
        font:{
          size: 10px;
          weight: regular;
          family: italic;
        }
      }
    }
  }

  .friend_notifications{
    @include box-sizing(border-box);
    border-top: 1px solid grey;
    float: left;
    width: 100%;

    .friend_notify_area{
      @include box-sizing(border-box);
      border-right: 1px solid grey;
      float: left;
      width: 33.3%;
      height: 100%;
      padding: 10px 0px 0px 0px;
      text-align: center;
      img{
        @include border-radius(5px);
        width: 50px;
        height: 50px;
      }

      &:last-child{
        border: none;
      }

    }
  }

}