@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.header{
  @include fixed_width(100%,1200px,100%);
  position: fixed;
  z-index: 1000; 
  display: inline;
  overflow: hidden;
  border: $borde1px;
  background-color:#0a67a3;
  color: white;

    .header_logo{
      @include proportions(120px,30px);
      float: left;
      margin-left: $margen80px;      
      border: $borde1px;        
    }
    
    nav{
      @include float-children('a',left);
      float: left;
      margin: 6px 10px 0px 200px;
      
      a{
        @include unstyled-link;
        @include proportions(20px,20px);
        margin-right:8px;
        border: $borde1px;
      }
    }

    input[type='search']{
      @include reset-search-field;
      float: left;
      margin-top: 5px;
      margin-right:20px;
    }

    .header_user_image{
      @include proportions(30px,30px);
      float:left;   
      border: $borde1px;

      img{
        @include high-quality-image;
        @include proportions(inherit,inherit);
      }
    }

    .header_user_description{
      @include proportions(120px,30px);
      float:left;
      margin-left:5px;
      vertical-align:text-top;
      font-weight:bolder;        
      font-size:8px;

      p{
        @include proportions(100%,10px);
        float: left;
        margin:0px;
        margin-bottom:2px;   
        font-size:9px;
      } 
    }

    a{
      @include unstyled-link;
      margin-left: 10px;
    }
}