@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.header,.login_header{
  @include box-sizing(border-box);
  float: left;
  padding: 0px 20px;

  @media screen and (max-width: 1500px) {
    width: 1200px;
  }

  @media screen and (min-width: 1500px) {
    width: 1480px;
  }

  min-width: 800px;
  padding-top: 0px;
  height: 40px;
  display: block;
  background-color:transparent;
  color: white;
  overflow: hidden;
  z-index: 10000;

  .header_container{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    overflow: hidden;

    .header_user_data{
      @include box-sizing(border-box);
      float: left;
      width: 20%;
      height: 40px;

      .header_user_description{
        @include box-sizing(border-box);
        float: left;
        height: 40px;
        width: 50px;
        padding-top: 5px;

        .header_description_element{
          @include box-sizing(border-box);
          float: left;
          width: 100%;
          height: 15px;
          margin:0px;
          font:{
            weight:bold;
            size:9px;
          }
        }
      }

      .header_user_image{
        @include box-sizing(border-box);
        float: left;
        height: 40px;
        padding-top: 5px;
        margin: 0px;

        .header_user-image_container{
          @include box-sizing(border-box);
          @include proportions(34px,34px);
          @include border-radius(15px,15px);
          background-color: white;
          padding: 2px 0px 0px 2px;

          a{
            overflow: auto;

            img{
              @include high-quality-image;
              @include proportions(30px,30px);
              @include border-radius(15px,15px);
            }
          }
        }
      }

    }

    .header_navigation_icons{
      @include box-sizing(border-box);
      float: left;
      width: 45%;
      height: 40px;
      padding: 0px 0px 0px 160px;

      .header_menu{
        @include box-sizing(border-box);
        float: left;
        width:100%;
        height: 40px;

        .header_menu_icon{
          @include box-sizing(border-box);
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 15px;

          a{
            float: left;
            margin-top: 7px;
            width: 100%;
            height: 100%;

            img{
              @include high-quality-image;
              @include proportions(26px,26px);
            }
          }
        }
      }

    }

    .header_options{
      @include box-sizing(border-box);
      float: left;
      width: 35%;
      height: 40px;

      .header_options_search{
        @include box-sizing(border-box);
        float: right;
        height: 40px;

        input[type='search']{
          @include reset-search-field;
          float: right;
          margin: 8px 20px 0px 0px;
        }

      }

      .header_options_logout{
        @include box-sizing(border-box);
        float: right;
        height: 40px;

        a{
          float: right;
          height: 40px;
          @include unstyled-link;
          margin-left: 10px;
        }
      }

    }

  }
}

.login_header{
  .header_container{
    width: 880px;
    .header_options{
      margin-right: 60px;
    }
  }
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}