@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.header{
  @include fixed_width(100%,100%,100%);
  height: 36px;
  padding-top: 4px;
  position: fixed;
  z-index: 1000;
  display: inline;
  overflow: hidden;
  background-color:#004e6a;
  color: white;

    .header_logo{
      @include proportions(140px,20px);
      float: left;
      color: white;
      //border: $borde1px;
      background:{
        image: image-url('http://localhost:3000/system/images/logo.png');
        repeat:no-repeat;
      }
      margin:{
        top: 6px;
        left: $margen80px;
      }
    }

    nav{
      @include float-children('a',left);
      float: left;
      margin: 4px 10px 0px 200px;

      a{
        @include unstyled-link;
        @include proportions(20px,20px);
        margin-right:8px;
        //border: $borde1px;
      }
    }

    input[type='search']{
      @include reset-search-field;
      float: left;
      margin: 5px 20px 0px 0px;
    }

    .header_user_image{
      @include proportions(26px,26px);
      float:left;
      margin: 3px 0px 0px 0px;

      a{
        @include proportions(24px,24px);
        margin: 0px;
        img{          
          @include high-quality-image;
          @include proportions(24px,24px);
        }
      }      
    }

    .header_user_description{
      @include proportions(120px,30px);
      float:left;
      margin-left:5px;
      vertical-align:text-top;
      font:{
        weight:bolder;
        size:8px;
      }

      p{
        @include proportions(100%,10px);
        float: left;
        margin:0px 0px 2px 0px;
        font-size:9px;
      }
    }

    a{
      @include unstyled-link;
      margin-left: 10px;
    }
}