@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.header{
  position: fixed;
  width: 100%;
  max-width:100%;
  min-width:1200px;
  overflow: hidden;
  border: $bordeElementos;
  background-color:#0a67a3;
  color: white; 
  display: inline;
  z-index: 1000;

    .header_logo{
      float: left;
      margin-left: $logoMarginLeft;
      width: 120px;
      height: 30px;
      border: $bordeElementos;        
    }
    
    nav{
      @include float-children('a',left);
      float: left;
      margin: 6px 10px 0px 200px;
      
      a{
        @include unstyled-link;
        width:20px;
        height:20px;
        margin-right:8px;
        border: $bordeElementos;
      }
    }

    input[type='search']{
      @include reset-search-field;
      float: left;
      margin-right:20px;
      margin-top: 5px;
    }

    .header_user_image{
      width:30px;
      height:30px;
      float:left;
      border: $bordeElementos;

      img{
        @include high-quality-image;
        width:30px;
        height:30px;
      }
    }

    .header_user_description{
      float:left;
      width:120px;
      height:30px;
      margin-left:5px;        
      font-size:8px;
      font-weight:bolder;
      vertical-align:text-top;

      p{
        float: left;
        height:10px;
        width:100%;
        font-size:9px;
        margin:0px;
        margin-bottom:2px;
      } 
    }

    a{
      @include unstyled-link;
      margin-left: 10px;
    }
}