@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.header{
  // @media screen and (max-width: 1500px) {
  //   width: 1200px;
  // }

  // @media screen and (min-width: 1500px) {
  //   width: 1480px;
  // }
  @include box-sizing(border-box);
  float: left;
  margin-bottom: 10px;
  width: 100%;
  min-width: 800px;
  padding-left: 0px;
  padding-right: 0px;
  height: 40px;
  display: block;
  background-color:transparent;
  color: white;
  overflow: hidden;

  .header_container{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    overflow: hidden;

    .header_user_data{
      @include box-sizing(border-box);
      float: left;
      width: 15%;
      height: 40px;

      .header_user_description{
        @include box-sizing(border-box);
        overflow: auto;
        float: left;
        height: 40px;
        width: 50px;
        padding-top: 5px;

        .header_description_element{
          @include box-sizing(border-box);
          float: left;
          width: 100%;
          height: 15px;
          margin:0px;
          font:{
            weight:bold;
            size:11px;
          }
        }
      }

      .header_user_image{
        @include box-sizing(border-box);
        float: left;
        height: 40px;
        padding-top: 5px;
        margin: 0px;

        .header_user-image_container{
          @include box-sizing(border-box);
          @include proportions(34px,34px);
          @include border-radius(17px,17px);
          background-color: white;
          padding: 2px 0px 0px 2px;

          a{
            overflow: auto;

            img{
              @include high-quality-image;
              @include proportions(30px,30px);
              @include border-radius(15px,15px);
            }
          }
        }
      }

    }

    .header_navigation_icons{
      @include box-sizing(border-box);
      float: left;
      width: 45%;
      height: 40px;
      padding: 0px 0px 0px 220px;

      .header_menu{
        @include box-sizing(border-box);
        float: left;
        width:100%;
        height: 40px;

        .header_menu_icon{
          @include box-sizing(border-box);
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 15px;

          a{
            float: left;
            margin-top: 7px;
            width: 100%;
            height: 100%;

            img{
              @include high-quality-image;
              @include proportions(26px,26px);
            }
          }
        }
      }

    }

    .header_options{
      @include box-sizing(border-box);
      float: left;
      width: 40%;
      height: 40px;

      .header_options_search{
        @include box-sizing(border-box);
        @include border-radius(8px,8px);
        float: right;
        height: 40px;
        width: 50%;

        input[type='search']{
          @include reset-search-field;
          @include border-radius(8px,8px);
          float: right;
          width: 100%;
          height: 25px;
          margin: 8px 20px 0px 0px;
          padding-left: 5px;
          font-size: 13px;
        }

      }

      .header_options_logout{
        @include box-sizing(border-box);
        float: right;
        height: 40px;
        margin-top: 10px;

        a{
          float: right;
          height: 40px;
          @include unstyled-link;
          margin-left: 10px;
        }
      }

    }

  }
}


.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
