@import "variables";

.item{
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 5px 5px 0px 5px;

  .item_quantity{
    @include border-radius(4px, 2px);
    position: relative;
    border: 1px solid #BBBBBB;
    background-color: white;
    padding: 1px;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;

    .quantity_number{
      position: absolute;
      width: 18px;
      height: 21px;
      text-align: left;
      padding-left: 5px;
      padding-top: 2px;
      background-color: #cccccc;
      color: #6498ad;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .item_image{
    @include box-sizing(border-box);
    float: left;
    width: $itemWidth;
    height: $itemWidth;
    margin-bottom: 2px;
    a{
      img{
        @include box-sizing(border-box);
        @include border-radius(5px, 5px);
        @include high-quality-image;
        @include proportions(100%,100%);
      }
    }
    img{
      @include box-sizing(border-box);
      @include border-radius(5px, 5px);
      @include high-quality-image;
      @include proportions(100%,100%);
    }
  }


  .item_description{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 8px;

    .text{
      float: left;
      width: 100%;
      font-size: 15px;
      text-align: center;
      overflow: none;
      textarea{
        float:left;
        width: 95%;
        resize:none;
        border:none;
        text-align:center;
        color: red;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .item_options{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    margin-bottom: 5px ;
  }
}


.item_overview{
  @include box-sizing(border-box);
  @include fixed_height(150px,150px,150px);
  float: left;
  width: 100%;
  padding: 10px 10px 0px 10px;

  .overview_image{
    @include box-sizing(border-box);
    float: left;
    border: 1px solid #dddddd;
  }
  .overview_description{
    @include box-sizing(border-box);
    float: left;
    margin-left: 5px;
    @include proportions(300px,130px);
    // border-top: 1px solid #dddddd;

    .overview_description_title{
      float: left;
      width: 100%;
      height: 30px;
      margin-bottom: 5px;
      // border: 1px solid #dddddd;
    }
    .overview_description_text{
      float: left;
      width: 100%;
      height: 90px;
      // border: 1px solid #dddddd;
    }
  }

}
