@import "variables";

.item{
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: $itemWidth;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 5px;

  .item_quantity{
    @include border-radius(4px, 2px);
    position: relative;
    border: 1px solid #BBBBBB;
    background-color: white;
    padding: 1px;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;

    .quantity_number{
      position: absolute;
      width: 18px;
      height: 21px;
      text-align: left;
      padding-left: 5px;
      padding-top: 2px;
      background-color: #cccccc;
      color: #6498ad;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .item_image{
    float: left;
    width: 100%;

    img{
      @include box-sizing(border-box);
      @include high-quality-image;
      @include proportions($itemWidth,$itemWidth);
      border: 1px solid #BBBBBB;
    }
  }

  .item_description{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    max-height: 40px;
    overflow: none;
    margin: 0px 0px 0px 0px;
    padding: 8px;

    .text{
      float: left;
      width: 100%;
      font-size: 11px;
      text-align: center;
      overflow: none;
    }
  }
}