@import "variables";
@import "compass/typography/links/unstyled-link";
@import 'stitch';

.login_header{
  @include fixed_width(100%,1200px,100%);
  height: 60px;
  position: fixed;
  z-index: 1000; 
  display: inline;
  overflow: hidden;  
  border: $borde1px;
  background-color:#004e6a;
  color: white;

    .login_header_logo{
      @include proportions(120px,30px);
      float: left;
      margin-left: $margen80px;     
      border: $borde1px;        
    }
    
    nav{
      @include float-children('a',left);
      float: left;
      margin: 6px 10px 0px 400px;
      
      a{
        @include unstyled-link;
        @include proportions(30px,30px);
        margin-right:8px;     
        border: $borde1px;
      }
    }

    input[type='search'] {
      @include reset-search-field;
      float: left;
      margin:{
        top: 5px;
        right:20px;
      }
    }

    .login_header_user_image{
      @include proportions(30px,30px);
      float:left;
      border: $borde1px;

      img{
        @include high-quality-image;
        @include proportions(inherit,inherit);
      }
    }

    .login_header_user_description{
      @include proportions(120px,30px);
      float:left;
      margin-left:5px;
      border: $borde1px;
      vertical-align:text-top;
      font:{
        weight:bolder;
        size:8px;
      }

      p{
        @include proportions(100%,10px);
        float: left;
        margin:0px 0px 2px 0px;
        font-size:9px;
      } 
    }
}