@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.main_container{
  @include absolute($top:50px,$left:300px);
  @include proportions($width72pct,auto);
  border: $borde2px;
  background-color: transparent;
  overflow: visible;

  .main_container_header{
    @include fixed_width(100%,500px,100%);
    float:left;
    margin-bottom:12px;
    border-bottom: $borde2px;
    background-color: white;

    .main_container_header_menu{
      width:inherit;
      float:left;

      nav{
        @include float-children('.nav_element',left);
        @include proportions(60%,26px);
        float:left;

        a{
          float: inherit;
          @include unstyled-link;
          height: 27px;
          border-right: $borde2px;

          .nav_element{  
            padding: 3px 5px 0px 10px;                      
          }          
        }

        a:hover{
          background-color:grey;
          color: white;
        }

        a:last-child{
          border:none;
        }        
      } 

      .main_container_header_search{
        float:right;
        margin:2px 10px 0px 0px;
      }

      .add_product{
        float:right;
        height:22px;
        margin-right:10px;

        img{
          @include high-quality-image;
          @include proportions(10px,10px);          
          margin-right:4px;
          
          button{
            float:left;
            text-align:center;
            vertical-align:center;
          }
        }            
      }
    }
  }
      
  .main_container_elementList{
    @include center-horizontally($width98pct);
    @include fixed_width($width98pct,$width98pct,$width98pct);
    overflow: auto;

    .boton_nueva_offerta{
      @include proportions(100%,40px);      
      margin-bottom: 10px;
      float: left;      
        button{
          @include center-horizontally($width98pct);
        }
    }
  }
}