@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.right_container{
  width: 890px;
  min-width: 750px;
  float: left;
  padding: $MCTopPadding $MCExtPadding 0px 0px;

  .main_container{
    @include ppal_container_style;
    float: left;
    overflow: visible;
    display:inline-block;    

    .noti_bubble {
      position:absolute; 
      background-image: url("/assets/images/notification.png");
      width: 15px;
      height: 15px;
      top: -8px;
      right:-6px;
      z-index: 100;
    }

    .main_container_elementList{            
      @include center-horizontally(97%);
      margin-bottom: 5px;
      padding: 0px 0px 0px 0px;
      overflow: visible;
    }
  }

}
