@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.right_container{
  width: 526px;
  min-width: 526px;
  float: left;
  padding: $MCTopPadding $MCExtPadding 0px 0px;
  margin-top: -40px;
  overflow: visible;

  .main_container{
    @include ppal_container_style;
    float: left;
    overflow: inherit;

    .noti_bubble {
      position:absolute;
      background-image: url("/assets/images/notification.png");
      width: 15px;
      height: 15px;
      top: -8px;
      right:-6px;
      z-index: 100;
    }

    .main_container_elementList{
      @include box-sizing(border-box);
      width: 100%;
      float: left;
      margin-bottom: 5px;
      padding-top: 0px;
      padding-right: 10px;
      padding-bottom: 0px;
      padding-left: 20px;
      overflow: inherit;
    }
  }

}
