@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.main_container{
  @include absolute($top:50px,$left:300px);
  @include proportions($width72pct,auto);
  border: $borde2px;
  background-color: #f8fcf8;
  overflow: visible;

  .main_container_header{
    @include fixed_width(100%,500px,100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#DEDEDE));
    background: -webkit-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -moz-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -ms-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -o-linear-gradient(top, #FAFAFA, #DEDEDE);
    float:left;
    margin-bottom:12px;
    border-bottom: $borde2px;
    background-color: white;

    .main_container_header_menu{
      width:inherit;
      float:left;

      nav{
        @include float-children('.nav_element',left);
        @include proportions(60%,26px);
        float:left;

        a{
          float: inherit;
          @include unstyled-link;
          height: 27px;
          border-right: $borde2px;

          .nav_element{
            padding: 3px 5px 0px 10px;
          }
        }

        a:hover{
          background-color:#85b1bf;
          color: white;
        }

        a:last-child{
          border:none;
        }
      }

      .nav_selected{
        background-color:#00698c;
        color: white;
      }

      .main_container_header_search{
        float:right;
        margin:2px 10px 0px 0px;
      }

      .add_product{
        float:right;
        height:22px;
        margin-right:10px;

        img{
          @include high-quality-image;
          @include proportions(10px,10px);
          margin-right:4px;

          button{
            float:left;
            text-align:center;
            vertical-align:center;
          }
        }
      }
    }
  }

  .main_offer_button{
    @include proportions(100%,40px);
    margin: 0px 0px 10px 8px;
    float: left;
      button{
        @include center-horizontally($width98pct);
      }
  }

  .main_container_elementList{
    @include center-horizontally($width98pct);
    @include fixed_width($width98pct,$width98pct,$width98pct);
    overflow: auto;
  }
}