@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.main_container{
  @include absolute($top:50px,$left:300px);
  width:$widthContentSide72;
  border: 2px solid rgb(220,220,220);
  background-color: transparent;
  overflow: visible;

  .main_container_header{
    float:left;
    width:100%;
    min-width:500px;
    margin-bottom:15px;
    border-bottom: $borde1px;
    background-color: white;

    .main_container_header_menu{
      width:inherit;
      float:left;

      nav{
        @include float-children('.nav_element',left);
        float:left;
        width:60%;           

        .nav_element{
          height:26px; // tiene para que este a la misma altura que el gradiente izdo
          padding: 0px 5px 0px 10px;
          border-right: $borde1px;

          a{
            @include unstyled-link;
            float:left;
            margin-top: 5px;           
          }
        }

        .nav_element:hover{
          background-color: grey;
          color: white;
          cursor: auto;
        }

        .nav_element:last-child{
          border:none;
        }

      }

      .main_container_header_search{
        float:right;
      }

      .add_product{
        float:right;
        height:22px;
        margin-right:10px;

        img{
          @include high-quality-image;
          width:10px;
          height: 10px;
          margin-right:4px;
          
          button{
            float:left;
            text-align:center;
            vertical-align:center;
          }
        }            
      }
    }
  }
      
  .main_container_elementList{
    @include center-horizontally($widthContentList98);
    width:$widthContentList98;
    min-width:$widthContentList98;
    overflow: auto;
  }
}