@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.main_container{
  @include absolute($top:50px,$left:300px);
  @include proportions($width72pct,auto);
  border: $borde2px;
  background-color: transparent;
  overflow: visible;

  .main_container_header{
    @include fixed_width(100%,500px,100%);
    float:left;
    margin-bottom:15px;
    border-bottom: $borde2px;
    background-color: white;

    .main_container_header_menu{
      width:inherit;
      float:left;

      nav{
        @include float-children('.nav_element',left);
        @include proportions(60%,26px);
        float:left;          

        .nav_element{  
          height: 26px;        
          padding: 0px 5px 0px 10px;
          border-right: $borde2px;

          a{
            @include unstyled-link;
            float:left;
            margin-top: 5px;           
          }
        }

        .nav_element:hover{
          background-color: grey;
          color: white;
          cursor: auto;
        }

        .nav_element:last-child{
          border:none;
        }

      }

      .main_container_header_search{
        float:right;
        margin:2px 10px 0px 0px;
      }

      .add_product{
        float:right;
        height:22px;
        margin-right:10px;

        img{
          @include high-quality-image;
          @include proportions(10px,10px);          
          margin-right:4px;
          
          button{
            float:left;
            text-align:center;
            vertical-align:center;
          }
        }            
      }
    }
  }
      
  .main_container_elementList{
    @include center-horizontally($width98pct);
    @include fixed_width($width98pct,$width98pct,$width98pct);
    overflow: auto;
  }
}