@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";


.right_container{
  @include box-sizing(border-box);
  width: $mainContainerWidth;
  float:left;
  padding: $MCTopPadding $MCExtPadding 0px 0px;

  .main_container{
    @include ppal_container_style;
    float: left;
    overflow: visible;
    display:inline-block;    

    .main_container_header{
      @include top_main_header_style;

      .main_container_header_menu{
        width:inherit;
        float:left;

        nav{
          @include float-children('.nav_element',left);
          @include proportions(50%,26px);
          float:left;

          a{
            @include unstyled-link;
            float: inherit;            
            height: 27px;
            border-right: $borde2px;

            .nav_element{
              padding: 3px 5px 0px 10px;
            }
          }

          a:hover{
            background-color:#85b1bf;
            color: white;
          }

          a:last-child{
            border:none;
          }
        }        

        .nav_selected{
          background-color:#00698c;
          color: white;
        }

        .main_offer_button{
          float: left;          
          margin-bottom: 10px;

          button{
            width: 100%;
            height: 30px;
          }
        }

        .main_container_header_search{
          float:right;
          margin:2px 10px 0px 0px;
        }

        .add_product{
          float:right;
          height:22px;
          margin-right:10px;

          img{
            @include high-quality-image;
            @include proportions(10px,10px);
            margin-right:4px;

            button{
              float:left;
              text-align:center;
              vertical-align:center;
            }
          }
        }
      }
    }

    .main_container_elementList{            
      @include center-horizontally(97%);
      margin-bottom: 5px;
      padding: 0px 0px 0px 0px;
      overflow: visible;
    }
  }

}