@import "variables";
@import 'stitch';
@import "compass/typography/links/unstyled-link";

.right_container{
  width: 500px;
  min-width: 500px;
  float: left;
  overflow: visible;

  .main_container{
    @include ppal_container_style;
    float: left;
    overflow: inherit;

    .noti_bubble {
      position:absolute;
      background-image: url("/assets/images/notification.png");
      width: 15px;
      height: 15px;
      top: -8px;
      right:-6px;
      z-index: 100;
    }

    .main_container_elementList{
      @include box-sizing(border-box);
      width: 100%;
      float: left;
      padding-left: 10px;
      margin-top: 10px;

      @include request;
      .request{
        width: $offerWidth;
        @include border-radius(5px, 5px);
        background-color: white;
        margin: 0px 5px 10px 0px;
        float: left;
        border: none;
        .profile_image{
          border: none;
          img{
            width: 40px;
            height: 40px;
            border: 1px solid grey;
          }
        }
        .description{}
        .options_menu{}
      }

    }
  }

}
