#simplemodal-container a.modalCloseImg {
  @include proportions(25px,29px);
  @include absolute($top:6px,$right:-2px);
  background:url('../../images/x.png') no-repeat;
  z-index:3200; 
  display:inline;
  cursor:pointer;
}
