#simplemodal-container a.modalCloseImg {
  background:url('../../images/x.png') no-repeat; 
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:6px;
  right:-2px;
  cursor:pointer;
}
