/* Clearfix for the menu */
.nav_bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.nav_bar{
	@include box-sizing(border-box);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
    background-color: white;
    overflow:hidden;
    width:100%;
    height: 38px;

	.nav {
		list-style:none;
	    margin: 0px 0px 0px 0px;
	    padding:0;
	    overflow: auto;

	    li{
		    float:left;
		    font-family:Arial, Helvetica, sans-serif;
		    font-size:15px;
		    margin-right:0px;
		    text-align:center;

		    a{
		    	style: none;
			    color: rgb(117, 140,141);
			    display:block;
			    padding:10px;
			    text-decoration:none;
          border-right: 2px solid rgb(168,196,206);
			    /*Transiciones*/
			    -webkit-transition: 0.4s linear all;
			    -moz-transition: 0.4s linear all;
			    -o-transition: 0.4s linear all;
			    transition: 0.4s linear all;
			  }

  			a:hover {
  			 color:#000;
  			}

    	}


	}

}

.active{
	background-color: rgb(168, 196, 206);
  a{
    color: white;
  }
}
