@import "variables";

.negotiation {
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: 100%;
  margin:0px 0px 20px 0px;
  float: left;

    .offer {
      @include element_into_ElementList_style;      
      @include container_options;
      @include offer_header;
      @include offer_products;
      @include box-sizing(border-box);      
      border: none;
      padding: 0px;
      margin: 0px;
      width: $offerWidth;
      float: left;

      .offer_button{
        width: 100%;

        input{
          float: right;
          margin: 0px 10px 10px 0px;
        }
      }

      .offer_date{
        float: left;
        margin: 0px 0px 0px 5px;
        font-size: 8px;
        visibility: hidden;
      }

      @include box-sizing(border-box);
    }     

    .dialog_container{
      @include box-sizing(border-box);
      float:right;
      overflow: hidden;
      width: 70%;
      border-left: $borde2px;

      .dialog_head{
        @include proportions(100%,25px);
        float: left;
        margin-bottom:10px;
        background-color:rgb(220,220,220);

        .dialogin{
          float:left;
          margin: 4px 0px 0px 12px;
          color:near-black;
          font-size:10px;
        }

        a{
          @include unstyled-link;
          margin: 0px 4px 0px 0px;
          float: right;
          font-size: 14px;
        }

      }

      .conversation{
        overflow-y: auto;
        width: 100%;
        text-align: center;

        .comment{
          float: left;
          margin:3px 0px 2px 3px;
          width:98%;

          .comment_user_image{
            float: left;
            margin: 1px 8px 0px 5px;

            img{
              @include border-radius(5px, 5px);
              @include proportions(30px,30px);
              @include high-quality-image;
            }
          }

          .comment_text{
            width: 450px;
            overflow: auto;
            margin-top: -2px;
            float: left;
            color: #000000;
            text-align: left;
            font-size: 10px;
          }

          .comment_datetime{
            float: right;
            text-align: right;
            font-size: 8px;
          }
        }
      }

      .writting_box{
        float: left;
        overflow: auto;
        width: 100%;

        form{
          float:right;
          width: inherit;

          .message{
            float: left;
            overflow: hidden;
            width: inherit;

            input{
              float: inherit;
              width: inherit;
              border:{
                top: $borde2px;
                left:none;
              }
            }
          }
        }
      }
    }
}