@import "variables";

.negotiation {
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: 100%;
  margin:0px 0px 20px 0px;
  float: left;

    .negotiation_offer {
      @include offer_header;
      @include offer_products;
      @include offer_info;
      @include box-sizing(border-box);
      overflow: none;
      padding: 0px;
      margin: 0px;
      width: $offerWidth;
      float: left;

      .offer_info{
        .offer_buttons{
          input,a{
            width: 25%;
            padding-top: 4px;
            margin-bottom: 0px;
          }
        }
      }

      .oponent_info{
        float: left;
        width: 100%;
        background-color: white;
        overflow: none;
        padding-top: 5px;
        margin-bottom: 8px;

        .oponent_image{
          @include box-sizing(border-box);
          float: left;
          width: 35%;
          text-align: center;
          img{
            @include high-quality-image;
            @include proportions(60px,60px);
            @include border-radius(30px, 30px);
            margin-left: 1px;
            margin-top: 2px;
            border: 2px solid #cccccc;
          }
        }

        .oponent_description{
          @include box-sizing(border-box);
          float: left;
          width: 65%;
          padding-top: 8px;

          .oponent_name{
            float: left;
            width: 100%;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            color: black;
          }
          .oponent_address{
            float: left;
            width: 100%;
            text-align: left;
            font-size: 12px;
            font-style: italic;
            color: #bbbbbb;
          }
        }
      }
    }

    .dialog_container{
      @include box-sizing(border-box);
      float:right;
      overflow: hidden;
      width: 70%;
      border-left: 1px solid rgb(204,204,204);

      .dialog_head{
        @include proportions(100%,25px);
        float: right;
        background-color: rgb(243,243,243);

        .option_icons{
          @include proportions(100%,25px);
          @include box-sizing(border-box);
          float: right;
          padding: 5px 5px;

          .icon{
            float: right;
            margin-left: 10px;
            img{
              @include proportions(20px,20px);
              @include high-quality-image;
            }
            a{
              @include unstyled-link;
              img{@include high-quality-image;}
            }
          }
        }
      }

      .conversation{
        @include box-sizing(border-box);
        position: relative;
        overflow-y: auto;
        width: 100%;
        padding-top: 4px;
        padding-left: 5px;
        background-color: rgb(243,243,243);

        .comment{
          @include box-sizing(border-box);
          float: left;
          margin:3px 0px 6px 0px;
          width:100%;

          .comment_user_image{
            @include box-sizing(border-box);
            float: left;
            width: 10%;
            padding-left: 3px;
            margin: 1px 0px 0px 0px;

            img{
              @include border-radius(5px, 5px);
              @include proportions(30px,30px);
              @include high-quality-image;
            }
          }

          .comment_text{
            @include box-sizing(border-box);
            float: left;
            width: 85%;
            margin-top: -2px;
            color: #000000;
            text-align: left;
            font-size: 12px;
            word-break:break-all;
          }

          .comment_datetime{
            float: left;
            text-align: right;
            font-size: 6px;
            color: green;
          }
        }

        .option_buttons{
          @include box-sizing(border-box);
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 80px;
          height: 30px;
          padding: 10px;

          .icon{
            float: right;
            margin-left: 10px;
            img{
              @include high-quality-image;
            }
            a{
              @include unstyled-link;
              img{@include high-quality-image;}
            }
          }
        }

      }

      .writting_box{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        height: 46px;
        overflow: none;
        border:{
          top: $borde1px;
          left:none;
        }

        .message{
          @include box-sizing(border-box);
          float:left;
          width: 100%;
          height: 100%;
          margin: 0px;

          form{
            @include box-sizing(border-box);
            float: left;
            height: inherit;
            overflow: hidden;
            width: 100%;

            textarea{
              @include box-sizing(border-box);
              float: left;
              width: 80%;
              height: 100%;
              margin: 0px;
              border: none;
              resize: none;
              padding-top: 15px;
              padding-left: 5px;
              font-size: 15px;
            }

            input{
              @include box-sizing(border-box);
              float: right;
              width: 20%;
              height: 100%;
              margin: 0px;
              border: none;
              padding: 0px;
            }
          }
        }
      }
    }
}
