@import "variables";

.negotiation {
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: 100%;
  margin:0px 0px 20px 0px;
  float: left;

    .negotiation_offer {

      .oponent_info{
        float: left;
        width: 100%;
        background-color: rgb(243,243,243);
        overflow: none;
        padding-top: 5px;
        margin-bottom: 8px;

        .oponent_image{
          @include box-sizing(border-box);
          float: left;
          width: 35%;
          text-align: center;
          img{
            @include high-quality-image;
            @include proportions(60px,60px);
            @include border-radius(30px, 30px);
            margin-left: 1px;
            margin-top: 2px;
            border: 1px solid #cccccc;
          }
        }

        .oponent_description{
          @include box-sizing(border-box);
          float: left;
          width: 65%;
          padding-top: 8px;

          .oponent_name{
            float: left;
            width: 100%;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            color: black;
          }
          .oponent_address{
            float: left;
            width: 100%;
            text-align: left;
            font-size: 12px;
            font-style: italic;
            color: #bbbbbb;
          }
        }
      }

      @include offer_header;
      @include offer_products;
      @include offer_info;
      @include box-sizing(border-box);
      overflow: none;
      padding: 0px;
      margin: 0px;
      width: $offerWidth;
      float: left;

      @include box-sizing(border-box);
    }

    .dialog_container{
      @include box-sizing(border-box);
      float:right;
      overflow: hidden;
      width: 70%;
      border-left: 2px solid rgb(119,119,119);

      .dialog_head{
        @include proportions(100%,29px);
        float: left;
        background-color: rgb(119,119,119);
        color: white;

        .dialogin{
          float:left;
          margin: 4px 0px 0px 12px;
          color:near-black;
          font-size:10px;
        }

        a{
          @include unstyled-link;
          margin: 0px 4px 0px 0px;
          float: right;
          font-size: 14px;
        }

      }

      .conversation{
        @include box-sizing(border-box);
        float: left;
        overflow-y: auto;
        width: 100%;
        padding-top: 4px;
        background-color: rgb(243,243,243);

        .comment{
          float: left;
          margin:3px 0px 2px 3px;
          width:98%;

          .comment_user_image{
            float: left;
            margin: 1px 8px 0px 5px;

            img{
              @include border-radius(5px, 5px);
              @include proportions(30px,30px);
              @include high-quality-image;
            }
          }

          .comment_text{
            width: 450px;
            overflow: auto;
            margin-top: -2px;
            float: left;
            color: #000000;
            text-align: left;
            font-size: 10px;
          }

          .comment_datetime{
            float: right;
            text-align: right;
            font-size: 8px;
          }
        }
      }

      .writting_box{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        height: 36px;
        padding-left: 5px;
        overflow: auto;
        border:{
          top: $borde1px;
          left:none;
        }

        form{
          float:left;
          width: 100%;
          height: 28px;
          margin: 0px;

          .message{
            float: left;
            height: inherit;
            overflow: hidden;
            width: 100%;
            padding-top: 5px;

            input{
              float: left;
              width: 100%;
              height: inherit;
              margin: 0px;
              border: none;
              padding: 0px;
            }
          }
        }
      }
    }
}