@import "variables";

.table {
  width: 825px;
  min-width:825px;
  margin-bottom: 25px;
  float: left;
  border: $bordeElementos;
  background-color: white;

    .proposition_side{
      width: 313px;
      float:left;
      overflow: hidden;

      .proposition{
        width: 100%;
        float:left;
        overflow:hidden;

        .proposition_header{
          width: 100%;
          height: 60px;
          margin-bottom: 5px;
          overflow: hidden;
          border-bottom:$bordeElementos;;

          .triangle {
            position: relative;
            top:0;
            right:-290px;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 0px solid transparent;
            border-top: 25px solid rgb(220,220,220);
          }

          .profile_image{
            position:relative;
            top: -20px;
            left: 8px;
            width: 50px;
            height: 50px;
            border: $bordeElementos;
            border-radius:5px;
          }
        }                

        .offered_things{
          width: 160px;
          float: left;

          .offered_product{
            float: left;
            width:140px;
            height:140px;
            overflow: auto;
            border: $bordeElementos;
            margin: 10px 5px 0px 5px;
            border-radius:5px;

            .img{
              width:140px;
              height:140px;
            }
            .product-title{
              float: left;
              font-size: 10px;
              text-align: center;
            }
          }

          .offered_money{
            margin: 2px 0px 0px 2px;
            width: 80px;
            height:auto;
            float: left;
            text-align: center;
            font-size: 12px;
            border: 2px solid rgb(220,220,220);
            border-radius: 5px;

            img{
            }

          }

        }

        .orderer_things{
          float:left;
          width: 110px;
          padding:10px 0px 0px 15px;

          .orderer_product{
            width: 110px;
            height: 110px;
            float:left;
            border: $bordeElementos;
            border-radius:5px;

            img{
              float:left;
              width:90px;
              height:90px;
            }

            .product-title{
              float: left;
              font-size: 10px;
              text-align: center;
            }

          }

          .orderer_money{
            margin: 2px 0px 0px 2px;
            width: 80px;
            height:auto;
            float: left;
            text-align: center;
            font-size: 12px;
            border: 2px solid rgb(220,220,220);
            border-radius: 5px;

            img{
            }
          }
        }
        
      }


      .actions{
        width:100%;
        float:left;
        overflow:auto;
        margin-bottom:5px;

        .reputation{
          float:left;
          padding-left: 18px;

          img{
            float:left;
          }
        }
        .action_buttons{
          float:right;
          padding-right: 60px;

          button{
            width: 80px;
            margin-top: 10px;
            font-size: 10px;
          }
        }
      }

    }

    .dialog_side{
      width: 510px;
      float:right;
      overflow: hidden;
      border-left: 2px solid rgb(220,220,220);

      .dialog_head{
        float: left;
        width: 100%;
        height: 25px;
        background-color:rgb(220,220,220);
        margin-bottom:10px;

        .dialogin{
          float:left;
          margin-left:12px;
          margin-top: 4px;
          color:near-black;
          font-size:10px;
        }
      }

      .conversation{
        width: 100%;
        overflow-y: auto;
        text-align: center;

        .comment{
          width:98%;
          float: left;
          margin:3px 0px 2px 3px;

          .comment_user_image{
            float: left;
            width:30px;
            height:30px;
            margin-right:3px;
            border: $bordeElementos;
            border-radius: 5px;

            img{
            }
          }

          .comment_text{
            width: 450px;
            height:30px;
            float: left;
            border: $bordeElementos;
            border-radius: 5px;

            textarea{
              float: right;
              resize: none;
              border: none;
              font-size: 10px;
              background-color: transparent;
              color: #000000;
              width: 98%;
              overflow: hidden;
              maxlenght: 10;
            }
          }
        }
      }

      .writting_box{
        float: left;
        width: 100%;
        overflow: auto;

        form{
          width: 100%;
          float:right;

          .message{
            width: 100%;
            float: left;
            overflow: hidden;

            input{
              width: 100%;
              float: left;
              border-top: 2px solid rgb(220,220,220);
              border-left:none;
            }
          }

          .sender{
            position: absolute;
            top: 0;
            right: -500;
            width: 0%;
            float: left;
            z-index: 3000;

            input{
              visibility: hidden;
            }
          }
        }
      }
    }
}