@import "variables";

.negotiation {
  @include box-shadow(rgb(170,170,170) 1px 1px 3px);
  float: left;
  margin-bottom: 25px;
  margin-left: 15px;
  min-width:825px;
  width: 825px;
  border: $borde1px;
  background-color: white;

    .proposition_container{
      @include box-sizing(border-box);
      float:left;
      overflow: hidden;
      width: 38%;

      .proposition{
        float:left;
        overflow:hidden;
        width: 100%;

        .proposition_header{
          overflow: hidden;
          margin-bottom: 5px;
          width: 100%;
          height: 60px;
          border-bottom:$borde1px;

          .triangle {
            @include relative($top:0px,$right:-290px);
            width: 0;
            height: 0;
            border-top: 25px solid rgb(220,220,220);
            border-right: 0px solid transparent;
            border-left: 25px solid transparent;
          }

          .profile_image{
            @include relative($top:-20px,$left:8px);
            @include border-radius(5px, 5px);           
            width: 50px;
            height: 50px;
            border: $borde1px;
          };
        }                

        .offered_things{
          float: left;
          width: 160px;

          .offered_product{
            @include border-radius(5px, 5px);
            float: left;
            overflow: auto;
            margin: 10px 5px 0px 5px;
            width:140px;
            height:140px;
            border: $borde1px;

            .img{
              @include high-quality-image;
              width:140px;
              height:140px;
            }
            .product-title{
              float: left;
              text-align: center;
              font-size: 10px;
            }
          }

          .offered_money{
            @include border-radius(5px, 5px);
            float: left;
            margin: 2px 0px 0px 2px;
            width: 80px;
            height:auto;
            border: $borde2px;
            text-align: center;
            font-size: 12px;

            img{
              @include high-quality-image;
            }

          }

        }

        .orderer_things{
          float:left;
          padding:10px 0px 0px 15px;
          width: 110px;

          .orderer_product{
            @include border-radius(5px, 5px);
            float:left;
            width: 110px;
            height: 110px;
            border: $borde1px;

            img{
              float:left;
              width:90px;
              height:90px;
            }

            .product-title{
              float: left;
              text-align: center;
              font-size: 10px;
            }

          }

          .orderer_money{
            @include border-radius(5px, 5px);
            float: left;
            margin: 2px 0px 0px 2px;
            width: 80px;
            height:auto;
            border: $borde2px;
            text-align: center;
            font-size: 12px;

            img{
              @include high-quality-image;
            }
          }
        }
        
      }


      .actions{
        float:left;
        overflow:auto;
        margin-bottom:5px;
        width:100%;

        .reputation{
          float:left;
          padding-left: 18px;

          img{
            @include high-quality-image;
            float:left;
          }
        }
        .action_buttons{
          float:right;
          padding-right: 60px;

          button{
            margin-top: 10px;
            width: 80px;
            font-size: 10px;
          }
        }
      }

    }

    .dialog_container{
      @include box-sizing(border-box);
      float:right;
      overflow: hidden;
      width: 62%;
      border-left: $borde2px;

      .dialog_head{
        float: left;
        margin-bottom:10px;
        width: 100%;
        height: 25px;
        background-color:rgb(220,220,220);

        .dialogin{
          float:left;
          margin-top: 4px;
          margin-left:12px;
          color:near-black;
          font-size:10px;
        }
      }

      .conversation{
        overflow-y: auto;
        width: 100%;
        text-align: center;

        .comment{
          float: left;
          margin:3px 0px 2px 3px;
          width:98%;

          .comment_user_image{
            @include border-radius(5px, 5px);
            float: left;
            margin-right:3px;
            width:30px;
            height:30px;
            border: $borde1px;

            img{
              @include high-quality-image;
            }
          }

          .comment_text{
            @include border-radius(5px, 5px);
            float: left;
            width: 450px;
            height:30px;
            border: $borde1px;

            textarea{
              float: right;
              overflow: hidden;
              width: 98%;
              border: none;
              background-color: transparent;
              color: #000000;
              font-size: 10px;
              resize: none;
            }
          }
        }
      }

      .writting_box{
        float: left;
        overflow: auto;
        width: 100%;

        form{
          float:right;
          width: 100%;

          .message{
            float: left;
            overflow: hidden;
            width: 100%;

            input{
              float: left;
              width: 100%;
              border-top: $borde2px;
              border-left:none;
            }
          }

          .sender{
            @include absolute($top:0px,$right:-500px);
            z-index: 3000;
            float: left;
            width: 0%;

            input{
              visibility: hidden;
            }
          }
        }
      }
    }
}