@import "variables";

.negotiation {
  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: 100%;
  float: left;  

    .proposition_container{
      @include box-sizing(border-box);
      float:left;
      overflow: hidden;
      width: 38%;

      .proposition{
        float:inherit;
        overflow:inherit;
        width: 100%;

        .proposition_header{
          @include proportions(100%,60px);
          overflow: inherit;
          margin-bottom: 5px;
          border-bottom:$borde1px;

          .triangle {
            @include relative($top:0px,$right:-290px);
            @include proportions(0,0);
            border:{
              top: 25px solid rgb(220,220,220);
              right: 0px solid transparent;
              left: 25px solid transparent;
            }
          }

          .profile_image{
            @include relative($top:-20px,$left:8px);
            @include border-radius(5px, 5px);
            @include proportions(50px,50px);
            border: $borde1px;
            img{
              @include border-radius(5px, 5px);
              @include proportions(50px,50px);
            }
          }
        }

        .offered_things{
          float: left;
          width: 180px;

          .offered_product{
            @include images_style;
            @include proportions(132px,132px);
            float: left;
            overflow: auto;
            margin: 10px 5px 0px 5px;
            padding-left: 10px;

            img{
              @include high-quality-image;
              @include proportions(100%,100%);             
              float: left;
            }

            .product-title{
              float: left;
              width: 88%;
              font-size: 10px;
            }
          }

          .offered_money{
            @include border-radius(5px, 5px);
            @include proportions(80px,auto);
            float: left;
            margin: 2px 0px 0px 2px;
            border: $borde2px;
            text-align: center;
            font-size: 12px;

            img{
              @include high-quality-image;
            }
          }
        }

        .orderer_things{
          float:left;
          padding:10px 0px 0px 15px;
          width: 90px;

          .orderer_product{
            @include images_style;
            @include proportions(90px,90px);
            float: left;
            overflow: auto;
            margin: 0px 5px 0px 5px;

            img{
              @include proportions(100%,100%);
              float:left;
            }

            .product-title{
              float: inherit;
              text-align: center;
              font-size: 10px;
            }

          }

          .orderer_money{
            @include border-radius(5px, 5px);
            @include proportions(80px,auto);
            float: inherit;
            margin: 2px 0px 0px 2px;
            border: $borde2px;
            text-align: center;
            font-size: 12px;

            img{
              @include high-quality-image;
            }
          }
        }

      }


      .actions{
        float:left;
        overflow:auto;
        margin-bottom:5px;
        width:100%;

        .reputation{
          float:left;
          padding-left: 18px;

          img{
            @include high-quality-image;
            float:left;
          }
        }
        .action_buttons{
          float:right;
          padding-right: 60px;

          button{
            margin-top: 10px;
            width: 80px;
            font-size: 10px;
          }
        }
      }

    }

    .dialog_container{
      @include box-sizing(border-box);
      float:right;
      overflow: hidden;
      width: 62%;
      border-left: $borde2px;

      .dialog_head{
        @include proportions(100%,25px);
        float: left;
        margin-bottom:10px;
        background-color:rgb(220,220,220);

        .dialogin{
          float:left;
          margin: 4px 0px 0px 12px;
          color:near-black;
          font-size:10px;
        }

        a{
          @include unstyled-link;
          margin: 0px 4px 0px 0px;
          float: right;
          font-size: 14px;
        }

      }

      .conversation{
        overflow-y: auto;
        width: 100%;
        text-align: center;

        .comment{
          float: left;
          margin:3px 0px 2px 3px;
          width:98%;

          .comment_user_image{
            float: left;
            margin: 1px 8px 0px 5px;

            img{
              @include border-radius(5px, 5px);
              @include proportions(30px,30px);
              @include high-quality-image;
            }
          }

          .comment_text{
            width: 450px;
            overflow: auto;
            margin-top: -2px;
            float: left;
            color: #000000;
            text-align: left;
            font-size: 10px;
          }

          .comment_datetime{
            float: right;
            text-align: right;
            font-size: 8px;
          }
        }
      }

      .writting_box{
        float: left;
        overflow: auto;
        width: 100%;

        form{
          float:right;
          width: inherit;

          .message{
            float: left;
            overflow: hidden;
            width: inherit;

            input{
              float: inherit;
              width: inherit;
              border:{
                top: $borde2px;
                left:none;
              }
            }
          }
        }
      }
    }
}