@import "variables";

#new_offer{//es el selector del formulario, pero no lo puedo seleccionar con form
  margin-bottom: 0px;
}

.products_area{
  @include box-sizing(border-box);
  @include fixed_width(70%,70%,70%);
  @include fixed_height(700px,700px,700px);
  float: left;
  padding: 10px 10px 0px 10px;
  background-color: transparent;

  .title{
    @include fixed_width(100%,100%,100%);
    @include fixed_height(40px,40px,40px);
    float: left;
    margin-bottom: 5px;

    a{
      @include box-sizing(border-box);
      float: left;
      width: 33.3%;

      .user_products_selector{
        @include fixed_width(100%,100%,100%);
        @include fixed_height(100%,100%,100%);
        float: left;
        text-align: center;

        .user_image{
          @include fixed_width(100%,100%,100%);
          @include fixed_height(100%,100%,100%);
          @include center-horizontally(50%);

          img{
            @include proportions(36px,36px);
            @include border-radius(18px, 18px);
            box-shadow: 0px 3px 5px #888, 0px -3px 5px #888;
          }
        }

        .description{
          margin-top: 10px;
        }
      }

    }
  }

  .products_container{
    @include box-sizing(border-box);
    @include fixed_width(100%,100%,100%);
    @include fixed_height(635px,635px,635px);
    background-color: white;
    float: left;
    overflow: visible;
    border: 1px solid #D4D6D5;

    .products_list{
      float: left;
      @include box-sizing(border-box);
      @include fixed_width(100%,100%,100%);
      @include fixed_height(480px,480px,480px);
      padding: 10px;
      overflow: auto;

      #composer_content_area{
        overflow: auto;
      }

      #receiver_content_area{
        overflow: auto;
      }

     .item{
      width: 150px;
      .item_image{
          img{
            @include proportions(148px,148px);
          }
        }
      }
    }

    .product_overview{
      @include fixed_height(150px,150px,150px);
      float: left;
      width: 100%;
      border-top: 1px solid #dddddd;
      padding: 10px;

      .overview_image{
        @include box-sizing(border-box);
        float: left;
        @include proportions(130px,130px);
        border: 1px solid #dddddd;
      }
      .overview_description{
        @include box-sizing(border-box);
        float: left;
        margin-left: 5px;
        @include proportions(350px,130px);
        border-top: 1px solid #dddddd;

        .overview_description_title{
          float: left;
          width: 100%;
          height: 30px;
          margin-bottom: 5px;
          border: 1px solid #dddddd;
        }
        .overview_description_text{
          float: left;
          width: 100%;
          height: 90px;
          border: 1px solid #dddddd;
        }
      }

    }

  }
}

.offer_summary{
  @include box-sizing(border-box);
  @include fixed_width(30%,30%,30%);
  float: left;
  background-color: transparent;
  overflow: visible;
  padding-top: 30px;

  .offer_inform {
    @include element_into_ElementList_style;
    @include container_options;
    @include offer_header;
    @include offer_products;
    @include offer_info;
    @include box-sizing(border-box);
    float: left;

    .offer_header{
      @include proportions(100%,20px);
      float: left;
      margin-bottom: 5px;
      text-align: center;
      font-size: 12px;
      color: grey;
    }

    .offer_products{
      @include proportions(100%,475px);
      float: left;
      overflow-y: auto;
    }

    .offer_button{
      width: 100%;
      margin-right: 10px;

      button{
        float:right;
      }

      input{
        float: right;
        margin: 0px 10px 10px 10px;
      }
    }

    .offer_date{
      float: left;
      margin: 0px 0px 0px 5px;
      font-size: 8px;
      visibility: hidden;
    }

    @include box-sizing(border-box);
  }
}

.container_invisible{
  visibility: hidden;
}
