@import "variables";

.new_petition_content{
  @include fixed_width(430px,430px,430px);
  background-color: transparent;
  overflow: auto;

  .petition_text_side{
    @include box-sizing(border-box);
    background-color: rgba(172, 174, 180, 0.56);
    float: left;
    width: 100%;
    margin: 0px;
    padding: 20px 15px;

    .petition_text{
      float: left;
      width: 100%;
      border: none;
      margin-bottom: 10px;

      textarea{
        width: 98%;
        resize: none;
        border: none;
        padding: 5px 5px;
      }
    }

    .petitions_buttons_side{
      float: left;
      width: 100%;

      .send_button{
        float: right;
        width: 100%;

        .characters_left{
          float: left;
          text-align: left;
          margin-right: 2px;
          font-size: 14px;
          font-style:italic
        }

        button{
          float: right;
        }
        input{
          float: right;
          width: 25%;
          margin-right: 5px;
        }
      }
    }
  }

  .petition_transparent_side{
    @include box-sizing(border-box);
    background-color: transparent;
    float: left;
    width: 100%;
    margin: 0px;

    .petition_user_image{
      @include proportions(50px,50px);
      background-color: #f3f3f3;
      position: relative;
      top: 0px;
      left: 45%;
      border: 1px solid #f3f3f3;
      @include border-radius(25px, 25px);

      img{
        @include high-quality-image;
        @include proportions(46px,46px);
        @include border-radius(23px, 23px);
        margin-left: 1px;
        margin-top: 2px;
        border: 1px solid #cccccc;
      }

    }
  }


  .petition_user_side{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    margin: 0px;

    .petition_title{
      text-align: center;
      font-size: 9px;
      font-style:italic
    }

  }

}

#new-request-form{
  padding: 0px;
}
