@import "variables";

.new_offer_content{
  @include border-radius(5px, 5px);
  position: absolute;
  top: 5px;
  left: 5px;
  width: 800px;
  max-width:800px;
  min-width:800px;
  height:600px;
  min-height:600px;
  max-height:600px;
  background-color: white;
  margin: 0px 0px 0px 0px;
  border: 2px solid rgb(220,220,220);
  overflow:auto;

  .new_offer_title{
    float:left;
    width:100%;
    height:45px;

    .icon{
      float:left;
      margin: 12px 5px 0px 30px;
      width:20px;
      height: 20px;
      border: $bordeElementos;
    }
    .description{
      float: left;
      margin-top: 16px;
      font-weight:bold;
      font-size:14px;
    }
  }

  .his_products{
    float: left;
    width: 316px;
    max-width:316px;
    min-width:316px;
    height:555px;
    min-height:555px;
    max-height:555px;
    overflow:none;
    background-color: white;

    .title{
      width:316px;
      float:left;
      height: 40px;
      background-color: #2B3750;
      color:white;

      .sender_image{
        float:left;
        margin-left:30px;
        margin-right:10px;
        width:40px;
        height: 40px;
      }
      .description{
        float: left;
        margin-top: 10px;
        font-weight:bold;
      }
    }

    .monney_to_recieve{
      float:left;
      width: 300px;
      margin: 10px 7px 10px 7px;

      textarea{
        float:left;
        width: 260px;
        height:24px;
        font-size: 10px;
        resize: none;
        border: none;
        background-color: transparent;
        color: #000000;
        overflow: hidden;
        border: $bordeElementos;
      }

      button{
        float:left;
        width: 30px;
        height:30px;
        img{
          float:left;
          margin:0px;
          width:26px;
          height:26px;
        }
      }
    }

    .product_container{
      float: left;
      width: 300px;
      height: 430px;
      min-height:430px;
      max-height:430px;
      margin:10px 7px 10px 7px;        
      overflow: auto;

      .product{
        @include border-radius(5px, 5px);
        float: left;
        width: 125px;
        height: 125px;
        margin:12px 0px 0px 12px;
        border: $bordeElementos;
        overflow: none;

        .product-image{
          float:left;
          width:123px;
          height:123px;

          img{
            @include high-quality-image;
            width:123px;
            height:123px;
          }
        }

        .product-title{
          width: 126px;
          float: left;
          margin: 1px;

          input{
            width: 124px;
            visibility: hidden;
          }
        }
      }
    }
  }

  .my_products{
    float: left;
    width: 164px;
    max-width:164px;
    min-width:164px;
    height:555px;
    min-height:555px;
    max-height:555px;
    overflow:auto;
    background-color: white;

    .title{
      width:164px;
      float:left;
      height: 40px;
      background-color: #2B3750;
      color:white;

      .reciever_image{
        float:left;
        margin-left:10px;
        margin-right:5px;
        width:40px;
        height: 40px;
      }
      .description{
        float: left;
        margin-top: 10px;
        font-weight:bold;
      }
    }

    .monney_to_give{
      float:left;
      width: 148px;
      margin: 10px 7px 10px 7px;

      textarea{
        float:left;
        width: 110px;
        height:24px;
        font-size: 8px;
        resize: none;
        border: none;
        background-color: transparent;
        color: #000000;
        overflow: hidden;
        border: $bordeElementos;
      }

      button{
        float:left;
        width: 30px;
        height: 30px;
        img{
          float:left;
          width:26px;
          height:26px;
        }
      }
    }

    .product_container{
      float: left;
      width: 150px;
      height: 430px;
      min-height:430px;
      max-height:430px;
      margin:10px 7px 10px 7px;        
      overflow: auto;

      .product{
        @include border-radius(5px, 5px);
        float: left;
        width: 50px;
        height: 50px;
        margin:10px 0px 0px 10px;
        border: $bordeElementos;
        overflow: hidden;

        .product-image{
          float:left;
          width:48px;
          height:48px;

          img{
            @include high-quality-image;
            width:48px;
            height:48px;
          }
        }

        .product-title{
          width: 50px;
          float: left;

          input{
            width:48px;
            visibility: hidden;
          }
        }
      }
    }
  }

  .offer_summary{
    float: left;
    width: 316px;
    max-width:316px;
    min-width:316px;
    height:555px;
    min-height:555px;
    max-height:555px;
    background-color: rgb(225,225,225);
    border: 2px solid rgb(220,220,220);
    border-bottom:none;
    border-top:none;
    overflow:auto;

    .title{
      width:316px;
      float:left;
      height: 40px;
      background-color: #2B3750;
      color:white;

      .description{
        float: left;
        width:100%;
        text-align:center;
        margin-top: 10px;
        font-weight:bold;
      }
    }

    .summary{
      @include border-radius(5px, 5px);
      width: 278px;
      height:450px;
      min-height:450px;
      max-height:450px;
      background-color:white;
      margin:10px 0px 10px 18px;
      border: $bordeElementos;
      float: left;

      .summary_header{
        width: 100%;
        padding: 5px;
        overflow: auto;
        margin:0px 0px 10px 0px;

        .triangle {
          position: relative;
          top:-5px;
          right:-248px;
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 0px solid transparent;
          border-top: 25px solid rgb(0,0,0);
        }

        .summary_header_image{
          @include border-radius(5px, 5px);
          float:left;
          width:46px;
          height:46px;
          border: $bordeElementos;
          margin-right:5px;

          img{
            @include high-quality-image;
            width: 43px;
            height: 43px;
            float: left;
          }

        }
        .summary_header_text{
          width: 195px;
          float: left;
          margin: 1px;

          .nombre_usuario{
            width:100%;
            height:12px;
            float:left;
            font-weight:bold;
            margin-top:-4px;
            margin-bottom:5px;
            font-size:10px;
            overflow:none;
          }

          textarea{
            font-size: 11px;
            width: 98%;
            resize: none;
            border: none;
            background-color: transparent;
            color: #000000;
            overflow: hidden;
            border: $bordeElementos;
          }

        }
      }

      .summary_body{
        width: 100%;
        height:375px;
        min-height:375px;
        max-height:375px;
        overflow: auto;
        margin:0px 0px 0px 0px;

        .summary_body_products_given{
          width: 55%;
          float:left;
          overflow: auto;
          margin-left: 25px;

          .product_given{
            @include border-radius(5px, 5px);
            width: 140px;
            margin: 5px 15px 5px 5px;
            float: left;
            border: $bordeElementos;
            overflow: auto;

            .product_given_imagen{
              float:left;
              width:125px;
              height: 125px;

              img{
                @include high-quality-image;
                width:120px;
                height:120px;
              }
            }

            .product_given_title{
              width: 125px;
              float: left;
            }

          }
        }

        .summary_body_produts_recieved{
          width: 30%;
          float:left;
          overflow: auto;

          .produt_recieved{
            @include border-radius(5px, 5px);
            width: 65px;
            height:65px;
            margin: 5px 15px 5px 5px;
            float: left;
            border: $bordeElementos;
            overflow: auto;

            .produt_recieved_image{
              float:left;
              width:62px;
              height:62px;

              img{
                @include high-quality-image;
                width:62px;
                height:62px;
              }
            }

            .produt_recieved_title{
              width: 62px;
            }
          }            
        }
      }        
    }
    .summary_footer{
      width: 100%;
      overflow: auto;
      margin:0px 0px 10px 0px;

      button{
        @include border-radius(5px, 5px);
        background-color:red;
        color:white;
        width:260px;
        margin-left: 30px;
        font-size: 16px;
      }            
    }
  }
}
