@import "variables";

#new_offer{//es el selector del formulario, pero no lo puedo seleccionar con form
  margin-bottom: 0px;
}

.products_area{
  @include box-sizing(border-box);
  @include fixed_width(70%,70%,70%);
  @include fixed_height(100%,100%,100%);
  float: left;

  .title{
    @include fixed_width(100%,100%,100%);
    @include fixed_height(50px,50px,50px);
    float: left;
    margin-bottom: 10px;

    a{
      @include box-sizing(border-box);
      float: left;
      width: 33.3%;

      .user_products_selector{
        @include fixed_width(100%,100%,100%);
        @include fixed_height(100%,100%,100%);
        float: left;

        .user_image{
          float: left;
          margin: 2px 0px 0px 5px;
          img{
            @include proportions(25px,25px);
          }
        }
        .description{
          margin-top: 10px;
        }
      }
    }
  }

  .product_container{
    @include fixed_width(100%,100%,100%);
    @include fixed_height(100%,100%,100%);
    float: left;
    overflow: visible;

    .product{
      @include big_images_style;
      @include proportions(125px,125px);
      @include border-radius(5px, 5px);
      border: $borde1px;
      float: left;
      margin:5px 0px 0px 5px;
      overflow: none;

      .product_image{
        overflow: auto;
        img{
          @include high-quality-image;
          @include proportions(123px,123px);
        }
      }
      .product_title{
        @include center-horizontally(126px);
        text-align: center;
      }
    }
  }

  .his_products{
    @extend .product_of_user_selected;

    .money{
      textarea{
      }
    }

    .product_container{
      .product{
        .product_image{
          img{
          }
        }
        .product_title{
          input{
          }
        }
      }
    }
  }

  .my_products{
    @extend .product_of_user_selected;

    .money{
      textarea{
      }
    }

    .product_container{
      .product{
        .product_image{
          img{
          }
        }
        .product_title{
          input{
          }
        }
      }
    }
  }
}

.offer_summary{
  @include box-sizing(border-box);
  @include fixed_width(30%,30%,30%);
  @include fixed_height(100%,100%,100%);
  float: left;
  background-color: rgb(225,225,225);
  overflow: visible;

  .title{
    @include proportions(100%,32px);
    @include box-sizing(border-box);
    float:left;
    margin-bottom: 5px;
    background-color: #2B3750;
    color:white;
    padding-top: 6px;
    text-align: center;
  }

  .offer_inform {
    @include element_into_ElementList_style;
    @include container_options;
    @include offer_header;
    @include offer_products;
    @include center-horizontally(90%);
    height: 500px;

    .offer_header{
      @include proportions(100%,60px);
      overflow: hidden;
      margin-bottom: 5px;

      .triangle {
        left: 263px;
      }

      .description{
        height: 98px;
        width: 70%;
        .offer_message{
          width: 100%;
          textarea{
            width: 90%;
            resize: none;
          }
        }
      }
    }

    .offer_items{
      width: 270px;
      height: 380px;
      overflow-y: auto;
    }

    .offer_button{
      width: 100%;
      margin-right: 10px;

      button{
        float:right;
      }

      input{
        float: right;
        margin: 0px 10px 10px 10px;
      }
    }

    .offer_date{
      float: left;
      margin: 0px 0px 0px 5px;
      font-size: 8px;
      visibility: hidden;
    }

    @include box-sizing(border-box);
  }
}


.user_selected{
  background-color: #ccff66;
}

.container_invisible{
  visibility: hidden;
}
