@import "variables";

.new_thing_content{
  @include absolute($top:5px,$left:5px);
  @include border-radius(5px, 5px);
  @include fixed_width(430px,430px,430px);
  overflow:auto;
  margin: 0px 0px 0px 0px;  
  border: $borde2px;    
  background-color: white;

  form{    
    width: 100%;

    .new_thing_title{
      @include proportions(100%,20px);
      float:left;      
      margin-bottom: 10px;
    }

    .new_thing_image{
      width: 100%;
      float: inherit; 
      margin-bottom: 10px;     
    }

    .new_thing_text{
      width: 100%;
      float:left;

      textarea{
        overflow: hidden;
        width: 98%;
        border: $borde1px;
        background-color: transparent;
        color: #000000;
        font-size: 11px;
        resize: none;
        margin-bottom: 5px;
      }      
    }
    .stock{
      width: 100%;
      float: left;
      margin-bottom: 10px;

      textarea{
        overflow: hidden;
        width: 98%;
        border: $borde1px;
        background-color: transparent;
        color: #000000;
        font-size: 11px;
        resize: none;
        margin-bottom: 5px;
      }
    }

    .send_button{
      float:left;
      margin-bottom:10px;

      button{
        float:inherit;
        margin-left:30px;
      }
    }
  }
}
