@import "variables";

.new_petition_content{
  @include absolute($top:5px,$left:5px);
  @include border-radius(5px, 5px);
  @include fixed_width(430px,430px,430px);
  overflow:auto;
  margin: 0px 0px 0px 0px;  
  border: $borde2px;    
  background-color: white;

  .new_petition_title{
    @include proportions(100%,45px);
    float:left;   

    .icon{
      @include proportions(20px,20px);
      float:inherit;
      margin: 12px 5px 0px 30px;      
      border: $borde1px;
      img{
        @include proportions(30px,30px);
      }
    }
    .description{
      float: inherit;
      margin: 16px 0px 0px 4px;
      font:{
        weight:bold;
        size:14px;
      }
    }
  }

  .new_offer_text{
    float:left;
    margin:5px 0px 10px 30px;
    width:85%;

    textarea{
      overflow: hidden;
      width: 98%;
      border: $borde1px;
      background-color: transparent;
      color: #000000;
      font-size: 11px;
      resize: none;
    }      
  }
  .send_button{
    float:left;
    margin-bottom:10px;

    button{
      float:left;
      margin-left:30px;
    }
  }
}
