@import "variables";

.new_thing_content{
  @include absolute($top:5px,$left:5px);
  @include border-radius(5px, 5px);
  @include fixed_width(750px,750px,750px);
  overflow:auto;
  margin: 0px 0px 0px 0px;  
  border: $borde2px;    
  background-color: white;

  form{    
    width: 100%;

    .thing_title{
      @include proportions(100%,20px);
      float:left;      
      border-bottom: $borde1px;
    }

    .thing_container{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      overflow-y: auto;

      .thing_image{
        @include box-sizing(border-box);
        width: 50%;
        float: left;
        padding:10px;
        border-right: $borde1px;


        .big_image_container{
          @include box-sizing(border-box);
          width: 100%;
          float: left;
          margin-bottom: 5px;
          img{
            @include high-quality-image;
            @include proportions(180px,180px);
            margin-top: 10px;
          }
        } 
        .small_images_container{
          @include box-sizing(border-box);
          width: 100%;
          float: left;
          img{
            @include high-quality-image;
            @include proportions(50px,50px);
          }
        }     
      }

      .thing_description{
        @include box-sizing(border-box);
        width: 50%;
        float: left;
        padding:10px;

        .title{
          @include box-sizing(border-box);
          width: 100%;
          float: left;

          textarea{
            overflow: hidden;
            width: 98%;
            border: $borde1px;
            background-color: transparent;
            color: #000000;
            font-size: 11px;
            resize: none;
            margin-bottom: 5px;
          }
        }

        .description{
          @include box-sizing(border-box);
          width: 100%;
          float: left;

          textarea{
            overflow: hidden;
            width: 98%;
            border: $borde1px;
            background-color: transparent;
            color: #000000;
            font-size: 11px;
            resize: none;
            margin-bottom: 5px;
          }
        }
      }
    }

    .thing_options{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      border-top: $borde1px;
      overflow-y: auto;
    }    
  }    
}
