@import "variables";

.new_item_modal{
  background-color: rgba(172, 174, 180, 0.56);
  overflow: none;
  float: left;

  .new_item_title{
    @include proportions(100%,32px);
    @include box-sizing(border-box);
    float: left;
    margin-bottom: 5px;
    background-color: #bbbbbb;
    color: #003377;
    padding: 6px 5px 0px 5px;
    text-align: center;
  }


  .new_item_container{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    padding: 5px;
    overflow: none;

    .new_item_image{
      @include box-sizing(border-box);
      width: 180px;
      margin-left: 10px;
      float: left;

      .image_container{
        @include box-sizing(border-box);
        @include border-radius(5px, 5px);
        float: left;
        width: 180px;
        height: 180px;
        background-color: white;

        img{
          @include border-radius(5px, 5px);
          float: left;
          width: 180px;
          height: 180px;
        }

        .input_container{
          @include border-radius(3px, 3px);
          position: relative;
          top: 157px;
          left: 20px;
          width: 134px;
          border: $borde1px;
          border-color: #bbbbbb;
          height: 16px;

          .input_text{
            position: relative;
            top: -180px;
            width: 134px;
            height: 17px;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            color: #888888;
          }

          input[type="file"]{
            position: relative;
            top: -172px;
            opacity: 0;
            width: 124px;
            height: 17px;
            background-color: transparent;
            z-index: 2000;
          }
        }

      }
    }

    .new_item_description{
      @include box-sizing(border-box);
      width: 225px;
      float: left;
      margin-left: 5px;

      .title{
        @include box-sizing(border-box);
        width: 100%;
        float: left;

        textarea{
          overflow: hidden;
          width: 98%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 10px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }

      .description{
        @include box-sizing(border-box);
        width: 100%;
        float: left;

        textarea{
          overflow: hidden;
          width: 98%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 10px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }

      .new_item_stock{
        float: left;
        width: 100%;

        textarea{
          overflow: hidden;
          width: 98%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 10px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }
    }

    .item_options{
      @include box-sizing(border-box);
      width: 100%;
      float: left;

      input{
        float: right;
        margin: 8px 10px 10px 0px;
        width: 20%;
      }
    }
  }
}


