@import "variables";

#new_offer{//es el selector del formulario, pero no lo puedo seleccionar con form
  margin-bottom: 0px;
}

.products_area{
  @include fixed_width(480px,480px,480px);
  @include fixed_height(555px,555px,555px);

  .title{
    @include fixed_width(100%,100%,100%);
    @include fixed_height(30px,30px,30px);
    float: left;

    a{
      .user_products_selector{
        @include fixed_width(238px,238px,238px);
        @include fixed_height(30px,30px,30px);
        float: left;
        border: $borde1px;

        .user_image{
          float: left;
          margin: 2px 0px 0px 5px;
          img{
            @include proportions(25px,25px);
          }
        }
        .description{
          margin-top: 10px;
        }
      }
    }
  }

  .his_products{
    @extend .product_of_user_selected;

    .money{
      textarea{
      }
    }

    .product_container{
      .product{
        .product_image{
          img{
          }
        }
        .product_title{
          input{
          }
        }
      }
    }
  }

  .my_products{
    @extend .product_of_user_selected;

    .money{
      textarea{
      }
    }

    .product_container{
      .product{
        .product_image{
          img{
          }
        }
        .product_title{
          input{
          }
        }
      }
    }
  }
}

.offer_summary{
  @include fixed_width(320px,320px,320px);
  @include fixed_height(555px,555px,555px);
  position: absolute;
  top: 0px;
  left: 480px;
  background-color: rgb(225,225,225);
  overflow: visible;

  .title{
    @include proportions(100%,32px);
    @include box-sizing(border-box);
    float:left;
    margin-bottom: 5px;
    background-color: #2B3750;
    color:white; 
    padding-top: 6px; 
    text-align: center;  
  }

  .offer_inform {
    @include element_into_ElementList_style;      
    @include container_options;
    @include offer_header;
    @include offer_products;
    @include center-horizontally(90%);
    height: 500px;

    .offer_header{
      @include proportions(100%,60px);
      overflow: hidden;
      margin-bottom: 5px;

      .triangle {
        left: 263px;        
      }

      .description{
        height: 98px;
        width: 70%;
        .offer_message{
          width: 100%;
          textarea{
            width: 90%;
            resize: none;
          }
        }
      }
    }

    .offer_things{
      height: 380px;
      overflow-y: auto;
    }

    .offer_button{
      width: 100%;
      margin-right: 10px;

      button{
        float:right;
      }

      input{
        float: right;
        margin: 0px 10px 10px 10px;
      }
    }

    .offer_date{
      float: left;
      margin: 0px 0px 0px 5px;
      font-size: 8px;
      visibility: hidden;
    }

    @include box-sizing(border-box);
  }
}


.user_selected{
  background-color: #ccff66;
}

.container_invisible{
  visibility: hidden;
}
