@import "variables";

.new_item_modal{
  background-color: rgba(172, 174, 180, 0.56);
  overflow: none;
  float: left;
  width: 600px;

  .new_item_title{
    @include proportions(100%,32px);
    @include box-sizing(border-box);
    float: left;
    margin-bottom: 5px;
    background-color: #bbbbbb;
    color: #003377;
    padding: 6px 5px 0px 5px;
    text-align: center;
    font-weight: bold;
  }


  .new_item_container{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    padding: 15px 5px 10px 10px;
    overflow: none;

    .new_item_image{
      @include box-sizing(border-box);
      width: 50%;
      height: 270px;
      float: left;

      .image_container{
        @include box-sizing(border-box);
        @include border-radius(5px, 5px);
        position:relative;
        overflow:hidden;
        max-width: 270px;
        max-height: 270px;
        min-height: 270px;
        min-width: 270px;
        background-color: white;

        img{
          max-width: 270px;
          max-height: 270px;
          min-height: 270px;
          min-width: 270px;
          cursor: move;
          background-position: 0px 0px;
        }
      }


      .input_container{
        @include border-radius(3px, 3px);
        position: relative;
        top: -28px;
        left: 70px;
        width: 134px;
        border: $borde1px;
        border-color: #bbbbbb;
        height: 16px;
        cursor: auto;
        background-color: white;

        .input_text{
          position: relative;
          top: 0px;
          width: 134px;
          height: 17px;
          text-align: center;
          font-size: 10px;
          font-weight: bold;
          color: #888888;
        }

        input[type="file"]{
          position: relative;
          top: -20px;
          opacity: 0;
          width: 135px;
          height: 17px;
          background-color: transparent;
          z-index: 2000;
        }
      }

    }

    .new_item_description{
      @include box-sizing(border-box);
      width: 50%;
      height: 270px;
      float: left;

      .title{
        @include box-sizing(border-box);
        width: 100%;
        height: 15%;
        float: left;
        padding: 0px 0px 5px 0px;

        textarea{
          overflow: hidden;
          width: 98%;
          height: 100%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 12px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }

      .description{
        @include box-sizing(border-box);
        width: 100%;
        height: 85%;
        float: left;
        padding: 5px 0px 5px 0px;

        textarea{
          overflow: hidden;
          width: 98%;
          height: 100%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 12px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }

      .new_item_stock{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        height: 15%;
        padding: 5px 0px 0px 0px;

        textarea{
          overflow: hidden;
          width: 98%;
          height: 96%;
          border: $borde1px;
          background-color: white;
          color: #000000;
          font-size: 12px;
          font-style: italic;
          resize: none;
          margin-bottom: 5px;
        }
      }
    }

    .item_options{
      @include box-sizing(border-box);
      width: 100%;
      float: left;
      margin-top: 8px;

      input{
        @include border-radius(4px, 4px);
        @include box-sizing(border-box);
        float: right;
        width: 20%;
        height: 30px;
        background-color: #f3f3f3;
        border: 1px solid #dddddd;
        color: #7f8c8c;
      }
    }
  }
}


