@import "variables";

.new_offer_content{
  @include absolute($top:5px,$left:5px);
  @include border-radius(5px, 5px);
  @include fixed_width(800px,800px,800px);
  @include fixed_height(600px,600px,600px);
  overflow:auto;
  margin: 0px 0px 0px 0px;  
  border: $borde2px;
  background-color: white;
  display: none;

  .new_offer_title{
    @include proportions(100%,45px);
    float:left;  

    .icon{
      @include proportions(20px,20px);
      float:inherit;
      margin: 12px 5px 0px 30px;     
      border: $borde1px;
    }
    .description{
      float: inherit;
      margin-top: 16px;
      font-weight:bold;
      font-size:14px;
    }
  }

  .his_products{
    @extend .product_in_offer;
    @include fixed_width(316px,316px,316px);
    @include fixed_height(555px,555px,555px);

    .title{
      @include proportions(316px,40px);

      .user_image{
        @include proportions(40px,40px);
        margin: 0px 10px 0px 30px;             
      }
      .description{
        margin-top: 10px;
      }
    }

    .monney{
      margin: 10px 7px 10px 7px;
      width: 300px;

      textarea{
        @include proportions(260px,24px);
      }

      button{
        @include proportions(30px,30px);
        img{
          @include proportions(26px,26px);
          margin:0px;          
        }
      }
    }

    .product_container{
      @include fixed_height(430px,430px,430px);
      width: 300px;
      margin:10px 7px 10px 7px;      

      .product{
        @include border-radius(5px, 5px);
        @include proportions(125px,125px);
        margin:12px 0px 0px 12px;        

        .product-image{
          @include proportions(123px,123px);

          img{
            @include high-quality-image;
            @include proportions(inherit,inherit);            
          }
        }

        .product-title{
          margin: 1px;
          width: 126px;

          input{
            width: 124px;
          }
        }
      }
    }
  }

  .my_products{
    @include fixed_width(164px,164px,164px);
    @include fixed_height(555px,555px,555px);
    float: left;
    overflow:auto;    
    background-color: white;

    .title{
      @include proportions(164px,40px);
      float:inherit;      
      background-color: #2B3750;
      color:white;

      .user_image{
        @include proportions(40px,40px);
        float:inherit;
        margin-right:0px 5px 0px 10px;
      }
      .description{
        float: inherit;
        margin-top: 10px;
        font-weight:bold;
      }
    }

    .monney{
      float:left;
      margin: 10px 7px 10px 7px;
      width: 148px;

      textarea{
        @include proportions(110px,24px);
        float:inherit;
        overflow: hidden;        
        border: $borde1px;
        background-color: transparent;
        color: #000000;
        font-size: 8px;
        resize: none;
      }

      button{
        @include proportions(30px,30px);
        float:inherit;        
        img{
          @include proportions(26px,26px);
          float:inherit;          
        }
      }
    }

    .product_container{
      @include fixed_height(430px,430px,430px);
      width: 150px;
      float: left;        
      overflow: auto;
      margin:10px 7px 10px 7px;

      .product{
        @include border-radius(5px, 5px);
        @include proportions(50px,50px);
        float: inherit;
        overflow: hidden;
        margin:10px 0px 0px 10px;        
        border: $borde1px;

        .product-image{
          @include proportions(48px,48px);
          float:inherit;          

          img{
            @include high-quality-image;
            @include proportions(inherit,inherit);
          }
        }

        .product-title{
          float: inherit;
          width: 50px;

          input{
            visibility: hidden;
            width:48px;
          }
        }
      }
    }
  }

  .offer_summary{
    @include fixed_width(316px,316px,316px);
    @include fixed_height(555px,555px,555px);
    float: left;
    overflow:auto;    
    border: $borde2px;
    border:{
      top:none;
      bottom:none;
    }
    background-color: rgb(225,225,225);

    .title{
      @include proportions(316px,40px);
      float:inherit; 
      background-color: #2B3750;
      color:white;

      .description{
        float: inherit;
        margin-top: 10px;
        width:100%;
        text-align:center;
        font-weight:bold;
      }
    }

    .summary{
      @include border-radius(5px, 5px);
      @include fixed_height(450px,450px,450px);
      width: 278px;
      float: inherit;
      margin:10px 0px 10px 18px;      
      border: $borde1px;
      background-color:white;

      .summary_header{
        overflow: auto;
        margin:0px 0px 10px 0px;
        padding: 5px;
        width: 100%;

        .triangle {
          @include relative($top:-5px,$right:-248px);
          @include proportions(0,0);          
          border:{
            top: 25px solid rgb(0,0,0);
            right: 0px solid transparent;
            left: 25px solid transparent;
          }
        }

        .summary_header_image{
          @include border-radius(5px, 5px);
          @include proportions(46px,46px);
          float:left;
          margin-right:5px;          
          border: $borde1px;

          img{
            @include high-quality-image;
            @include proportions(43px,43px);
            float: left;            
          }

        }
        .summary_header_text{
          float: left;
          margin: 1px;
          width: 195px;

          .nombre_usuario{
            @include proportions(100%,12px);
            float:left;
            overflow:none;
            margin-top:-4px 0px 5px 0px;
            font:{
              weight:bold;
              size:10px;
            }
          }

          textarea{
            overflow: hidden;
            width: 98%;
            border: $borde1px;
            background-color: transparent;
            color: #000000;
            font-size: 11px;
            resize: none;
          }

        }
      }

      .summary_body{
        @include fixed_height(375px,375px,375px);
        width: 100%;
        overflow: auto;
        margin:0px 0px 0px 0px;        

        .summary_body_products_given{
          float:left;
          overflow: auto;
          margin-left: 25px;
          width: 55%;

          .product_given{
            @include border-radius(5px, 5px);
            float: left;
            overflow: auto;
            margin: 5px 15px 5px 5px;
            width: 140px;
            border: $borde1px;

            .product_given_imagen{
              @include proportions(125px,125px);
              float:left;            

              img{
                @include high-quality-image;
                @include proportions(inherit,inherit);
              }
            }

            .product_given_title{
              float: left;
              width: 125px;
            }

          }
        }

        .summary_body_produts_recieved{
          float:left;
          overflow: auto;
          width: 30%;

          .produt_recieved{
            @include border-radius(5px, 5px);
            @include proportions(65px,65px);
            float: left;
            overflow: auto;
            margin: 5px 15px 5px 5px;            
            border: $borde1px;

            .produt_recieved_image{
              @include proportions(62px,62px);
              float:left;            

              img{
                @include high-quality-image;
                @include proportions(inherit,inherit);
              }
            }

            .produt_recieved_title{
              width: 62px;
            }
          }            
        }
      }        
    }
    .summary_footer{
      overflow: auto;
      margin:0px 0px 10px 0px;
      width: 100%;

      button{
        @include border-radius(5px, 5px);
        margin-left: 30px;
        width:260px;
        background-color:red;
        color:white;
        font-size: 16px;
      }            
    }
  }
}
