@import "variables";

.new_petition_content{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 430px;
  min-width:430px;    
  background-color: white;
  margin: 0px 0px 0px 0px;
  border: 2px solid rgb(220,220,220);
  border-radius: 8px;
  overflow:auto;

  .new_petition_title{
    float:left;
    width:100%;
    height:45px;

    .icon{
      float:left;
      margin: 12px 5px 0px 30px;
      width:20px;
      height: 20px;
      border: $bordeElementos;
    }
    .description{
      float: left;
      margin-top: 16px;
      font-weight:bold;
      font-size:14px;
    }
  }

  .new_offer_text{
    float:left;
    width:85%;
    margin:5px 0px 10px 30px;

    textarea{
      font-size: 11px;
      width: 98%;
      resize: none;
      border: none;
      background-color: transparent;
      color: #000000;
      overflow: hidden;
      maxlenght: 10;
      border: $bordeElementos;
    }      
  }
  .send_button{
    float:left;
    margin-bottom:10px;

    button{
      float:left;
      margin-left:30px;
    }
  }
}
