@import "variables";
@import "compass/typography/links/unstyled-link";

.offer {
  @include box-shadow(rgb(170,170,170) 1px 1px 3px);
  @include fixed_width($width265px,$width265px,$width265px);
  float: left;
  overflow:auto;
  margin:5px 0px 8px 12px;
  border: $borde1px;
  background-color: white;

  .offer_header{
    @include proportions(100%,60px);
    overflow: hidden;
    margin-bottom: 5px;  

    .triangle {
      @include relative($top:0px,$right:-240px);
      @include proportions(0,0);      
      border:{
            top: 25px solid rgb(0,0,0);
            right: 0px solid transparent;
            left: 25px solid transparent;
      }

      a{
        @include absolute($top:-28px,$left:-10px);
        @include unstyled-link;
        font-size:12px;
        
      }          
    }

    .profile_image{
      @include relative($top:-20px,$left:6px);
      @include border-radius(5px, 5px);
      @include proportions(50px,50px);
      top: -20px;
      left: 6px;
      overflow: hidden;      
      border: $borde1px;

      a{
        img{
          @include high-quality-image;
          @include proportions(50px,50px);
        }
      }
    }

    .description{
      @include relative($top:-72px,$left:67px); 
      @include proportions(172px,50px);     
    }
  }

  .offer_things{
    float:left;
    overflow: visible;
    margin-top: 5px;
    width: 100%;

    .recieved{
      float:left;
      overflow:hidden;
      margin: 5px 0px 0px 8px;
      width: 150px;

      img{
        @include border-radius(5px, 5px);
        @include high-quality-image;
        @include proportions(130px,130px);
        float:left;
        overflow: auto;
        margin:0px 0px 5px 5px;  
        border: $borde1px;
      }               
     }

    .given{
      float: right;
      overflow: hidden;
      margin: 5px 0px 0px 8px;
      width: 90px;

      img{
        @include border-radius(5px, 5px);
        @include high-quality-image;
        @include proportions(80px,80px);
        float:left;
        margin:0px 0px 5px 5px;        
        border: $borde1px;
      }                             
    }
  }

  .offer_button{
    float: left;
    overflow: auto;
    width: 100%;

    button{
      @include border-radius(5px, 5px);
      float: right;
      margin: 0px 10px 10px 5px;
      font-size: 10px;
    }
  }
  @include box-sizing(border-box);
}