@import "variables";
@import "compass/typography/links/unstyled-link";

.offer {
  @include element_into_ElementList_style;
  @include offer_header;
  @include offer_triangle;
  @include offer_products;
  @include offer_info;

  width: $offerWidth;
  float: left;

  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;

  @include box-sizing(border-box);
}
