@import "variables";

#new_offer{//es el selector del formulario, pero no lo puedo seleccionar con form
  margin-bottom: 0px;
}

.new_offer{
  width: 1100px;
}

.edit_offer{
  width: 1100px;
}

.products_area{
  @include box-sizing(border-box);
  @include fixed_width(70%,70%,70%);
  @include fixed_height(700px,700px,700px);
  float: left;
  padding: 10px 10px 0px 10px;
  background-color: transparent;

  .title{
    @include fixed_width(100%,100%,100%);
    float: left;
    margin-bottom: 5px;

    a{
      @include box-sizing(border-box);
      float: left;
      width: 33.3%;
      list-style-type: none;

      .user_products_selector{
        @include fixed_width(100%,100%,100%);
        @include fixed_height(100%,100%,100%);
        float: left;
        text-align: center;

        .user_image{
          @include fixed_width(100%,100%,100%);
          @include fixed_height(100%,100%,100%);
          @include center-horizontally(50%);

          img{
            @include proportions(50px,50px);
            @include border-radius(25px, 25px);
            box-shadow: 0px 3px 5px #888, 0px -3px 5px #888;
          }
        }

        .description{
          margin-top: 10px;
        }
      }

    }
  }

  .products_container{
    @include box-sizing(border-box);
    @include fixed_width(100%,100%,100%);
    @include fixed_height(635px,635px,635px);
    background-color: white;
    float: left;
    overflow: visible;
    border: 1px solid #D4D6D5;

    .products_list{
      float: left;
      position: relative;
      @include box-sizing(border-box);
      @include fixed_width(100%,100%,100%);
      @include fixed_height(480px,480px,480px);
      border-bottom: 1px solid #dddddd;
      padding: 10px;
      overflow: auto;

      #composer_content_area{
        position: absolute;
        top: 0px;
        overflow: auto;
      }

      #receiver_content_area{
        position: absolute;
        top: 0px;
        overflow: auto;
      }

     .item{
      width: 150px;
      .item_image{
          img{
            @include proportions(148px,148px);
          }
        }
      }
    }

    .product_overview{
      @include box-sizing(border-box);
      @include fixed_height(150px,150px,150px);
      float: left;
      width: 100%;
      padding: 10px 10px 0px 10px;

      .overview_image{
        @include box-sizing(border-box);
        float: left;
        @include proportions(130px,130px);
        border: 1px solid #dddddd;
        margin-right: 5px;
      }
      .overview_description{
        @include box-sizing(border-box);
        float: left;
        margin-left: 5px;
        @include proportions(300px,130px);
        // border-top: 1px solid #dddddd;

        .overview_description_title{
          float: left;
          width: 100%;
          height: 30px;
          margin-bottom: 5px;
          // border: 1px solid #dddddd;
        }
        .overview_description_text{
          float: left;
          width: 100%;
          height: 90px;
          // border: 1px solid #dddddd;
        }
      }

    }

  }
}

.offer_summary{
  @include box-sizing(border-box);
  @include fixed_width(30%,30%,30%);
  float: left;
  background-color: transparent;
  overflow: visible;
  padding-top: 30px;

  .offer_inform {
    @include element_into_ElementList_style;
    @include container_options;
    @include offer_header;
    @include offer_products;
    @include offer_info;
    @include box-sizing(border-box);
    float: left;

    .offer_header{
      @include proportions(100%,34px);
      float: left;
      margin-bottom: 5px;
      text-align: center;
      font-size: 14px;
      color: grey;
    }

    .offer_products{
      @include box-sizing(border-box);
      @include proportions(100%,475px);
      padding: 0px 8px;
      float: left;
      overflow-y: auto;

      .recieved{
        width: $bigImageDimension+14;
        float:left;
        overflow: auto;

        .item{
          width: $bigImageDimension+12;
          margin:0px 0px 0px 0px;
          overflow: auto;
          box-shadow: none;


          .item_image{
            @include proportions($bigImageDimension,$bigImageDimension);
            @include border-radius(2px, 2px);
            @include high-quality-image;
            background-color: white;
            img{
              @include high-quality-image;
              @include proportions(100%,100%);
            }
          }

          .item_quantity{
            .quantity_number{}
          }

          .item_description {
            @include box-sizing(border-box);
            float: left;
            width: 100%;
            height: auto;
            border-top: 1px solid rgb(210,210,210);
            padding: 2px;
            text-align: center;

            .text{
              @include box-sizing(border-box);
              font-size: 12px;
              font-weight: 600;
              textarea{
                float:left;
                width: 95%;
                resize:none;
                border:none;
                text-align:center;
                color: red;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
       }

      .given{
        width: $smallImageDimension +14;
        float: right;
        overflow: hidden;

         .item{
          width: 100%;
          margin: 0px;
          overflow: auto;
          box-shadow: none;


          .item_image{
            @include proportions($smallImageDimension,$smallImageDimension);
            @include border-radius(2px, 2px);
            @include high-quality-image;
            background-color: white;
            img{
              @include high-quality-image;
              @include proportions(100%,100%);
            }
          }

          .item_quantity{
            @include box-sizing(border-box);
            width: 18px;
            height: 18px;
            top: 5px;
            left: 5px;

            .quantity_number{
              padding: 0px;
              width: 14px;
              height: 14px;
              font-size: 10px;
              text-align: center;
            }
          }

          .item_description {
            @include box-sizing(border-box);
            float: left;
            width: 100%;
            height: auto;
            border-top: 1px solid rgb(210,210,210);
            padding: 2px;
            text-align: center;

            .text{
              @include box-sizing(border-box);
              font-size: 7px;
              textarea{
                float:left;
                width: 95%;
                resize:none;
                border:none;
                text-align:center;
                color: red;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .offer_info{
      padding-bottom: 0px;
      height: 152px;

      .profile_image{
        img{
          margin-top: 5px;
          margin-left: 8px;
        }
      }

      .description{
        top: -30px;
      }

      .offer_buttons{
        position: relative;
        top: -25px;
        padding-bottom: 0px;
      }

    }

    .offer_date{
      float: left;
      margin: 0px 0px 0px 5px;
      font-size: 8px;
      visibility: hidden;
    }

    @include box-sizing(border-box);
  }
}

.container_invisible{
  visibility: hidden;
}
