@import "variables";

.offer {
  @include element_into_ElementList_style;
  @include offer_header;
  @include offer_triangle;
  @include offer_products;
  @include offer_info;

  position: relative;
  width: $offerWidth;
  float: left;
  overflow: visible;

  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
