@import "variables";
@import "compass/typography/links/unstyled-link";

.offer {
  @include element_into_ElementList_style;  
  width: $offerWidth;
    
  @include container_options;
  @include offer_header;
  @include offer_products;

  .offer_button{
    float: left;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;

    button{
      @include border-radius(5px, 5px);
      float: right;
      margin: 0px 10px 0px 5px;
      font-size: 10px;
    }
  }

  .offer_date{
    float: left;
    margin: 0px 0px 0px 5px;
    font-size: 8px;
  }

  @include box-sizing(border-box);
}