@import "variables";
@import "compass/typography/links/unstyled-link";

.offer {
  @include element_into_ElementList_style;
  @include container_options;
  @include offer_header;
  @include offer_products;
  width: $offerWidth;
  float: left;
  margin: 0px 5px 10px 5px;

  .offer_button{
    width: 100%;

    input{
      float: right;
      margin: 0px 10px 10px 0px;
    }
  }

  .offer_date{
    float: left;
    margin: 0px 0px 0px 5px;
    font-size: 8px;
    visibility: hidden;
  }

  @include box-sizing(border-box);
}