@import "variables";
@import "compass/typography/links/unstyled-link";

.offer {
  @include box-shadow(rgb(170,170,170) 1px 1px 3px);
  @include box-sizing(border-box);
  float: left;
  width: $offerWidth265px;
  min-width: $offerWidth265px;
  margin:5px 0px 8px 12px;
  background-color: white;
  border: $borde1px;
  overflow:auto;

  .offer_header{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    overflow: hidden;

    .triangle {
      @include relative($top:0px,$right:-240px);
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 0px solid transparent;
      border-top: 25px solid rgb(220,220,220);

      a{
        @include unstyled-link;
        @include absolute($top:-28px,$left:-10px);
        font-size:12px;
        
      }          
    }

    .profile_image{
      @include border-radius(5px, 5px);
      @include relative($top:-20px,$left:6px);
      top: -20px;
      left: 6px;
      width: 50px;
      height: 50px;
      border: $borde1px;

      img{
        @include high-quality-image;
        width: 50px;
        height: 50px;
        overflow: none;
      }

    }

    .description{
      @include relative($top:-72px,$left:67px); 
      width: 172px;
      height: 50px;
      border: $borde1px;
    }
  }

  .offer_things{
    width: 100%;
    float:left;
    overflow: visible;
    margin-top: 5px;

    .recieved{
      width: 150px;
      float:left;
      margin-left: 8px;
      margin-top: 5px;
      overflow:auto;

      img{
        @include border-radius(5px, 5px);
        @include high-quality-image;
        float:left;
        width:130px;
        height:130px;
        margin-left:5px;
        margin-bottom:5px;
        border: $borde1px;
        overflow: auto;
      }               
     }

    .given{
      width: 90px;
      float: right;
      margin-right: 8px;
      margin-top: 5px;
      overflow: auto;

      img{
        @include border-radius(5px, 5px);
        @include high-quality-image;
        float:left;
        width:80px;
        height:80px;
        margin-left:5px;
        margin-bottom:5px;
        border: $borde1px;
        overflow: auto;
      }                             
    }
  }

  .offer_button{
    width: 100%;
    float: left;
    overflow: auto;

    button{
      @include border-radius(5px, 5px);
      float: right;
      margin-left: 5px;
      font-size: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}