%dashboard_component_title {
  .dashboard_component_title {
    width: 100%;
    height: 25px;
    float: left;
    overflow: auto;
    background-color: $grey-button-bgcolor;
    padding-top: 5px;
    color: $white-font-text;
    text-align: center;
  }
}

%grey-shadow{
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
}
