// %centered {
//   float: none;

//   display: block;

//   margin-right: auto;
//   margin-left: auto;
// }

%grey-shadow {
  @include box-shadow($grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px);
}

%dashboard-component-title {
  .dashboard-component-title {
    float: left;

    height: 30px;
    width: 100%;

    background-color: $grey-bgcolor;

    @include centered-text-container(5px 0 0 0);
    @extend %white-big-font;
    @include box-sizing(border-box);
  }
}
