@import "variables";

.product{
  width: 195px;
  margin:3px 10px 10px 3px;
  float: left;
  border: $bordeElementos;
  //box-shadow: 0px 1px 3px rgb(170,170,170);
  overflow:auto;

  .product_image{
    float: left;
    width: 175px;
    height: 175px;
    margin: 15px 0px 5px 9px;
    border: $bordeElementos;
  }
  .product_description{
    float: left;
    width: 175px;
    height: 45px;
    margin: 0px 0px 15px 9px;
    border: $bordeElementos;
    overflow: auto;

    textarea{
      float:left;              
      width: 171px;
      border:none;
      resize: none;
      overflow:auto;
      outline: none;
    }
  }

}