@import "variables";

.profile_complete{
  width: 100%;
  float:left;
  overflow:auto;

  .personal_data{
    @include box-sizing(border-box);
    width: 100%;
    float: left;
    overflow: auto;
    margin-bottom:15px;
    border:$borde1px;
    background-color: white;

    .person_info{
      @include box-sizing(border-box);
      width: 50%;
      border-radius: 0px;
      border: none;
      float: left;
      overflow:auto;
      background-color: white;

      .title{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        height: 30px;
        background-color: #eeeeee;
        color: #2980b9;
        padding: 5px 10px 0px 10px;
        text-align: left;
        font:{
          weight:bold;
          size:14px;
          family:$verdana;
        }
      }

      .image_side{
        @include box-sizing(border-box);
        padding: 10px 10px 0px 10px;
        width:100%;
        float:left;

        img{
          @include high-quality-image;
          @include proportions(120px,120px);
          @include border-radius(10px);
          float:left;
          margin: 5px 5px 10px 0px;
          border:$borde1px;
        }

        .name_address{
          float: left;
          width: 250px;
          margin: 0px 0px 0px 5px;
          font:{
            weight:bold;
            size:10px;
            family:$verdana;
          }
        }


      }

      .info_side{
        @include box-sizing(border-box);
        float:left;
        width: 100%;
        padding: 10px;

        .info_element{
          float:left;
          width:100%;
          margin-bottom: 5px;

          .info_element_title{
            float: left;
            margin: 0px 5px 0px 0px;
            font:{
              weight:bold;
              size:10px;
              family:$verdana;
            }
          }
          .info_element_description{
            float: left;
            font:{
              size:10px;
              family:$verdana;
            }
          }
        }

        a{
          float:left;
          margin-top: 20px;
        }

      }
    }


    .statistics{
      @include box-sizing(border-box);
      width: 50%;
      float: left;
      border-radius: 0px;
      border: none;
      overflow:auto;
      background-color: white;

      .title{
        @include box-sizing(border-box);
        float: left;
        width: 100%;
        height: 30px;
        background-color: #eeeeee;
        color: #2980b9;
        padding: 5px 10px 0px 10px;
        text-align: right;
        font:{
          weight:bold;
          size:14px;
          family:$verdana;
        }
      }

      .result_side{
        @include box-sizing(border-box);
        float:left;
        padding: 10px;
        margin-bottom: 10px;
        width:100%;

        .result_block{
          @include box-sizing(border-box);
          float:left;
          width: 50%;

          .result_title{
            @include box-sizing(border-box);
            float:left;
            width: 100%;
            font-weight:bold;
            font:{
                weight:italic;
                size:10px;
                family:$verdana;
            }
          }
          .result_number{
            @include box-sizing(border-box);
            float:left;
            width: 100%;
            color: #2980b9;
            font:{
                weight:bold;
                size:10px;
                family:$verdana;
            }
          }
        }



      }

      .graphique_side{
        @include box-sizing(border-box);
        float:left;
        width:80%;
        padding: 10px;

        .graphique{
          float: left;
          width: 350px;
          height: 160px;
          border:$borde1px;

          img{
            @include high-quality-image;
          }
        }
      }
    }
  }

  .comments_recieved{
    @include box-sizing(border-box);
    overflow:auto;
    margin-bottom:15px;
    width: 100%;
    border:$borde1px;
    background-color: white;

    .title{
      float: left;
      width: 100%;
      height: 30px;
      background-color: #eeeeee;
      color: #2980b9;
      text-align: center;
      padding-top: 8px;
      margin-bottom: 10px;
      font:{
        weight:bold;
        size:14px;
        family:$verdana;
      }
    }

    #comment_list{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      padding: 10px;
      font:{
        weight:bolder;
        size:14px;
        family:$verdana;
      }

      .comment{
        @include box-sizing(border-box);
        float:left;
        padding: 5px;
        margin-bottom:15px;
        width:50%;

        .comment_header{
          @include proportions(100%,60px);
          overflow: hidden;
          margin-bottom: 5px;

          .profile_image{
            @include box-sizing(border-box);
            @include border-radius(25px, 25px);
            @include proportions(50px,50px);
            float: left;
            border: $borde1px;
            img{
              @include border-radius(25px, 25px);
              @include proportions(50px,50px);
            }
          }

          .description{
            @include box-sizing(border-box);
            @include proportions(80%,30px);
            padding-left: 10px;
            float: left;

            .username_and_valuation{
              @include box-sizing(border-box);
              float: left;
              width: 100%;

              .user_name{
                @include box-sizing(border-box);
                float: left;
                width: 60%;
                font:{
                  weight:bold;
                  size:10px;
                  family:$verdana;
                }
              }

              .user_valuation{
                @include box-sizing(border-box);
                float: left;
                width: 40%;
                text-align: left;
                padding: 0px 5px;

                font:{
                  weight: bold;
                  size:8px;
                  family:$verdana;
                }
              }

            }

            .comment_user_text{
              float:left;
              width: 100%;
              height: 30px;
              border: $borde1px;
              text-align: left;
              font:{
                weight: normal;
                size:9px;
                family:$verdana;
              }
            }
          }
        }
      }
    }
  }
}