@import "variables";

.profile_complete{
  @include fixed_width(99%,825px,99%);
  float:left;
  overflow:auto;
  margin-left:5px;  

  .person_info{
    @include proportions(48%,252px);
    float: left;
    overflow:auto;
    margin-right:8px;
    margin-bottom:15px;
    padding-left:10px;   
    border:$borde1px;
    background-color: white;

    .info_side{
      float:left;
      margin-bottom: 10px;
      width:200px;

      .title{
        margin: 10px 0px 10px 0px;
        font-weight:bolder;
        font-size:14px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      }
      .name_age{
        margin: 0px 0px 8px 0px;
        font-weight:bold;
        font-size:12px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      }
      .info_element{
        float:left;
        width:90%;
        .info_element_title{
          float: left;
          margin: 0px 5px 0px 0px;
          width:100%;
          font-weight:bold;
          font-size:10px;
          font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        }
        .info_element_description{
          float: left;
          margin: 0px 0px 5px 0px;
          width:100%;
          font-size:10px;
          font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        }
      }
    }
    .image_side{
      float:left;
      overflow:auto;
      margin-top:10px;
      margin-bottom: 10px;
      width:175px;

      img{
        @include high-quality-image;
        @include proportions(160px,160px);
        float:left;
        margin-top:30px;
        margin-right:5px;       
        border:$borde1px;        
      }
    }
  }

  .statistics{
    float:left;
    overflow:auto;
    margin-bottom:15px;
    padding-left:10px;
    width: 48%;
    border:$borde1px;
    background-color: white;

    .result_side{
      float:left;
      margin-bottom: 10px;
      width:150px;

      .title{
        margin: 10px 0px 10px 0px;
        font-weight:bolder;
        font-size:14px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      }
      .result_title{
        margin: 0px 0px 5px 0px;
        font-weight:bold;
        font-style:italic;
        font-size:10px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      }
      .result_number{
        margin: 0px 0px 10px 0px;
        font-weight:bold;
        font-size:18px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      }
    }
    .graphique_side{
      float:left;
      overflow:auto;
      margin-top:10px;
      margin-bottom: 10px;
      width:240px;

      .graphique{
        @include proportions(220px,220px);
        float:right;
        margin-right:5px;        
        border:$borde1px;
        img{
          @include high-quality-image;
          @include proportions(inherit,inherit);
        }
      }
    }            
  }

  .comments_recieved{
    overflow:auto;
    margin-bottom:15px;
    padding-left:10px;
    width: 98.3%;
    border:$borde1px;
    background-color: white;

    .title{
      float: left;
      margin: 10px 0px 20px 0px;
      width:100%;
      font-weight:bolder;
      font-size:14px;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    }
    #data_list{
      float: left;
      margin: 0px 0px 10px 0px;
      width:250px;
      border-right:none;
      font-weight:bolder;
      font-size:14px;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

      .data_numbers{
        .data_element{

        }
      }
    }            
    #comment_list{              
      float: left;
      margin: 0px 0px 10px 0px;
      padding-left:15px;
      width:530px;
      border-left:none;
      font-weight:bolder;
      font-size:14px;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

      .comment{
        float:left;
        margin-bottom:15px;
        width:520px;

        .comment_header{
          @include proportions(100%,60px);
          overflow: hidden;
          margin-bottom: 5px;                           

          .profile_image{
            @include relative($top:0px,$left:8px);
            @include border-radius(5px, 5px);
            @include proportions(50px,50px);           
            border: $borde1px;
          }

          .description{
            @include relative($top:-52px,$left:67px);
            @include proportions(400px,50px);            
            border: $borde1px;

            textarea{
              float:left;
              overflow: hidden;
              width: 50%;
              border:none;
              font-size: 11px;
              resize: none;
              maxlenght: 135;
            }
          }
        }
      }
    }
  }
}