@import "variables";

.profile_complete{
  @include fixed_width(99%,825px,99%);
  float:left;
  overflow:auto;
  margin-left:5px;  

  .person_info{
    @include proportions(48.5%,252px);
    @include border_Element_into_container;
    @include box-sizing(border-box);
    float: left;
    overflow:auto;
    margin:0px 8px 15px 0px;
    border:$borde1px;
    background-color: white;

    .title{
      float: left;
      width: 100%;
      height: 30px;
      background-color: #004e6a;
      color: white;
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin-bottom: 10px;
    }

    .info_side{
      @include box-sizing(border-box);
      float:left;
      margin-bottom: 10px;
      padding-left: 10px;
      width:50%;

      .name_age{
        float: left;
        width:90%;
        margin: 0px 0px 8px 0px;
        font:{
          weight:bold;
          size:12px;
          family:$verdana;
        }
      }

      .info_element{
        float:left;
        width:90%;
        margin-bottom: 5px;

        .info_element_title{
          float: left;
          margin: 0px 5px 0px 0px;
          width:100%;
          font:{
            weight:bold;
            size:10px;
            family:$verdana;
          }
        }
        .info_element_description{
          float: left;
          width:100%;
          font:{
            size:10px;
            family:$verdana;
          }
        }
      }
    }

    .image_side{
      @include box-sizing(border-box);
      width:50%;
      float:left;
      margin-top:10px 0px 10px 0px;

      img{
        @include high-quality-image;
        @include proportions(160px,160px);
        float:left;
        margin: 5px 5px 10px 0px;
        border:$borde1px;        
      }
      button{
        float:right;
        width: 80%;
        margin-right: 38px;
      }
    }
  }
  

  .statistics{
    @include border_Element_into_container;
    @include box-sizing(border-box);
    float:left;
    overflow:auto;
    margin-bottom:15px;
    width: 48.5%;
    border:$borde1px;
    background-color: white;

    .title{
      float: left;
      width: 100%;
      height: 30px;
      background-color: #004e6a;
      color: white;
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin-bottom: 10px;
    }

    .result_side{
      @include box-sizing(border-box);
      float:left;
      padding-left: 10px;
      margin-bottom: 10px;
      width:30%;
      
      .result_title{
        margin: 0px 0px 5px 0px;
        font-weight:bold;
        font:{
            weight:italic;
            size:10px;
            family:$verdana;
        }
      }
      .result_number{
        margin: 0px 0px 10px 0px;
        font:{
            weight:bold;
            size:18px;
            family:$verdana;
        }
      }
    }

    .graphique_side{
      @include box-sizing(border-box);
      float:left;
      overflow:auto;
      margin:5px 0px 10px 0px;
      width:70%;

      .graphique{
        @include proportions(220px,220px);
        @include center-horizontally(80%);
        border:$borde1px;
        img{
          @include high-quality-image;
          @include proportions(inherit,inherit);
        }
      }
    }            
  }

  .comments_recieved{
    @include border_Element_into_container;
    @include box-sizing(border-box);
    overflow:auto;
    margin-bottom:15px;
    width: 98.3%;
    border:$borde1px;
    background-color: white;

    .title{
      float: left;
      width: 100%;
      height: 30px;
      background-color: #004e6a;
      color: white;
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin-bottom: 10px;
    }


    #data_list{
      @include box-sizing(border-box);
      float: left;
      margin: 0px 0px 10px 0px;
      width:30%;
      padding-left: 10px;
      border-right:none;
      font:{
        weight:bolder;
        size:14px;
        family:$verdana;
      }

      .data_numbers{
        .data_element{
        }
      }
    }            
    #comment_list{ 
      @include box-sizing(border-box);             
      float: left;
      margin: 0px 0px 10px 0px;
      padding-left:15px;
      width:70%;
      border-left:none;
      font:{
        weight:bolder;
        size:14px;
        family:$verdana;
      }

      .comment{
        float:left;
        margin-bottom:15px;
        width:520px;

        .comment_header{
          @include proportions(100%,60px);
          overflow: hidden;
          margin-bottom: 5px;                           

          .profile_image{
            @include relative($top:0px,$left:8px);
            @include border-radius(5px, 5px);
            @include proportions(50px,50px);           
            border: $borde1px;
          }

          .description{
            @include relative($top:-52px,$left:67px);
            @include proportions(400px,50px);            
            border: $borde1px;

            textarea{
              float:left;
              overflow: hidden;
              width: 50%;
              border:none;
              font-size: 11px;
              resize: none;
              maxlenght: 135;
            }
          }
        }
      }
    }
  }
}