@import "variables";

.profile_complete{
  float:left;
  width:99%;
  min-width:825px;
  overflow:auto;
  margin-left:5px;

  .person_info{
    float: left;
    padding-left:10px;
    width: 48%;
    height:252px;
    border:$bordeElementos;
    margin-bottom:15px;
    margin-right:8px;
    overflow:auto;
    background-color: white;

    .info_side{
      float:left;
      width:200px;
      margin-bottom: 10px;

      .title{
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:bolder;
        margin: 10px 0px 10px 0px;
      }
      .name_age{
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:12px;
        font-weight:bold;
        margin: 0px 0px 8px 0px;
      }
      .info_element{
        float:left;
        width:90%;
        .info_element_title{
          float: left;
          width:100%;
          font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
          font-size:10px;
          font-weight:bold;
          margin: 0px 5px 0px 0px;
        }
        .info_element_description{
          float: left;
          width:100%;
          font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
          font-size:10px;
          margin: 0px 0px 5px 0px;
        }
      }
    }
    .image_side{
      float:left;
      width:175px;
      overflow:auto;
      margin-bottom: 10px;
      margin-top:10px;

      img{
        @include high-quality-image;
        float:left;
        margin-right:5px;
        margin-top:30px;
        width:160px;
        height:160px;
        border:$bordeElementos;        
      }
    }
  }

  .statistics{
    float:left;
    padding-left:10px;
    width: 48%;
    border:$bordeElementos;
    margin-bottom:15px;
    overflow:auto;
    background-color: white;

    .result_side{
      float:left;
      width:150px;
      margin-bottom: 10px;

      .title{
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:bolder;
        margin: 10px 0px 10px 0px;
      }
      .result_title{
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:10px;
        font-weight:bold;
        font-style:italic;
        margin: 0px 0px 5px 0px;
      }
      .result_number{
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:18px;
        font-weight:bold;
        margin: 0px 0px 10px 0px;
      }
    }
    .graphique_side{
      float:left;
      width:240px;
      overflow:auto;
      margin-bottom: 10px;
      margin-top:10px;

      .graphique{
        float:right;
        margin-right:5px;
        width:220px;
        height:220px;
        border:$bordeElementos;
        img{
          @include high-quality-image;
        }
      }
    }            
  }

  .comments_recieved{
    padding-left:10px;
    width: 98.3%;
    border:$bordeElementos;
    margin-bottom:15px;
    overflow:auto;
    background-color: white;

    .title{
      float: left;
      width:100%;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size:14px;
      font-weight:bolder;
      margin: 10px 0px 20px 0px;
    }
    #data_list{
      float: left;
      width:250px;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size:14px;
      font-weight:bolder;
      margin: 0px 0px 10px 0px;
      border-right:none;

      .data_numbers{
        .data_element{

        }
      }
    }            
    #comment_list{              
      float: left;
      width:530px;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size:14px;
      font-weight:bolder;
      margin: 0px 0px 10px 0px;
      padding-left:15px;
      border-left:none;

      .comment{
        float:left;
        width:520px;
        margin-bottom:15px;

        .comment_header{
          width: 100%;
          height: 60px;
          margin-bottom: 5px;
          overflow: hidden;                  

          .profile_image{
            @include border-radius(5px, 5px);
            position:relative;
            top: 0px;
            left: 8px;
            width: 50px;
            height: 50px;
            border: $bordeElementos;
          }

          .description{
            position:relative;
            top: -52px;
            left: 67px;
            width: 400px;
            height: 50px;
            border: $bordeElementos;

            textarea{
              float:left;
              font-size: 11px;
              width: 50%;
              border:none;
              resize: none;
              overflow: hidden;
              maxlenght: 135;
            }
          }
        }
      }
    }
  }
}