@import "variables";

body{
  margin: 0;
  padding: 0;
  display: block;
  font-family: Verdana,'DejaVu Sans',sans-serif;
  font-size: 13px;
  line-height: 18px;
  overflow: auto;

  //Aqui viene el header      

  .mainlayout{
    position: absolute;
    top: 50px;
    width:100%;
    overflow: visible;
    background-color: rgb(220,220,220);

    //Primero va el userSide, la parte izquierda donde esta el perfil del usuario
    //Despues va el contentSide, la parte derecha donde estan todos los contenidos
    //Debajo de todo viene el footer, que esta aqui dentro para que vaya pegado siempre
  }
  
}