@import "variables";

body{
  margin: 0;
  padding: 0;
  display: block;
  font-family: Verdana,'DejaVu Sans',sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  overflow: auto;

  .mainlayout{
    position: relative;
    top: 50px;
    width:100%;
    overflow: visible;    
  }
  
}