@import "variables";
@import 'stitch';


body{
  display: block;
  overflow: auto;
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  background-color: rgb(100,152,173);
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font:{
    size: 13px;
    family: $verdana;
  }
  line-height: 18px;

  .mainlayout{
    @include center-horizontally(97%);
    min-width: 800px;
    position: relative;
    top: 40px;
    overflow: visible;
  }
}

.hidden_container{
  visibility: hidden;
}

.alert_container{
  position: fixed;
  z-index: 3000;
  top: 30%;
  left:30%;
  width: 500px;
  height: 300px;
}

// Me permitira tener capas del 100% de altura
html, body {height: 100%;}

