.box-red { background-color: rgb(231, 74, 57) }
.box-blue { background-color: rgb(58, 157, 223) }
.box-green { background-color: rgb(0, 153, 0) }

.f-start { float: left; }
.f-end { float: right; }

.mt-5 { margin-top: 5px; }

.w-100 { width: 100%; }

.h-25 {
  height: 25px;
  min-height: 25px;
  max-height: 25px;
}

.txt-c { text-align: center; }
