@import "variables";
@import 'stitch';

body{
  display: block;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fcf8;
  font:{
    size: 13px;
    family: $verdana;
  }
  line-height: 18px;

  .mainlayout{
    @include center-horizontally(96%);
    @include box-sizing(border-box);
    min-width: 1100px;
    position: relative;
    overflow: auto;     
  }  
}

.hidden_container{
  visibility: hidden;
}