@import "variables";
@import 'stitch';

body{
  display: block;
  overflow: auto;
  width: 100%;
  float:left;
  margin: 0px;
  padding: 0px;
  background-color: #f8fcf8;
  font:{
    size: 13px;
    family: $verdana;
  }
  line-height: 18px;

  .mainlayout{
    @include center-horizontally(1152px);
    position: relative;
    overflow: auto;     
  }  
}

.hidden_container{
  visibility: hidden;
}