@import "variables";
@import 'stitch';

body{
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font:{
    size: 13px;
    family: $verdana;
  }
  line-height: 18px;

  .mainlayout{
    @include relative($top:0px);
    overflow: visible;
    width:100%;    
  }
  
}