@import "variables";
@import 'stitch';

body{
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #f8fcf8;
  font:{
    size: 13px;
    family: $verdana;
  }
  line-height: 18px;

  .mainlayout{
    width: 1100px;

    @media screen and (max-width: 1500px) {
      @include center-horizontally(1100px);
    }

    @media screen and (min-width: 1500px) {
      @include center-horizontally(1400px);
    }

    @include box-sizing(border-box);
    overflow: auto;
  }
  
}