@import "variables";

.thing{

  @include element_into_ElementList_style;
  @include box-sizing(border-box);
  width: $thingWidth;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;

  .offer_header{
    @include proportions(100%,24px);
    float: left;
    background-color: #bbbbbb;
    overflow: hidden;
    overflow: none;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: white;
    padding-top: 5px;
  }

  .thing_image{
    float: left;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;

    img{
      @include high-quality-image;
      @include proportions($thingWidth,$thingWidth);
    }
  }

  .thing_description{
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    overflow: visible;
    margin: 0px 0px 10px 0px;
    padding: 3px;

    .text{
      float: left;
      width: 100%;
      overflow: auto;
    }
  }

  .thing_options{
    float: left;
    width: 100%;
    text-align: center;

    a{
      @include center-horizontally(80%);
      margin-bottom: 10px;
    }
  }

}