@import "variables";

.thing{
  @include box-shadow(rgb(170,170,170) 1px 1px 3px);
  float: left;
  overflow:auto;
  margin:3px 10px 10px 3px;
  width: 195px;
  border: $borde1px;
  background-color: white;

  .thing_image{
    @include proportions(175px,175px);
    float: left;
    margin: 15px 0px 5px 9px;    
    border: $borde1px;

    img{
      @include high-quality-image;
    }
  }
  .thing_description{
    @include proportions(175px,45px);
    float: left;
    overflow: auto;
    margin: 0px 0px 15px 9px;
    border: $borde1px;    
  }

}