@import "variables";

.thing{
  @include box-shadow(rgb(170,170,170) 1px 1px 3px);
  background-color: white;
  width: 195px;
  margin:3px 10px 10px 3px;
  float: left;
  border: $bordeElementos;
  overflow:auto;

  .thing_image{
    float: left;
    width: 175px;
    height: 175px;
    margin: 15px 0px 5px 9px;
    border: $bordeElementos;

    img{
      @include high-quality-image;
    }
  }
  .thing_description{
    float: left;
    width: 175px;
    height: 45px;
    margin: 0px 0px 15px 9px;
    border: $bordeElementos;
    overflow: auto;    
  }

}