@import "variables";

.user_container{
  @include relative($top:50px,$left:35px);
  @include fixed_width($width250px,$width250px,$width250px);
  overflow: visible;  
  border: $borde2px;
  background-color: #f8fcf8;

  #user_reputation_container{
    @include proportions(100%,26px);
    float: left;
    margin-bottom: 10px;    
    border-bottom: $borde2px;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#DEDEDE));
    background: -webkit-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -moz-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -ms-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -o-linear-gradient(top, #FAFAFA, #DEDEDE);

    img{
      @include high-quality-image;
      margin: 8px 0px 0px 30px;
    }

  }  

  .user_container_profile{
    @include center-horizontally($width250px);
    background-color: white;
    overflow: auto;    
    margin-top:10px;
    width:$width90pct;
    border: $borde2px;

    .image{
      @include proportions(80%,180px);
      margin: inherit;
      margin-top:10px; 
      border: $borde1px;

      img{ 
        @include high-quality-image; 
        @include proportions(100%,180px);        
      }
      //@include border-radius(5px);
    }

    .user_name{
      @include center-horizontally(80%);      
      height:auto;
      border:{
        right: $borde1px; 
        bottom: $borde1px;  
        left: $borde1px;
      }
      text-align:center;
    }

    .profile_button{
      @include center-horizontally(80%);
      margin-top:10px;      
      height: 20px;
    }

    .profile_menu{
      @include proportions(80%,20px);
      margin: inherit;
      margin-bottom: 10px;

      .menu_icon{
        @include proportions(58px,20px);
        float:left;
        border: $borde1px;

        a{
          margin-left: 3px;
        }          
      }
    }
  } 

  .user_container_requests{
    @include center-horizontally($width250px);
    background-color: white;
    overflow: auto;
    margin-top:10px;
    margin-bottom: 10px;
    width:$width90pct;
    border: $borde2px;    

    .add_request_button{
      @include center-horizontally(80%);
      margin-top:10px;
      height: 20px;
    }    

    .requests_requestsList{
      @include center-horizontally(97%);
      overflow:auto;
      margin-top:10px;

      .request{
        @include center-horizontally(100%);
        overflow: hidden;
        margin-bottom: 8px;

        .profile_image{
          @include border-radius(5px, 5px);
          @include proportions(40px,40px); 
          float:left;
          margin-right:5px;                    
          border: $borde1px;

          img{
            @include high-quality-image;
            @include proportions(inherit,inherit);
            @include border-radius(5px, 5px);
          }
        }

        .description{
          @include border-radius(5px, 5px);
          @include proportions(160px,40px);
          float: left;          
          border: $borde1px;
          font-size: 9px;
          overflow: hidden;

          .request_bar{
            @include proportions(160px,40px);             
          }
        }

        a{
          @include unstyled-link;
          font-size:12px;
          z-index: 10;        
        }        
      }
    }
  }        
} 