@import "variables";

.left_container{
  @include box-sizing(border-box);
  float:left;
  @media screen and (max-width: 1300px) {
    width: 280px;
    max-width: 280px;
  }
  @media screen and (min-width: 1300px) {
    width: 350px;
    max-width: 350px;
  }
  padding: $MCTopPadding $MCCenterMargin 0px $MCExtPadding; 

  .user_container{
    @include ppal_container_style;
    float: right;    

    #user_reputation_container{
      @include top_main_header_style;

      img{
        @include high-quality-image;
        margin: 8px 0px 0px 30px;
      }
    }

    .user_container_profile{
      @include container_into_PpalSide_style;

      .image{
        @include border_Element_into_container;
        @include center-horizontally(80%);
        margin: inherit;
        margin-bottom: 5px;
        border: $borde1px;

        img{
          @include high-quality-image;
          @include center-horizontally(100%);        
        }
      }

      .user_name{
        @include center-horizontally(80%);
        height:auto;        
        text-align:center;
      }

      .new_offer_button{
        @include center-horizontally(80%);
        height: 20px;
        margin-top: 10px;        
        margin-bottom: 10px;
        a{
          @include box-sizing(border-box);
          @include proportions(100%,20px);
          text-align: center;
        }
      }      

      .profile_menu{
        @include center-horizontally(80%);
        height: 30px;
        margin-top: 10px;        
        margin-bottom: 10px;

        .menu_icon{
          @include box-sizing(border-box);
          @include proportions(33.3%,20px);
          float:left;
          border: $borde1px;
          overflow: hidden;

          a{
            margin-left: 3px;
          }
        }
      }
    }

    .user_container_requests{
      @include container_into_PpalSide_style;
      margin-bottom: 0px;
      border-bottom: none;      

      .add_request_button{
        @include center-horizontally(80%);
        margin-top:10px;
        height: 20px;
      }

      .requests_requestsList{
        @include center-horizontally(98%);
        overflow:auto;
        margin-top:10px;

        .request{
          @include center-horizontally(96%);
          @include box-sizing(border-box);
          overflow: hidden;
          margin-bottom: 8px;

          .profile_image{
            @include box-sizing(border-box);
            @include border-radius(5px, 5px);
            @include proportions(40px,40px);
            padding: 2px;
            float:left;
            margin:0px 5px 5px 0px;
            border: $borde1px;

            img{
              @include high-quality-image;
              @include proportions(100%,100%);
            }
          }

          .description{
            @include box-sizing(border-box);
            @include border-radius(5px, 5px);
            @include proportions(79%,40px);
            float: left;
            border: $borde1px;
            font-size: 9px;
            overflow: hidden;

            .request_bar{
              @include proportions(98%,40px);
            }
          }

          a{
            @include unstyled-link;
            margin-left: 2px;
            font-size:12px;
            z-index: 10;
          }
        }
      }
    }
  }

}
