@import "variables";

.left_container{
  @include box-sizing(border-box);
  float:left;
  @media screen and (max-width: 1300px) {
    width: 280px;
    max-width: 280px;
  }
  @media screen and (min-width: 1300px) {
    width: 350px;
    max-width: 350px;
  }
  padding: $MCTopPadding $MCCenterMargin 0px $MCExtPadding; 

  .user_container{
    @include ppal_container_style;
    float: right;    

    #user_reputation_container{
      @include top_main_header_style;

      img{
        @include high-quality-image;
        margin: 8px 0px 0px 30px;
      }
    }

    .user_container_profile{
      @include container_into_PpalSide_style;

      .image{
        @include border_Element_into_container;
        @include center-horizontally(80%);
        margin: inherit;
        margin-bottom: 5px;
        border: $borde1px;

        img{
          @include high-quality-image;
          @include center-horizontally(100%);        
        }
      }

      .user_name{
        @include center-horizontally(80%);
        height:auto;        
        text-align:center;
      }

      .new_offer_button{
        @include center-horizontally(80%);
        height: 30px;
        margin-top: 10px;        
        margin-bottom: 10px;
        a{
          @include box-sizing(border-box);
          @include proportions(100%,30px);
          text-align: center;
        }
      }      

      .profile_menu{
        @include center-horizontally(80%);
        height: 40px;
        margin-top: 10px;        
        margin-bottom: 10px;

        .btn-toolbar{
          @include center-horizontally(80%);
          .btn-group{
            a{
              img{
                @include high-quality-image;
                @include proportions(20px,20px);
              }
            }
          }
        }       
      }
    }

    .user_container_requests{
      @include container_into_PpalSide_style;
      margin-bottom: 0px;
      border-bottom: none;

      .btn-toolbar{
        @include center-horizontally(80%);
        margin-bottom: 20px;
       
        a{
          @include proportions(85%,20px);                       
        }
        .requestWritingBox{    
          width: 100%;
          overflow: visible;
          background-color:#CCAAAA;
          z-index: 1000;
          display: none;
          form{ 
            padding: 10px;             
            .request_bar{
              @include center-horizontally(90%);
              height: 80px;
              margin-bottom: 0px;
            }
          }
        }        
      }     

      .requests_requestsList{
        @include center-horizontally(100%);
        overflow:auto;
        margin-top:10px;

        .request{
          @include center-horizontally(100%);
          @include box-sizing(border-box);
          overflow: hidden;          
          padding: 10px 6px 0px 6px;
          border-top: $borde1px;          

          .profile_image{
            @include box-sizing(border-box);
            @include border-radius(5px, 5px);
            @include proportions(18%,40px);
            padding: 2px;
            float:left;
            border: $borde1px;

            img{
              @include high-quality-image;
              @include proportions(100%,100%);
            }
          }

          .description{
            @include proportions(80%,40px);
            float: right;
            font-size: 9px;
            line-height: normal;
            overflow: hidden;            
          }

          .options_menu{
            @include center-horizontally(90%);
            top: -5px;
            height: 10px;            
            float: left;
            font-size: 9px;

            a{
              float: right;
              margin-top: -12px;
              margin-left: 20px;
              color: #3355FF;
              font-weight: bold;
            }
          }

          &:hover{
            background-color: #EEEEEE;
          }
          
        }

        .request:last-child{
          border-bottom: $borde1px;
        }
      }
    }
  }

}
