@import "variables";

.user_container{
  position:relative;
  left:35px;      
  width:$anchuraLadoUsuario;
  min-width:$anchuraLadoUsuario;
  border: $bordeLadoUsuario;
  background-color: white;
  overflow: visible;

  #user_reputation_container{
    width: 100%;
    height: 26px;
    margin-bottom: 10px;
    float: left;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#DEDEDE));
    background: -webkit-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -moz-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -ms-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -o-linear-gradient(top, #FAFAFA, #DEDEDE);
    border-bottom: 2px solid rgb(220,220,220);

    img{
      margin: 8px 0px 0px 30px;
    }

  }  

  .user_container_profile{
    width:$anchuraZonasPrincipalesUsuario;
    margin:{
      left:auto;
      right: auto;
    }
    margin-top:10px;
    border: 2px solid rgb(220,220,220);
    overflow: auto;

    .image{
      margin: inherit; 
      width:80%;
      height: 180px;
      margin-top:10px;
      border: $bordeElementos;
      //@include border-radius(5px);

      img{        
        width:100%;
        height: 180px;
      }
    }

    .user_name{
      width:80%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;        
      border-left: $bordeElementos;
      border-right: $bordeElementos; 
      border-bottom: $bordeElementos;
    }

    .profile_button{
      display: block;
      width:80%;
      height: 20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
    }

    .profile_menu{
      width:70%;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:10px;
      margin-top: 10px;
      overflow: auto;

      .menu_icon{
        @include border-radius(3px, 3px);
        float:left;
        margin-left:8px;
        border: $bordeElementos;

        img{
          width:40px;
          height:40px;
        }  
      }
    }
  } 

  .user_container_requests{
    width:$anchuraZonasPrincipalesUsuario;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border: 2px solid rgb(220,220,220);
    overflow: auto;    

    .add_request_button{
      display: block;
      width:80%;
      height: 20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
    }    

    .requests_requestsList{
      width:96%;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
      overflow:auto;

      .request{
        width:100%;
        height: 45px;
        margin-left:auto;
        margin-right:auto;        
        margin-bottom: 5px;
        overflow: hidden;

        .profile_image{
          @include border-radius(5px, 5px);
          float:left;
          margin-right:5px;
          width: 40px;
          height: 40px;          
          border: $bordeElementos;

          img{
            @include border-radius(5px, 5px);
            width: 40px;
            height: 40px;
          }
        }

        .description{
          @include border-radius(5px, 5px);
          float: left;
          width: 160px;
          height: 40px;
          border: $bordeElementos;

          textarea{
            float:left;
            -webkit-appearance: textarea;
            font-size: 11px;
            width: 50%;
            border:none;
            resize: none;
            overflow: hidden;
            maxlenght: 135;
          }
        }
      }
    }
  }        
} 