@import "variables";

.userside{
  position:relative;
  left:35px;      
  width:$anchuraLadoUsuario;
  min-width:$anchuraLadoUsuario;
  border: $bordeLadoUsuario;
  background-color: white;
  overflow: visible;

  .userside_profile{
    width:$anchuraZonasPrincipalesUsuario;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border: 2px solid rgb(220,220,220);
    overflow: auto;

    .image{ 
      width:80%;
      height: 180px;     
      margin-top:10px;
      margin-left:auto;
      margin-right:auto;
      border: $bordeElementos;
      border-top-left-radius:5px;
      border-top-right-radius:5px;

      img{
        width:100%;
        height: 180px;
      }

    }

    .user_name{
      width:80%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;        
      border-left: $bordeElementos;
      border-right: $bordeElementos; 
      border-bottom: $bordeElementos;
    }

    .profile_button{
      display: block;
      width:80%;
      height: 20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
    }

    .profile_menu{
      width:70%;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:10px;
      margin-top: 10px;
      overflow: auto;

      .menu_icon{
        float:left;
        margin-left:8px;
        border: $bordeElementos;
        border-radius:3px;

        img{
          width:40px;
          height:40px;
        }  
      }
    }
  } 

  .userside_requests{
    width:$anchuraZonasPrincipalesUsuario;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border: 2px solid rgb(220,220,220);
    overflow: auto;    

    .add_request_button{
      display: block;
      width:80%;
      height: 20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
    }    

    .requests_requestsList{
      width:96%;
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
      overflow:auto;

      .request{
        width:100%;
        height: 60px;
        margin-left:auto;
        margin-right:auto;        
        margin-bottom: 5px;
        overflow: hidden;

        .profile_image{
          float:left;
          margin-right:5px;          
          border: $bordeElementos;
          border-radius:5px;

          img{
            width: 15%;
            height: 30px;
            border-radius:5px;
          }
        }

        .description{
          float: left;
          width: 80%;
          height: 30px;
          border: $bordeElementos;
          border-radius:5px;              

          textarea{
            float:left;
            -webkit-appearance: textarea;
            font-size: 11px;
            width: 50%;
            border:none;
            resize: none;
            overflow: hidden;
            maxlenght: 135;
          }
        }
      }
    }
  }        
} 