@import "variables";

.user_container{
  @include relative($top:50px,$left:35px);
  overflow: visible;
  min-width:$width250px;
  width:$width250px;
  border: $borde2px;
  background-color: white;

  #user_reputation_container{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 26px;
    border-bottom: $borde2px;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#DEDEDE));
    background: -webkit-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -moz-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -ms-linear-gradient(top, #FAFAFA, #DEDEDE);
    background: -o-linear-gradient(top, #FAFAFA, #DEDEDE);

    img{
      @include high-quality-image;
      margin: 8px 0px 0px 30px;
    }

  }  

  .user_container_profile{
    @include center-horizontally($width250px);
    overflow: auto;    
    margin-top:10px;
    width:$width90pct;
    border: $borde2px;

    .image{
      margin: inherit;
      margin-top:10px; 
      width:80%;
      height: 180px;
      border: $borde1px;

      img{ 
        @include high-quality-image;       
        width:100%;
        height: 180px;
      }
      //@include border-radius(5px);
    }

    .user_name{
      @include center-horizontally(80%);      
      height:auto;
      border-right: $borde1px; 
      border-bottom: $borde1px;        
      border-left: $borde1px;
      text-align:center;
    }

    .profile_button{
      @include center-horizontally(80%);
      margin-top:10px;      
      height: 20px;
    }

    .profile_menu{
      @include center-horizontally(70%);
      overflow: auto;
      margin-top: 10px;
      margin-bottom:10px;

      .menu_icon{
        @include border-radius(3px, 3px);
        float:left;
        margin-left:8px;
        border: $borde1px;

        img{
          width:40px;
          height:40px;
        }  
      }
    }
  } 

  .user_container_requests{
    @include center-horizontally($width250px);
    overflow: auto;
    margin-top:10px;
    width:$width90pct;
    border: $borde2px;    

    .add_request_button{
      @include center-horizontally(80%);
      margin-top:10px;
      height: 20px;
    }    

    .requests_requestsList{
      @include center-horizontally(97%);
      overflow:auto;
      margin-top:10px;

      .request{
        @include center-horizontally(100%);
        overflow: hidden;
        margin-bottom: 5px;

        .profile_image{
          @include border-radius(5px, 5px);
          float:left;
          margin-right:5px;
          width: 40px;
          height: 40px;          
          border: $borde1px;

          img{
            @include high-quality-image;
            width: 40px;
            height: 40px;
            @include border-radius(5px, 5px);
          }
        }

        .description{
          @include border-radius(5px, 5px);
          float: left;
          width: 160px;
          height: 40px;
          border: $borde1px;

          textarea{
            float:left;
            overflow: hidden;
            width: 50%;
            border:none;
            font-size: 11px;
            resize: none;
            -webkit-appearance: textarea;
            maxlenght: 135;
          }
        }
      }
    }
  }        
} 