@import "variables";

.left_container{
  float:left;
  @include fixed_width(258px,258px,258px);
  padding: 0px $MCCenterMargin 0px 0px;

  .user_container{
    @include ppal_container_style;
    float: right;

    #user_reputation_container{
      @include top_main_header_style;

      img{
        @include high-quality-image;
        margin: 8px 0px 0px 30px;
      }
    }

    .user_container_profile{
      @include container_into_PpalSide_style;
      @include center-horizontally(93%);

      .image_side{
        float: left;
        width: 100%;
        height: 160px;
        overflow: none;

        .image{
          width: 100%;
          height: inherit;
          margin: inherit;
          margin-bottom: 5px;

          img{
            @include high-quality-image;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            width: 100%;
            height: inherit;
          }
        }
      }

      .description_side{
        float: left;
        width: 100%;

        .profile_image{
          float: left;
          @include proportions(90px,40px);
          background-color: transparent;
          //position: relative;
          //top:-50px;
          //left: 63px;
          @include border-radius(45px, 45px);
          padding-left: 32%;

          .image_wrapper{
            position: relative;
            top: -45px;
            @include proportions(82px,82px);
            @include border-radius(45px, 45px);
            background-color: white;

            a{
              img{
                @include high-quality-image;
                @include proportions(80px,80px);
                @include border-radius(40px, 40px);
                position: relative;
                top: 0px;
                border: 1px solid #cccccc;
              }
            }
          }
        }

        .relevan_data{
          float: left;
          width: 100%;
          //position: relative;
          //top: -80px;
          height: 20px;

          .percentage{
            position: relative;
            top: -20px;
            padding-left: 25px;
            text-align: left;
          }

          .numfriends{
            position: relative;
            top: -38px;
            padding-right: 25px;
            text-align: right;
          }
        }

        .user_name{
          float: left;
          width: 100%;
          //@include center-horizontally(80%);
          //position: relative;
          //top: -70px;
          height: auto;

          .name{
            float: left;
            width: 100%;
            text-align: center;
          }
          .address{
            float: left;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            font-size: 11px;
            font-weight: 200;
            font-style: italic;
          }
        }

        .new_offer_button{
          float: left;
          width: 100%;
          height: auto;
          margin: 15px 0px 25px 0px;
          text-align: center;

          a{
            font-size: 12px;
            font-weight: bold;
            color: white;
            text-decoration:none;
          }
          a:link {text-decoration:none;}
          a:visited {
            text-decoration:none;
            color: white;
          }
          a:hover {text-decoration:none;}
          a:active {text-decoration:none;}

        }
      }
    }

    .user_container_requests{
      @include container_into_PpalSide_style;
      @include center-horizontally(93%);
      margin-bottom: 0px;
      border-bottom: none;

      .request_list_title{
        @include box-sizing(border-box);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 100%;
        background-color: #f5f5f5;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 15px;

        .text_side{
          @include box-sizing(border-box);
          float: left;
          width: 80%;
          height: 40px;
          color: #7f8c8c;
          background-color: #f5f5f5;
          padding-top: 12px;
          border-right: 1px solid #dddddd;
          font-size: 13px;
          text-align: center;
        }

        .add_request{
          @include box-sizing(border-box);
          height: 40px;
          color: #7f8c8c;
          background-color: #f5f5f5;
          padding-top: 12px;
          float: right;
          width: 20%;
          font-size: 13px;
          text-align: center;
          text-decoration: none;
        }
        .add_request:hover{text-decoration: none;}
      }

      .btn-toolbar{
        @include center-horizontally(80%);
        margin-bottom: 20px;

        a{
          @include proportions(85%,20px);
        }
        .requestWritingBox{
          width: 100%;
          overflow: visible;
          background-color:#CCAAAA;
          z-index: 1000;
          display: none;
          form{
            padding: 10px;
            .request_bar{
              @include center-horizontally(90%);
              height: 80px;
              margin-bottom: 0px;
            }
          }
        }
      }

      .requests_requestsList{
        @include center-horizontally(100%);
        overflow:auto;
        margin-top:10px;
        @include request;

        .request:last-child{
          border-bottom: $borde1px;
        }
      }
    }

    .user_container_alerts{
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      padding: 0px 5px;
      overflow: auto;
    }

  }
}

.new_request_style{
  background-color: #66AAEE;
}
