//GLOBAL VARIABLES
$omnibar-components-margin: 50px;
// $inline-login-field-width: 100px;

// $good-data-heigth: 25px;
// $image-text-margin: 5px;
$ppal-element-margin: 0 0 20px 0;
// $profile-card-element-margin: 0px 0px 20px 0px;
// $data-margin: 5px;
// $profile-card-icon-margin: 5px;
// $good-bottom-margin: 5px;
// $message-margin: 10px;
// $title-description-margin: 5px;
$expositor-element-margin: 5px;
$container-padding: 8px 30px;
$nav-link-padding: 0 10px;
$margin-auto: 0 auto;
// $inline-loggin-padding: 0px;
// $button-box-padding: 10px 5px;
$element-padding: 15px;
// $message-box-padding: 5px 10px;
// $text-box-padding: 15px;
// $title-padding: 5px 5px;
// $component-padding: 25px;
// $nav-link-padding: 12px 5px;
// $additional-control-padding: 5px;
$five-pix-radius: 5px;
$five-pix-padding: 5px;

$top-container-bezel-height: 30px;
$container-bgcolor: #b1d4e1;
$body-bgcolor: rgb(90,148,173);
$nav-selected: #b1d4e1;
$nav-font-color: #839091;
$red-button-bgcolor: rgb(231,74,57);
$blue-button-bgcolor: rgb(58,157,223);
$blue-font-color: blue;
$grey-bgcolor: rgb(230,230,230);
$blue-bgcolor: #b1d4e1;
$grey-button-bgcolor: rgb(183,183,183);
$grey-border-color: rgb(137,137,137);
$blue-nav-border-color: #9dc4d1;
$white-bgcolor: rgb(253,253,253);
$grey-shadow-color: #9bb3b8;
$dashboard-padding: 0 10px 0  0;
$avatar-request-image-width: 40px;
$item-image-width: 165px;
$general-shadow: $grey-shadow-color 1px 1px 2px, $grey-shadow-color -1px 1px 2px, $grey-shadow-color 0px -1px 2px;




//active_nav{
$active_nav-background-color: $nav-selected;
$active_nav-font-weight: bold;
$active_nav-font-size: $medium-font-size;
$active_nav-color: $white-font-color;


//REQUEST-LIST
$request-list-flotation: left;
$request-list-width: 100%;
$request-list-margin: $ppal-element-margin;
$request-list-bgcolor: $white-bgcolor;


//REQUEST
$request-flotation: left;
$request-width: 100%;
$request-margin: 5px 0 0 0;
$request-padding: 5px 5px 5px 5px;
$request-border-bottom: 1px solid $grey-border-color;
$request-controls-padding: 0px 5px 0px 0px;
$request-controls-alignment: right;


//REQUESTER
$requester-textarea-min-height: 38px;
$requester-textarea-border: 2px solid $container-bgcolor;
$requester-countdown-margin: 2px 0px 0px 0px;



//PROPOSAL
$proposal-border-bottom: 1px solid $grey-border-color;
$proposal-padding: 15px 15px 30px 15px;
$proposal-composer-goods-side-size: 65%;
$proposal-receiver-goods-side-size: 35%;
$proposal-composer-good-size: 165px;
$proposal-receiver-good-size: 70px;


//ITEM-FORM
$image-loader-width: 45%;
$image-descriptor-width: 55%;
$preview-background-color: transparent;
$image-selection-area-width: 48%;
$preview-box-margin: 0px 8px 60px 0px;
$add-image-container-margin: 0px 0px 4px 0px;
$preview-label-size: 25px;
$preview-label-margin: 0px 3px 0px 0px;
$preview-label-padding: 3px 0px 0px 0px;
$preview-label-background-color: black;
$preview-alignment: center;


//BASE
$body-float: left;
$body-display: block;
$body-overflow: auto;
$body-overflow-y: scroll;
$body-width: 100%;
$body-margin: 0;
$body-padding: 0;
$body-background-color: $body-bgcolor;


//MAIN
$main-float: left;
$main-overflow: visible;
$main-width: 100%;
$main-padding: $container-padding;


//FONTS
$body-font-family: 'Roboto';
$body-line-height: 20px;
$small-font-size: 12px;
$medium-font-size: 14px;
$big-font-size: 16px;
$black-font-color: black;
$grey-font-color: rgb(153,153,153);
$white-font-color: rgb(253,253,253);



//IMAGES
$profile-card-image-size: 92px;
$offer-avatar-image-size: 48px;
$omnibar-avatar-image-size: 40px;

$profile-card-head-image-radius: $five-pix-radius $five-pix-radius 0px 0px;
$item-image-size: 155px;
$receiver-good-image-size: 60px;



//BUTTONS
$button-height: 30px;
$send-button-height: 20px;
$send-button-margin-top: 4px;



//AVATAR-GENERAL
$user-fullname-padding: 0;
$user-location-padding: 0;

//AVATAR-OMNIBAR
$avatar-omnibar-width: 15%;

//AVATAR-PROFILE-CARD
$avatar-profile-card-height: 70px;
$avatar-profile-card-image-padding: 6px;

//AVATAR-REQUEST
$request-avatar-size: 40px;


//TEXT-CONTAINER
$centered-text-padding: 0 5px 0 5px;

//INLINE-LOGOUT
$inline-logout-width: 10%;
$inline-logout-icon-size: 25px;


//SEARCH
$search-width: 25%;
$search-alignment: center;


//PROFILE-CARD
$profile-card-border-radius: $five-pix-radius;
$profile-card-margin: $ppal-element-margin;
$profile-card-bgcolor: $white-bgcolor;
$profile-card-box-shadow: $general-shadow;


//OMNIBAR
$omnibar-bgcolor: transparent;
$omnibar-navigation-width: 35%;
$omnibar-navigation-alignment: center;


//BUSINESS-INFO
$bussines-info-radius: $five-pix-radius;
$bussines-info-padding: $five-pix-padding;
$bussines-info-text-align: center;
$bussines-info-shadow: $general-shadow;
$bussines-info-bgcolor: $white-bgcolor;
$bussines-info-font-weight: regular;
$bussines-info-font-size: $big-font-size;
$bussines-info-font-color: $grey-font-color;


//DASHBOARD
$dashboard-width: 25%;
$dashboard-radius: $five-pix-radius;
$dashboard-padding: $five-pix-padding;
$dashboard-text-align: center;
$dashboard-shadow: $general-shadow;
$dashboard-bgcolor: $blue-bgcolor;
$dashboard-font-weight: regular;
$dashboard-font-size: $big-font-size;
$dashboard-font-color: $grey-font-color;

//BEZEL

//DASHBOARD-COMPONENT-TITLE
$dashboard-component-title-padding: 5px 0 0 0;
$dashboard-component-title-text-align: center;
$dashboard-component-title-height: 30px;

//EXPOSITOR
$expositor-width: calc(75% - 20px);

//EXPOSITOR-NAV-NAVIGATION-LI
$expositor-navigation-lib-padding-top: ($top-container-bezel-height - $medium-font-size)/2 - 4px;
$expositor-navigation-lib-border-right: 2px solid $blue-nav-border-color;

//ITEM
$item-margin: 0 10px 10px 0;
$item-padding: 5px;

//ITEM-IMAGE
$item-image-border: 1px solid $grey-border-color;

//PRODUCT
$product-margin: 0 0px 10px 0;

//PRODUCT-IMAGE
$product-image-border: 1px solid $grey-border-color;

//OFFER
$offer-width: 285px;

//TITLE
$title-height: 25px;
$title-background-color: rgb(205,205,205);
$title-border-bottom: 1px solid $grey-border-color;
$title-padding: 5px 0px 0px 0px;
$title-text-align: center;

//OFFER-MESSAGE
$offer-message-min-height: 50px;
$offer-message-text-align: left;
$offer-message-background: transparent;


//OFFER-CONTROLS
$offer-controls-padding: 5px;
$offer-controls-background: transparent;



//TEXTS
//user-data
$user-data-font-weight: regular;
$user-data-font-size: $medium-font-size;
$user-data-color: $white-font-color;
$user-data-padding: $centered-text-padding;
$user-data-text-align: left;

//user-nick{
$user-nick-padding: $user-fullname-padding;
$user-nick-text-align: center;
$user-nick-font-weight: regular;
$user-nick-font-size: $big-font-size;
$user-nick-color: $black-font-color;

//user-location{
$user-location-padding: $user-location-padding;
$user-location-text-align: center;
$user-location-font-weight: regular;
$user-location-font-size: $big-font-size;
$user-location-color: $grey-font-color;

//message-text{
$message-text-padding: $centered-text-padding;
$message-text-text-align: left;
$message-text-font-weight: regular;
$message-text-font-size: $medium-font-size;
$message-text-color: $grey-font-color;

//title{
$title-height: $title-height;
$title-padding: $centered-text-padding;
$title-text-align: center;
$title-font-weight: bold;
$title-font-size: $big-font-size;
$title-color: $white-font-color;
$title-background-color: $title-background-color;
$title-border-bottom:  $title-border-bottom;

//controls{
$controls-padding: $request-controls-padding;
$controls-font-weight: regular;
$controls-font-size: $small-font-size;
$controls-color: $blue-font-color;
$controls-font-size: $small-font-size;
$controls-color: $blue-font-color;
$controls-text-align: $request-controls-alignment;



//timestamp{
$timestamp-padding: $request-controls-padding;
$timestamp-font-weight: regular;
$timestamp-font-size: $small-font-size;
$timestamp-color: $blue-font-color;
$timestamp-font-size: $small-font-size;
$timestamp-color: $blue-font-color;
$timestamp-text-align: right;


//description{
$description-padding: $centered-text-padding;
$description-text-align: center;
$description-font-weight: regular;
$description-font-size: $medium-font-size;
$description-color: $grey-font-color;


//good-name{
$good-name-font-weight: regular;
$good-name-font-size: $big-font-size;
$good-name-color: $grey-font-color;


//welcome-info
$welcome-info-font-size: $medium-font-size;
$welcome-info-font-weight: regular;
$welcome-info-color: $white-font-color;


//logo-image
$logo-image-height: 40px;
$logo-image-width: 150px;

//omnibar-user-image
$omnibar-user-image-height: $omnibar-avatar-image-size;
$omnibar-user-image-width: $omnibar-avatar-image-size;

//request-user-image
$request-user-image-height: $request-avatar-size;
$request-user-image-width: $request-avatar-size;

//icon-image
$icon-image-height: 40px;
$icon-image-width: 150px;

//composer-good-image
$composer-good-image-height: $item-image-size;
$composer-good-image-width: $item-image-size;
$composer-good-image-border: $product-image-border;

//receiver-good-image
$receiver-good-image-height: $receiver-good-image-size;
$receiver-good-image-width: $receiver-good-image-size;
$receiver-good-image-border: $product-image-border;

//profile-card-composition-image

//profile-card-user-image
$profile-card-user-image-border: 1px solid $grey-border-color;


//negotiation-user-image
$negotiation-user-image-height: 64px;
$negotiation-user-image-width: 64px;

//deal-user-image
$deal-user-image-height: 64px;
$deal-user-image-width: 64px;

//message-user-image
$message-user-image-height: 40px;
$message-user-image-width: 40px;

//offer-user-image
$offer-user-image-border: 1px solid $grey-border-color;

//good-image
$good-image-height: $item-image-size;
$good-image-width: $item-image-size;
$good-image-border: $item-image-border;
$good-image-radius: 5px 5px 0px 0px;

//factory-model-image
$factory-model-image-height: 300px;
$factory-model-image-width: 300px;

//factory-snapshot-image
$factory-snapshot-image-height: 80px;
$factory-snapshot-image-width: 80px;

//showcase-choice-image
$showcase-choice-image-height: 120px;
$showcase-choice-image-width: 120px;

//showcase-display-image
$showcase-display-image-height: 500px;
$showcase-display-image-width: 500px;
