<% negotiation_messages(negotiation).each do |message| %>
  <div class="comment">
    <div class="comment_user_image">
      <%= image_tag(message_image(message)) %>
    </div>
    <div class="comment_text">
      <%= message_text(message) %>
    </div>
    <div class="comment_datetime">
      <%= message_datetime(message) %>
    </div>
  </div>
<% end %>