<div class="right_container" id="rightContainer">

  <section class="main_container" id="content-side">

    <% if (controller.controller_name === "alerts") %>
      <%= render :partial => 'application/search_bar' %>
    <% else %>
      <nav class="nav_bar" id="navigation_bar">
        <%= ppal_navigation_for_user(@user) %>
      </nav>
    <% end %>

    <aside class="main_container_elementList" id="ppal_container" offerWidth="286">
      <%= yield %>
    </aside>

  </section>

</div>