= form_for @negotiation do |form|
  = render partial: shared_partial('proposal_form'),
           layout:  shared_layout('proposal_form'),
           locals:  { form:form, proposal:negotiation.proposal }
