<% @negotiations.each do |negotiation| %>
  <div class="table" id="table<%= negotiation._id %>">  
    <div class="proposition_side">
      <div class="proposition">
         <div class="proposition_header">
          <div class="triangle"></div>
          <div class="profile_image">
            <%#= proposal.composer.profile.image %></div>
        </div>
        <div class="offered_things">
          
          <%# negotiation.proposal.composer.products.each do |product| %>
            <div class="offered_product">
              <div class="product-image"><%#= product.main_image %></div>
              <div class="product-title"><%#= product.name %></div>
            </div>             
          <%# end %>
          
          <div class="orderer_money">
            <%#= negotiation.proposal.money.quantity %>
          </div>
        </div>
        <div class="orderer_things">
          
          <%# negotiation.proposal.receiver.products.each do |thing| %>
            <div class="orderer_product">
              <div class="product-image"><%#= thing.main_image %></div>
              <div class="product-title"><%#= thing.name %></div>
            </div>          
          <%# end %>
          
          <div class="orderer_money">
            <%#= negotiation.proposal.money.quantity %>
          </div>
        </div>      
      </div>
      <div class="actions">
        <div class="reputation">                
        </div>
        <div class="action_buttons"> 
          <button>aceptar</button>               
        </div>
      </div>
    </div>
    <div class="dialog_side">
      <div class="dialog_head">
        <div class="dialogin">Conversation...</div>
      </div>
      <div class="conversation" id="conversationoftable">
        <!-- aqui viene el javascript que rellena la conversacion con los comments -->
        <div class="comment">
          <div class="comment_user_image">                  
          </div>
          <div class="comment_text">                  
          </div>
        </div>      
      </div>
      
      <div class="writting_box">
        <form action="">
          <div class="message">
            <input type="">                
          </div>
          <div class="sender">
            <input type="">
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>

  
