<%= <%= div_for(@negotiation, :class => "table") do %>  
  <div class="proposition_side">
    <div class="proposition">
       <div class="proposition_header">
        <div class="triangle"></div>
        <div class="profile_image"></div>
      </div>
      <div class="offered_things">
        <div class="offered_product">
          <div class="product-image">
          </div>
          <div class="product-title">      
          </div>
        </div>                
        <div class="offered_product">
          <div class="product-image">
          </div>
          <div class="product-title">       
          </div>
        </div>
      </div>
      <div class="orderer_things">
        <div class="orderer_product">
        </div>
        <div class="orderer_money">120€                
        </div>
      </div>
      <div class="orderer_things">
        <div class="orderer_product">
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="reputation">                
      </div>
      <div class="action_buttons"> 
      <button>aceptar</button>               
      </div>
    </div>
  </div>
  <div class="dialog_side">
    <div class="dialog_head">
      <div class="dialogin">Conversation...</div>
    </div>
    <div class="conversation" id="conversationoftable">
      <div class="comment">
        <div class="comment_user_image">                  
        </div>
        <div class="comment_text">                  
        </div>
      </div>
      <div class="comment">
        <div class="comment_user_image">                  
        </div>
        <div class="comment_text">                 
        </div>
      </div>
      <div class="comment">
        <div class="comment_user_image">                  
        </div>
        <div class="comment_text">                 
        </div>
      </div>
    </div>
    <div class="writting_box">
      <form action="">
        <div class="message">
          <input type="">                
        </div>
        <div class="sender">
          <input type="">
        </div>
      </form>
    </div>
  </div>
<% end %>

  
