<section class="contentside" id="content-side">

  <%= yield :contentside_header %>

  <aside class="contentside_elementList" id="ppal_container">
    <%= render @negotiations %><!-- Helper que itera sobre _negotiation.html.erb -->
  </aside>

</section>