//Contenido que debe cargar esta seccion: OFERTAS
$("#leftContainer").replaceWith("<%=j render :partial => 'application/user_container' %>");
$("#navigation_bar").html("<%=j render 'application/navigation_bar' %>");
$("#ppal_container").html("<%=j render 'negotiation_list' %>");


//Carga sus funciones especificas de dibujado
$('.negotiation').regulateWidth();
$('.negotiation').maximizeConversationWidth();
$('.negotiation').maximizeConversationsHeights();
$('.negotiation').activateNegotiationButtons();
$('.negotiation').disableDoubleScrolling();
$('.negotiation').focusNegotiationWritebox();
$('.negotiation').scrollConversation();

//$('.negotiation').conectToObjectPusherChannel();
destroyMasonry();



//Inicio sesion en pusher para el tema de los mensajes,
//Esto luego ira en un script en application.html para usar pusher para las notificaciones
// Enable pusher logging - don't include this in production
Pusher.log = function(message) {
  if (window.console && window.console.log) {
    window.console.log(message);
  }
};

var pusher = new Pusher('f34baa838c2708acbd0f');
var channel = pusher.subscribe('my_channel');

channel.bind('my_event', function(data) {
	$('.negotiation').find('#conversationofnegotiation').append("<p>mensaje con pusher</p>");
});