//Lo primero es eliminar las modales que se hayan podido quedar perdidas
// $('#new-offer-form').remove();
// $('#edit-offer-form').remove();
$('#edit-negotiation-form').remove();

//Cargo en el contenedor principal los datos nuevos y destruyo el masonry.
$('#ppal_container').html("<%= escape_javascript(render @negotiations).html_safe %>");
$(body).scrollTop(0);

//Carga sus funciones especificas de dibujado
$('.negotiation').regulateAsNegotiation();

//Controlo el evento de ponerse encima de un item
$('.image_container').hideTitle();

var negotiation_id = "<%= id(@negotiation) %>";

$('#ppal_container')
.find("#"+negotiation_id)
.prepend('<div class="edited_layer"></div>')
.find('.edited_layer')
.animate({backgroundColor: '#ffffff'}, 3000, function(){
  $(this).remove();
});
