<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_negotiation_path(@negotiation) %> |
<%= link_to 'Back', negotiations_path %>


<!-- podemos hacerle un zoom y no utilizar ni la vista ni el controlador de del show -->