<%= render 'layouts/soft_header_navigation' %>

<div class="mainlayout">

    <%= render partial: 'layouts/userside' %>

    <%= render partial: 'layouts/contentside' %>
    
    <footer>@copyright derechos reservados a improcex ingenieria informatica s.l.</footer>

</div> 