<section class="contentside" id="content-side">

  <%= render :partial => 'layouts/subnavigation' %>

  <aside class="contentside_elementList" id="ppal_container">
    <%= yield %>
  </aside>

</section>