<div class="new_offer_content" id="new-offer-form">
    <div class="new_offer_title">
      <div class="icon"></div>
      <div class="description">Crear Oferta</div>
    </div>
    <div class="his_products">
      <div class="title">
        <div class="user_image"></div>
        <div class="description">Sus productos</div>        
      </div>
      <div class="monney">
        <textarea name="" id="" cols="1" rows="1">Cantidad que pides</textarea>
        <button>
        </button>
      </div>
      <div class="product_container">
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="offer_summary">
      <div class="title">
        <div class="description">Resumen de la oferta</div>        
      </div>
      <div class="summary">        
        <div class="summary_header">          
          <div class="summary_header_image">
          </div>
          <div class="summary_header_text">
            <div class="nombre_usuario">Sergio</div>
            <textarea name="" id="" cols="5" rows="2"></textarea>
          </div>
          <div class="triangle"></div>
        </div>

        <div class="summary_body">          
          <div class="summary_body_products_given">            
            <div class="product_given">              
              <div class="product_given_imagen">
              </div>
              <div class="product_given_title">
              </div>
            </div>
          </div>

          <div class="summary_body_produts_recieved">            
              <div class="produt_recieved">
                <div class="produt_recieved_image">
                </div>
                <div class="produt_recieved_title">
              </div>
           </div>            
          </div>         
        </div>

      </div>
        <div class="summary_footer">
          <button type="button" name="boton" value="" class="addofferbutton">
            Enviar Oferta
          </button>                  
        </div>
    </div>


    <div class="my_products">
      <div class="title">
        <div class="user_image"></div>
        <div class="description">Mis productos</div>       
      </div>
      <div class="monney">
        <button >
        </button>
        <textarea name="" id="" cols="1" rows="1">Cantidad que ofreces</textarea>

      </div>
      <div class="product_container">
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
        <div class="product">
          <div class="product-image">
          </div>
          <div class="product-title">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

  </div>