<div class="new_petition_content" id="new-request-form">
  <div class="new_petition_title">
    <div class="icon"></div>
    <div class="description">Nueva Petición</div>
  </div> 
  <div class="new_offer_text">
    <textarea name="" id="" cols="30" rows="10">
      nueva peticion
    </textarea>
  </div>
  <div class="send_button">
    <button type="button" name="boton" value="" class="addofferbutton">
      Enviar Petición
    </button>
  </div>   
</div>  
