<div class="new_petition_content" id="new-request-form">
  <%= form_for [current_user,@request] do |form| %>
    <div class="new_petition_title">
      <div class="icon">
        <%= image_tag(@user.profile.image) %>
      </div>
      <div class="description">Nueva Petición</div>
    </div> 
    <div class="new_offer_text">
      <textarea name="" id="" cols="30" rows="10">
        nueva peticion
      </textarea>
    </div>
    <div class="action">      
      <%= form.submit %>
    </div> 
  <% end %>  
</div>  
