<% current_user.requests.each do |request| %>
  <div class="request">
    <div class="profile_image">      
      <%= image_tag(request.image) %>
    </div>
    <div class="description"><%= request.text %></div>
  </div>
<% end %>
 