<div class="mainlayout">
  <%= render partial: 'layouts/global_partials/header' %>
  <%= render partial: 'layouts/global_partials/main_container' %>
  <%= render partial: 'layouts/global_partials/footer' %>
</div>