<%= render partial: 'layouts/global_partials/header' %>

<div class="clearfix mainlayout" id="mainLayout">
  <%= render partial: 'layouts/global_partials/main_container' %>
  <%= render partial: 'layouts/global_partials/footer' %>
</div>