<%= render 'layouts/soft_header_navigation' %>

<div class="mainlayout">

    <div class="result_zone"> 

      <%= yield %> 

    </div>
    
    <footer>@copyright derechos reservados a improcex ingenieria informatica s.l.</footer>

</div>