<% content_for :userside do %>

  <section class="userside" id="user-side">
    
    <aside class="userside_profile">
      <div class="image"></div>
      <div class="user_name">user_name</br>user_nationality</div>
      <a href="newOffer.html" target="_blank">
        <button id="new-offer" class="profile_button">nueva oferta</button>
      </a>
      <nav class="profile_menu">
        <div class="menu_icon"><a href="profile.html">perfil</a></div>
        <div class="menu_icon"><a href="products.html">prod</a></div>
        <div class="menu_icon"><a href="alerts.html">alertas</a></div>
      </nav>
    </aside>
    
    <aside class="userside_requests">
        <a href="newrequest.html">
          <button id="new-request" class="add_request_button">Nueva Petición
          </button>
        </a>
      <aside class="requests_requestsList">
        <% @requests.each do |offer| %>
          <div class="request">
            <div class="profile_image"></div>
            <div class="description"></div>
          </div> 
          <tr>
            <td><%= link_to 'Show', offer %></td>
            <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
            <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>                
      </aside>
    </aside>
      
  </section>

<% end %>
